<div class="block"><p>Блок Давления БД-1&nbsp;(далее БД-1)&nbsp;предназначен для автоматизации процесса проведения прессиометрических испытаний грунтов при работе с&nbsp;электровоздушным прессиометром <a href="/complect/&#x41F;&#x42D;&#x412;">ПЭВ-89МК</a>.</p>
<p>Использование Блока Давления позволяет снизить трудоёмкость прессиометрических испытаний, так как в&nbsp;этом случае задание давления на&nbsp;ступени и&nbsp;его контроль при выдержке до&nbsp;стабилизации выполняются автоматически без участия Оператора.</p>
<p>Блок БД-1&nbsp;работает под управлением контроллера ТЕСТ-ПРК v.21, который входит в&nbsp;комплект ПЭВ-89МК и&nbsp;используется для протоколирования результатов испытаний и&nbsp;их&nbsp;передачи в&nbsp;ПК&nbsp;для обработки.</p>
<p>Для работы с&nbsp;блоком БД-1&nbsp;в&nbsp;штатный контроллер ТЕСТ-ПРК v.21&nbsp;необходимо прошить новую версию ПО, но&nbsp;для установки нового ПО&nbsp;пригодны только комплекты ПЭВ-89МК, выпущенные после 2010&nbsp;года.</p>
<p>После обновления ПО, прибор ТЕСТ-ПРК v.21&nbsp;полностью сохраняет возможность проведения испытаний в&nbsp;ручном режиме.</p>
<p>После формирования задания на&nbsp;опыт и&nbsp;ввода Исходных данных в&nbsp;контроллер, блок давления БД-1&nbsp;по&nbsp;командам контроллера выполняет следующие действия:</p>
<ol>
<li>включает электрокомпрессор и&nbsp;закачивает воздух в&nbsp;ресивер;</li>
<li>задаёт первую ступень давления для обжатия стенок скважины;</li>
<li>задаёт рядовые ступени и&nbsp;поддерживает давление до&nbsp;выполнения критерия стабилизации;</li>
<li>снижает давление заданными ступенями при выполнении режима разгрузки и&nbsp;повторного нагружения;</li>
<li>подкачивает воздух при выравнивании давлений в&nbsp;зонде и&nbsp;ресивере;</li>
<li>автоматически сбрасывает давление в&nbsp;зонде при завершении опыта.</li>
</ol>
<p/>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/BD1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/BD1_gs.jpg)" alt="Фото №1" title="Внешний вид Блока Давления БД-1"></div>
</a>
<div class="slide-text">Внешний вид Блока Давления БД-1</div>
</div>
<div class="slide">
<a href="/i/BD2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/BD2_gs.jpg)" alt="Фото №2" title="Передняя панель прибора БД-1"></div>
</a>
<div class="slide-text">Передняя панель прибора БД-1</div>
</div>
<div class="slide">
<a href="/i/BD3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/BD3_gs.jpg)" alt="Фото №3" title="Задняя панель прибора БД-1"></div>
</a>
<div class="slide-text">Задняя панель прибора БД-1</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, В</td>
<td>от&nbsp;12&nbsp;до&nbsp;15</td>
</tr>
<tr>
<td>Средний ток потребления, мА</td>
<td>300</td>
</tr>
<tr>
<td>Степень защиты</td>
<td>IP54</td>
</tr>
<tr>
<td>Диапазон рабочих температур, °C</td>
<td>-20..+40</td>
</tr>
<tr>
<td>Габаритные размеры, мм</td>
<td>100х170х200</td>
</tr>
<tr>
<td>Масса комплекта (без аккумулятора), кг, не&nbsp;более</td>
<td>2</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>При работе комплекта ПЭВ 89МК+БД-1&nbsp;без электрокомпрессора для закачки воздуха в&nbsp;пневмоаккумулятор используют ручной насос. Блок БД-1, в&nbsp;данном случае, выполняет все свои основные функции по&nbsp;автоматизации опыта, а&nbsp;для электропитания такого комплекта достаточно штатного аккумулятора 12&nbsp;Вольт /<nobr>12&ndash;25</nobr> А*ч и&nbsp;кабеля БД-Р.</p>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Блок давления БД-1</td>
<td>1</td>
</tr>
<tr>
<td>Кабель к&nbsp;контроллеру БД-К</td>
<td>1</td>
</tr>
<tr>
<td>Кабель к&nbsp;аккумулятору БД-А</td>
<td>1</td>
</tr>
<tr>
<td>Кабель к&nbsp;аккумулятору БД-Р</td>
<td>1</td>
</tr>
<tr>
<td>Пневмошланг БД-А</td>
<td>1</td>
</tr>
<tr>
<td>Пневмошланг БД-Б</td>
<td>1</td>
</tr>
<tr>
<td>Аккумулятор 12В, не&nbsp;менее 35Ач, с&nbsp;типом клемм EN&nbsp;(стандартная)*</td>
<td>1</td>
</tr>
<tr>
<td>Руководство по&nbsp;эксплуатации</td>
<td>1</td>
</tr>
<tr>
<td>Тара для транспортировки и&nbsp;хранения</td>
<td>1</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>*Поставляется по&nbsp;согласованию.</p>
</div><div class="block"><h2><span>Устройство БД-1</span></h2>
<p>На&nbsp;передней панели расположены:</p>
<ol>
<li>гнездо &laquo;КОНТР.&raquo; для подключения контроллера ТЕСТ-ПРК v.21;</li>
<li>тумблер &laquo;КОМПР.&raquo; позволяет вручную поднять давление в&nbsp;ресивере, включив компрессор.</li>
</ol>
<p>Тумблер не&nbsp;имеет фиксации, поэтому его необходимо удерживать в&nbsp;процессе подкачки.</p>
<p>В&nbsp;процессе автоматической подкачки ресивера, зажигается индикатор.</p>
<ol>
<li>тумблер &laquo;ПИТ.&raquo; осуществляет подачу электрического питания на&nbsp;БД-1&nbsp;и&nbsp;контроллер.</li>
</ol>
<p>При подаче питания на&nbsp;прибор зажигается зеленый индикатор.</p>
<p>На&nbsp;задней панели расположены:</p>
<ol>
<li>гнездо &laquo;АКК.&raquo; для подключения аккумулятора;</li>
<li>предохранитель &laquo;ПР.&raquo;,  30А;</li>
<li>гнездо &laquo;КОМПР.&raquo; для подключения компрессора;</li>
<li>гнездо &laquo;БАЛЛОН&raquo;, для подключения ресивера;</li>
<li>пневматическое гнездо &laquo;ПЭВН&raquo;, для подключения пневмомагистрали зонда прессиометра.</li>
</ol>
</div><div class="block"><h2><span>Работа комплекта ПЭВ-89МК совместно с&nbsp;блоком БД-1</span></h2>
<p>Перед началом работы необходимо выполнить сборку комплекта согласно схеме соединений:</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/BD4.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/BD4_gs.png)" alt="Фото №1" title="Схема соединений"></div>
</a>
<div class="slide-text">Схема соединений</div>
</div>
</div>
<p/>
<p>Зонд прессиометр ПЭВ-89МК устанавливают на&nbsp;отметку испытания и&nbsp;включают тумблер &laquo;ПИТ.&raquo;.</p>
<p>Одновременно с&nbsp;загрузкой ПО&nbsp;контроллера ТЕСТ-ПРК v.21, происходит подкачка ресивера.</p>
<p>Переход к&nbsp;работе с&nbsp;блоком БД-1&nbsp;осуществляется через сервисное меню контроллера. Подробнее данная процедура описана в&nbsp;руководстве пользователя на&nbsp;комплект ПЭВ-89МК+БД-1.</p>
<p>Если работа в&nbsp;автоматическом режиме разрешена, то&nbsp;контроллер после сообщения &laquo;F-ТЕСТОВЫЙ РЕЖИМ&raquo; показывает сообщение &laquo;РАБОТА С&nbsp;БЛОКОМ ДАВЛЕНИЯ БД-1&raquo;.</p>
<p>Ввод Исходных данных опыта выполняется согласно инструкции на&nbsp;прессиометр электровоздушный ПЭВ-89МК.</p>
<p>Выполнение испытания начинается после команды на&nbsp;выполнение опыта.</p>
<p>При использовании электрокомпрессора опыт выполняется автоматически до&nbsp;его завершения. При этом ход опыта и&nbsp;данные измерений, в&nbsp;режиме реального времени, представлены на&nbsp;мониторе контроллера ТЕСТ-ПРК v.21.</p>
<p>При работе с&nbsp;комплектом ПЭВ-89МК+БД-1&nbsp;без электрокомпрессора, при выравнивании давлений в&nbsp;зонде и&nbsp;пневмоаккумуляторе, на&nbsp;мониторе прибора появляется сообщение: &laquo;ПОДНЯТЬ ДАВЛЕНИЕ В&nbsp;БАЛЛОНЕ!!!&raquo;. Получив такое сообщение, Оператор выполняет подкачку с&nbsp;помощью ручного насоса. После закачки воздуха, опыт будет продолжен автоматически до&nbsp;завершения.</p>
<p>Опытные данные сохраняются в&nbsp;приборе ТЕСТ-ПРК v.21&nbsp;и&nbsp;передаются в&nbsp;программу PressPW для обработки и&nbsp;формирования Протокола испытания.</p>
<p>Блок давления может поставляться дополнительно к&nbsp;приобретённым ранее комплектам прессиометра ПЭВ-89МК, в&nbsp;том числе и&nbsp;выпущенным до&nbsp;2010&nbsp;года, с&nbsp;заменой или поставкой дополнительного контроллера ТЕСТ-ПРК v.21.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/PEV+BD.pdf" target="_blank">Блок Давления БД-1&nbsp;(PDF)</a></p>
</div>