<div class="block"><p>Блок Давления БД-1&nbsp;(далее БД-1)&nbsp;предназначен для автоматизации процесса проведения штамповых испытаний грунтов при работе с&nbsp;комплектом регистрации пневматическим <a href="/complect/&#x428;&#x412;_&#x41A;&#x420;&#x41F;">КРП1</a>.</p>
<p>Использование Блока Давления позволяет снизить трудоёмкость штамповых испытаний, так как в&nbsp;этом случае установка давления на&nbsp;ступени и&nbsp;его контроль при выдержке до&nbsp;стабилизации выполняются автоматически без участия Оператора.</p>
<p>Блок БД-1&nbsp;работает под управлением контроллера ТЕСТ-ШВК v.18, который входит в&nbsp;комплект КРП1&nbsp;и&nbsp;используется для протоколирования результатов испытаний и&nbsp;их&nbsp;передачи в&nbsp;ПК&nbsp;для обработки.</p>
<p>После формирования задания на&nbsp;опыт и&nbsp;ввода Исходных данных в&nbsp;контроллер, блок давления БД-1&nbsp;по&nbsp;командам контроллера выполняет следующие действия:</p>
<ol>
<li>включает электрокомпрессор и&nbsp;закачивает воздух в&nbsp;ресивер;</li>
<li>задаёт первую ступень давления;</li>
<li>задаёт рядовые ступени и&nbsp;поддерживает давление до&nbsp;выполнения критерия стабилизации;</li>
<li>снижает давление заданными ступенями при выполнении режима разгрузки и&nbsp;повторного нагружения;</li>
<li>подкачивает воздух при выравнивании давлений в&nbsp;системе;</li>
<li>автоматически сбрасывает давление в&nbsp;системе при завершении опыта.</li>
</ol>
<p/>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/BD_SH.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/BD_SH_gs.jpg)" alt="Фото №1" title="Внешний вид Блока Давления БД-1"></div>
</a>
<div class="slide-text">Внешний вид Блока Давления БД-1</div>
</div>
<div class="slide">
<a href="/i/BD_SH1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/BD_SH1_gs.jpg)" alt="Фото №2" title="Передняя панель прибора БД-1"></div>
</a>
<div class="slide-text">Передняя панель прибора БД-1</div>
</div>
<div class="slide">
<a href="/i/BD_SH2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/BD_SH2_gs.jpg)" alt="Фото №3" title="Задняя панель прибора БД-1"></div>
</a>
<div class="slide-text">Задняя панель прибора БД-1</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, В</td>
<td>от&nbsp;12&nbsp;до&nbsp;15</td>
</tr>
<tr>
<td>Средний ток потребления, мА</td>
<td>300</td>
</tr>
<tr>
<td>Степень защиты</td>
<td>IP54</td>
</tr>
<tr>
<td>Диапазон рабочих температур, °C</td>
<td>-20..+40</td>
</tr>
<tr>
<td>Габаритные размеры, мм</td>
<td>100х170х200</td>
</tr>
<tr>
<td>Масса комплекта (без аккумулятора), кг, не&nbsp;более</td>
<td>2</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>При работе комплекта КРП1+БД-1&nbsp;без электрокомпрессора для закачки воздуха в&nbsp;пневмоаккумулятор используют ручной насос. Блок БД-1, в&nbsp;данном случае, выполняет все свои основные функции по&nbsp;автоматизации опыта, а&nbsp;для электропитания такого комплекта достаточно штатного аккумулятора 12&nbsp;Вольт /<nobr>12&ndash;25</nobr> А*ч Р.</p>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Блок давления БД-1</td>
<td>1</td>
</tr>
<tr>
<td>Кабель к&nbsp;контроллеру БД-К</td>
<td>1</td>
</tr>
<tr>
<td>Кабель к&nbsp;аккумулятору БД-А</td>
<td>1</td>
</tr>
<tr>
<td>Пневмомагистраль</td>
<td>2</td>
</tr>
<tr>
<td>Компрессор*</td>
<td>1</td>
</tr>
<tr>
<td>Аккумулятор 12В, не&nbsp;менее 35Ач, с&nbsp;типом клемм EN&nbsp;(стандартная)*</td>
<td>1</td>
</tr>
<tr>
<td>Руководство по&nbsp;эксплуатации</td>
<td>1</td>
</tr>
<tr>
<td>Тара для транспортировки и&nbsp;хранения</td>
<td>1</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>*Поставляется по&nbsp;согласованию.</p>
</div><div class="block"><h2><span>Устройство БД-1</span></h2>
<p>На&nbsp;передней панели расположены:</p>
<ol>
<li>гнездо &laquo;КОНТР.&raquo; для подключения контроллера ТЕСТ-ШВК v.18;</li>
<li>тумблер &laquo;КОМПР.&raquo; позволяет вручную поднять давление в&nbsp;ресивере, включив компрессор.</li>
</ol>
<p>Тумблер не&nbsp;имеет фиксации, поэтому его необходимо удерживать в&nbsp;процессе подкачки.</p>
<p>В&nbsp;процессе автоматической подкачки ресивера, зажигается индикатор.</p>
<ol>
<li>тумблер &laquo;ПИТ.&raquo; осуществляет подачу электрического питания на&nbsp;БД-1&nbsp;и&nbsp;контроллер.</li>
</ol>
<p>При подаче питания на&nbsp;прибор зажигается зеленый индикатор.</p>
<p>На&nbsp;задней панели расположены:</p>
<ol>
<li>гнездо &laquo;АКК.&raquo; для подключения аккумулятора;</li>
<li>предохранитель &laquo;ПР.&raquo;,  30А;</li>
<li>гнездо &laquo;КОМПР.&raquo; для подключения компрессора;</li>
<li>гнездо &laquo;БАЛЛОН&raquo;, для подключения ресивера;</li>
<li>пневматический разъём &laquo;ПЭВН&raquo;, для подключения пневмомагистрали.</li>
</ol>
</div><div class="block"><h2><span>Работа комплекта рагистрации КРП1&nbsp;совместно с&nbsp;Блоком Давления БД-1</span></h2>
<p>Перед началом работы необходимо выполнить сборку комплекта согласно схеме соединений:</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/BD_SH3.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/BD_SH3_gs.png)" alt="Фото №1" title="Схема соединений"></div>
</a>
<div class="slide-text">Схема соединений</div>
</div>
</div>
<p/>
<p>Далее, на&nbsp;Блоке Давления БД-1&nbsp;включают тумблер &laquo;ПИТ.&raquo;. Автоматически происходит подача напряжения на&nbsp;контроллер. Блоке Давления зажигается зелёный индикатор.</p>
<p>Одновременно с&nbsp;загрузкой ПО&nbsp;контроллера ТЕСТ-ШВК v.18, происходит подкачка ресивера.</p>
<p>Переход к&nbsp;работе с&nbsp;блоком БД-1&nbsp;осуществляется через сервисное меню контроллера. Подробнее данная процедура описана в&nbsp;руководстве пользователя на&nbsp;комплект КРП1+Блок Давления БД-1.</p>
<p>Если работа в&nbsp;автоматическом режиме разрешена, то&nbsp;контроллер после сообщения &laquo;ТЕСТ-Ш18&raquo; показывает сообщение &laquo;РАБОТА С&nbsp;БЛОКОМ ДАВЛЕНИЯ&raquo;.</p>
<p>Перед испытанием, в&nbsp;контроллер вводятся исходные данные опыта, на&nbsp;основании которых контроллер выбирает нагрузочные и&nbsp;временные параметры.</p>
<p>Выполнение испытания начинается после команды на&nbsp;выполнение опыта.</p>
<p>При использовании электрокомпрессора опыт выполняется автоматически до&nbsp;его завершения. При этом ход опыта и&nbsp;данные измерений, в&nbsp;режиме реального времени, представлены на&nbsp;мониторе контроллера ТЕСТ-ШВК v.18.</p>
<p>При работе с&nbsp;комплектом КРП1+Блок Давления БД-1&nbsp;без электрокомпрессора, при выравнивании давлений в&nbsp;зонде и&nbsp;пневмоаккумуляторе, на&nbsp;мониторе прибора появляется сообщение: &laquo;ПОДНЯТЬ ДАВЛЕНИЕ В&nbsp;БАЛЛОНЕ!!!&raquo;. Получив такое сообщение, Оператор выполняет подкачку с&nbsp;помощью ручного насоса.</p>
<p>После закачки воздуха, опыт будет продолжен автоматически до&nbsp;завершения.</p>
<p>Опытные данные сохраняются в&nbsp;приборе ТЕСТ-ШВК v.18&nbsp;и&nbsp;передаются в&nbsp;программу <a href="/complect/Pneumator">Pneumator</a> для обработки и&nbsp;формирования Протокола испытания.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/BD_SH.pdf" target="_blank">Блок Давления БД-1&nbsp;(PDF)</a></p>
</div>
</div>