<div class="block"><p>Комплект БПД1&nbsp;(бескабельной передачи данных зондирования) предназначен для работы с&nbsp;цифровыми зондами <a href="/row/75a2803b7e8e9cc053fd80977bddc924">А<nobr>3&ndash;350</nobr></a>, А<nobr>4&ndash;350</nobr> в&nbsp;составе комплекта оборудования <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;4&#x41C;">ТЕСТ-К4М</a> или <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;4U">ТЕСТ К4&nbsp;CPTU</a>.</p>
<p>Комплект БПД1&nbsp;используется как альтернативный канал передачи цифровых данных от&nbsp;зонда к&nbsp;регистрирующему прибору ТЕСТ-К4М или к&nbsp;персональному компьютеру через блок связи.</p>
<p>Использование комплекта БПД1&nbsp;значительно повышает производительность и&nbsp;удобство работы персонала, за&nbsp;счёт отказа от&nbsp;использования коммутирующего кабеля, расположенного внутри зондировочных штанг.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szBPD.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szBPD_gs.jpg)" alt="Фото №1" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/szBPDRash.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szBPDRash_gs.jpg)" alt="Фото №2" title="Расширитель КЭ"></div>
</a>
<div class="slide-text">Расширитель КЭ</div>
</div>
<div class="slide">
<a href="/i/szBPDSht.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szBPDSht_gs.jpg)" alt="Фото №3" title="Штанга ЭК"></div>
</a>
<div class="slide-text">Штанга ЭК</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Продолжительность непрерывной работы зонда с&nbsp;полностью заряженным аккумуляторным Блоком А1, час </td>
<td>не&nbsp;менее 20</td>
</tr>
<tr>
<td>Время полной зарядки аккумуляторного Блока А1, час </td>
<td>не&nbsp;более 10</td>
</tr>
<tr>
<td>Максимальная глубина зондирования, м</td>
<td>50</td>
</tr>
<tr>
<td>Напряжение питания зонда, вольт</td>
<td>7,2</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Комплектующие БПД1</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Аккумуляторный Блок А1&nbsp;(7,2&nbsp;вольт)</td>
<td>3&nbsp;шт</td>
</tr>
<tr>
<td>Наголовник ШЭ&nbsp;(в&nbsp;сборе)</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Расширитель КЭ&nbsp;(в&nbsp;сборе)</td>
<td>2&nbsp;шт</td>
</tr>
<tr>
<td>Зарядное устройство 12/220&nbsp;вольт</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Коробка соединительная КС</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кабель Д&nbsp;(коробка соединительная КС&nbsp;&mdash; прибор ТЕСТ-К4М)</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кабель Н&nbsp;(наголовник ШЭ&nbsp;&mdash; коробка соединительная КС)</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><p><b>Для работы с&nbsp;комплектом БПД1&nbsp;необходимо использовать <a href="/row/bac28531b33e0dbed5e214c4a77b2ce0">Штанги ЭК</a> и&nbsp;<a href="/row/2b5b66cbc2b9c5c959d813017c577b23">Штанги КТ</a></b>.</p>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>При использовании комплекта БПД1&nbsp;в&nbsp;составе аппаратуры ТЕСТ-К4М, цифровые данные формируемые зондами А<nobr>3&ndash;350</nobr> передаются к&nbsp;измерительному прибору ТЕСТ-К4М или к&nbsp;Блоку связи по&nbsp;двухпроводному каналу.</p>
<p>Один из&nbsp;изолированных проводников расположен внутри штанги, другим проводником является сама штанга. Коммутация канала передачи данных происходит при накручивании очередной штанги. Центральный проводник соединяется с&nbsp;помощью примыкания подвижного контакта расположенного в&nbsp;нижнем торце штанги, к&nbsp;контактной площадке на&nbsp;верхнем торце предыдущей штанги, а&nbsp;другой проводник через резьбовое соединение штанг.</p>
<p>Приём цифровых данных осуществляется с&nbsp;помощью специального наголовника ШЭ, оснащенного электрическими контактами и&nbsp;разъемом для подключения кабеля.</p>
<p>Питание зонда А<nobr>3&ndash;350</nobr> в&nbsp;составе комплекта БПД1&nbsp;осуществляется аккумуляторным Блоком А1&nbsp;с&nbsp;присоединительными разъемами, к&nbsp;которому в&nbsp;свою очередь присоединяется расширитель КЭ&nbsp;с&nbsp;элементом электрической развязки и&nbsp;контактной площадкой.</p>
<p>Перед началом полевых работ выполняется зарядка аккумуляторных Блоков А1&nbsp;с&nbsp;помощью зарядного устройства. Общее время зарядки занимает <nobr>9&ndash;10</nobr> часов.</p>
<p>При выполнении статического зондирования контроллер ТЕСТ-К4М и&nbsp;программа Geoexplorer отслеживают степень заряда аккумуляторного Блока А1.</p>
<p>При необходимости выполняется замена разряженного аккумуляторного Блока А1&nbsp;на&nbsp;другой, входящий в&nbsp;комплект, либо производится зарядка аккумуляторного Блока А1&nbsp;с&nbsp;помощью зарядного устройства.</p>
<p>Перед проведением работы производят сборку наголовника ШЭ&nbsp;и&nbsp;установку его на&nbsp;шток цилиндра УСЗ.&nbsp;Далее присоединяют к&nbsp;контроллеру ТЕСТ-К4М или к&nbsp;блоку связи кабель Д.&nbsp;Кабели Д&nbsp;и&nbsp;Н&nbsp;подключают к&nbsp;коробке соединительной КС&nbsp;и&nbsp;наголовнику ШЭ.</p>
<p>Включают прибор ТЕСТ-К4М или переводят блок связи с&nbsp;ноутбуком в&nbsp;тестовый режим. Далее, аккумуляторный Блок А1&nbsp;соединяют с&nbsp;расширителем КЭ&nbsp;с&nbsp;помощью разъема РС7. Опускают аккумуляторный Блок А1&nbsp;с&nbsp;кабелем внутрь первой штанги КТ&nbsp;Ø&nbsp;36х8&nbsp;и&nbsp;соединяют эту штангу с&nbsp;расширителем КЭ.</p>
<p>Зонд присоединяют к&nbsp;аккумуляторному Блоку А1&nbsp;с&nbsp;помощью разъёма РС7. Далее зонд с&nbsp;помощью резьбы присоединяют к&nbsp;нижней части штанги КТ&nbsp;и&nbsp;затягивают все резьбовые соединения. На&nbsp;расширитель КЭ&nbsp;наворачивают штангу ЭК.</p>
<p>Вывешивают всю сборку, закрепив её&nbsp;вилкой в&nbsp;наголовнике ШЭ&nbsp;вдавливающего устройства. Общий вид сборки представлен на&nbsp;рисунке, где 1&nbsp;-&nbsp;наголовник ШЭ; 2&nbsp;-&nbsp;штанга ЭК; 3&nbsp;-&nbsp;расширитель КЭ; 4&nbsp;-&nbsp;аккумуляторный Блок А1; 5&nbsp;-&nbsp;тензометрический зонд.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szBPDScheme.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szBPDScheme_gs.jpg)" alt="Фото №1" title="Общий вид сборки"></div>
</a>
<div class="slide-text">Общий вид сборки</div>
</div>
</div>
<p>Зонд должен находиться в&nbsp;вертикальном положении, внутри направляющей трубы установки статического зондировании.</p>
<p>По&nbsp;истечении 2х&nbsp;минут с&nbsp;момента подключения аккумуляторного Блока А1&nbsp;к&nbsp;зонду начнется процедура автобалансировки.</p>
<p>После завершения автобалансировки можно начинать зондирование с&nbsp;последовательным наращиванием штанг. В&nbsp;процессе зондирования оператору необходимо контролировать возобновление сигнала на&nbsp;панели коробки соединительной КС.&nbsp;Сигнал должен пропадать при отмыкании наголовника ШЭ&nbsp;вдавливающего устройства от&nbsp;штанги, и&nbsp;возобновляться при примыкании.</p>
<p>В&nbsp;том случае, если при очередном наращивании штанг сигнал не&nbsp;возобновился, следует прочистить контакты или заменить штангу.</p>
<p>После вдавливания зонда, извлечение штанг выполняют без отключения измерительного прибора или блока связи, и&nbsp;после извлечения зонда из&nbsp;грунта контролируют нулевые показания ненагруженного зонда. При отклонении показаний от&nbsp;нулевых значений не&nbsp;более, чем на&nbsp;десять делений прибор выключают и&nbsp;переезжают на&nbsp;следующую точку зондирования. В&nbsp;противном случае требуется выполнить проверку зонда на&nbsp;тарировочном устройстве, либо заменить зонд.</p>
<p>Проверка проводится путём последовательного задания на&nbsp;зонд половины и&nbsp;максимальной нагрузки от&nbsp;нормированного диапазона измерения удельного сопротивления по&nbsp;каналам &laquo;конус&raquo; и&nbsp;&laquo;муфта&raquo;.</p>
<p>Данные, полученные в&nbsp;процессе зондирования обрабатываются программой Geoexplorer, поставляемой вместе с&nbsp;комплектом БПД1.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szBPD.pdf" target="_blank">Комплект БПД1&nbsp;(PDF)</a></p>
<p><a href="/docs/print/szTEST-K4M.pdf" target="_blank">Комплект ТЕСТ-К4М (PDF)</a></p>
</div><div class="block"><p><b>Ниже указана базовая комплектация БПД1, которую вы&nbsp;можете заказать в&nbsp;соответствии с&nbsp;вашими пожеланиями. Количество штанг можно изменить. Обращаем ваше внимание, что для работы с&nbsp;БПД1&nbsp;необходим <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;4&#x41C;">Комплект ТЕСТ-К4М</a>. Обратитесь к&nbsp;нам для согласования комплектации</b>.</p>
</div>