<div class="block"><p>Комплект AdzFo разработан на&nbsp;основе лазерной рулетки BOSCH GLM 50C и&nbsp;СПО для Андройд-у­стройств. Он&nbsp;предназначен для цифровой регистрации результатов динамического зондирования при ра­боте с&nbsp;комплектом АДЗ 2&nbsp;на&nbsp;буровых установках.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/dzAdzFo1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzAdzFo1_gs.jpg)" alt="Фото &#8470;1" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/dzAdzFo2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzAdzFo2_gs.jpg)" alt="Фото &#8470;2" title="Внешний вид лазерной рулетки Bosh"></div>
</a>
<div class="slide-text">Внешний вид лазерной рулетки Bosh</div>
</div>
<div class="slide">
<a href="/i/dzAdzFo3.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzAdzFo3_gs.png)" alt="Фото &#8470;3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/dzAdzFo4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzAdzFo4_gs.jpg)" alt="Фото &#8470;4" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/dzAdzFo5.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzAdzFo5_gs.png)" alt="Фото &#8470;5" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Рулетка BOSCH GLM 50C</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кронштейн центратора</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>СПО для Андроид-устройства</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Инструкция по&nbsp;эксплуатации</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Транспортировочный кейс </td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>Перед началом работы, необходимо выполнить мон­таж адаптера динамического зондирования АДЗ-2&nbsp;на&nbsp;буровой УРБ 2А- 2&nbsp;в&nbsp;соответствии с&nbsp;Руководством по&nbsp;эксплуатации АДЗ2&nbsp;00.00.00.00&nbsp;РЭ.</p>
<p>Внимательно ознакомиться с&nbsp;инструкцией по&nbsp;эксплу­атации устройства BOSCH GLM 50C, в&nbsp;том числе и&nbsp;с&nbsp;техникой безопасности при работе с&nbsp;устройством.</p>
<p>На&nbsp;кронштейне центратора АДЗ-2&nbsp;закрепить рулетку штатным винтом с&nbsp;тыльной стороны (см. рис.).</p>
<p>Включить устройство BOSCH GLM 50C, активировать лазерный луч и&nbsp;убедиться в&nbsp;том, что он&nbsp;попадает в&nbsp;среднюю зону на&nbsp;мишени наковальни. При необходимости следует отрегулировать направление луча с&nbsp;помощью регулировочных винтов кронштейна. </p>
<p>Установить программное обеспечение GeotestAdzFo на&nbsp;Android устройство, включить Bluetooth&nbsp;&mdash; адаптер на&nbsp;телефоне или планшете, включить устройство BOSCH GLM 50C и&nbsp;активировать Вluetooth на&nbsp;устройстве. Далее, необходимо запустить Приложение GeotestAdzFo и&nbsp;выполнить поиск устройства BOSCH GLM 50. </p>
<p>После нажатия на&nbsp;клавишу &laquo;Далее&raquo;, следует страница условия опыта. </p>
<p>Подготовка опыта включает: сборку устройства; уста­новку двух собранных штанг с&nbsp;конусом в&nbsp;центратор и&nbsp;вдавливания конуса в&nbsp;грунт гидравликой УРБ<nobr>2-А2</nobr>&nbsp;на&nbsp;глубину около 0.2&nbsp;метра (или с&nbsp;поверхности грунта 0.0&nbsp;метра, или со&nbsp;дна лидерной скважины), проверку и&nbsp;регулировку вертикальности мачты. При этом молот лежит на&nbsp;наковальне, опущенной на&nbsp;вторую штангу, которая находится выше стола буровой на&nbsp;<nobr>30&ndash;50</nobr> см. </p>
<p>При таком положении оборудования Оператор про­веряет готовность к&nbsp;испытаниям и&nbsp;начинает проведе­ние опыта. </p>
<p>Оператор поднимает молот и&nbsp;наносит первый удар по&nbsp;наковальне. Индикация текущей глубины и&nbsp;перемещения за&nbsp;залог, начинается после первого удара, если в&nbsp;залоге 1&nbsp;удар (рекомендуется, при перемещениях за&nbsp;удар более 2&nbsp;см) или после всего залога после нажатия клавиши &laquo;Залог&raquo;. Величину количества ударов в&nbsp;залоге можно менять в&nbsp;процессе выполнения опыта. </p>
<p>Все последующие отсчёты фиксируются при нажатии клавиши на&nbsp;телефоне, в&nbsp;момент подъёма молота для очередного удара. </p>
<p>По&nbsp;окончании испытания, необходимо нажать на&nbsp;знак (+) в&nbsp;правом верхнем углу окна программы. </p>
<p>После этого автоматически будет создан файл опыта (*.json) и&nbsp;предложена отправка данных на&nbsp;ПК&nbsp;по&nbsp;элек­тронной почте для дальнейшей обработки в&nbsp;програм­ме GeoPush и&nbsp;формирования отчётов по&nbsp;результатам испытания.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/dzAdzFo.pdf" target="_blank">Формирователь отсчётов AdzFo (PDF)</a></p>
</div><div class="block"><order/>
</div>