<div class="block"><p>Ручной динамический комплект РДК (далее&nbsp;&mdash; комплект) предназначен для динамического зондирования грунтов и
относится к&nbsp;установкам легкого типа.</p>
<p>Область применения комплекта регламентирована требованиями раздела 1&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr> (Грунты. Методы полевых
испытаний статическим и&nbsp;динамическим зондированием).</p>
<p>По&nbsp;результатам испытаний (согласно СП&nbsp;47.13330.2012&nbsp;&laquo;СНиП <nobr>11&ndash;02&ndash;96</nobr> Инженерные изыскания для строительства. Основные положения&raquo; Приложение И)&nbsp;дают оценку плотности сложения, модуля
деформации, угла внутреннего трения и&nbsp;динамической устойчивости песчаных грунтов.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/dzRDK.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzRDK_gs.jpg)" alt="Фото №1" title="Внешний вид изделия"></div>
</a>
<div class="slide-text">Внешний вид изделия</div>
</div>
<div class="slide">
<a href="/i/dzRDK2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzRDK2_gs.jpg)" alt="Фото №2" title="Ударный механизм (Устройство У)"></div>
</a>
<div class="slide-text">Ударный механизм (Устройство У)</div>
</div>
<div class="slide">
<a href="/i/dzRDK3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzRDK3_gs.jpg)" alt="Фото №3" title="Ударный механизм (Устройство У) с зондом и наковальней"></div>
</a>
<div class="slide-text">Ударный механизм (Устройство У)&nbsp;с&nbsp;зондом и&nbsp;наковальней</div>
</div>
<div class="slide">
<a href="/i/dzRDK4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzRDK4_gs.jpg)" alt="Фото №4" title="Штанга с наконечником и наковальней"></div>
</a>
<div class="slide-text">Штанга с&nbsp;наконечником и&nbsp;наковальней</div>
</div>
<div class="slide">
<a href="/i/dzRDK5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzRDK5_gs.jpg)" alt="Фото №5" title="Центратор"></div>
</a>
<div class="slide-text">Центратор</div>
</div>
<div class="slide">
<a href="/i/dzRDK6.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzRDK6_gs.jpg)" alt="Фото №6" title="Работа с ручным динамическим комплектом РДК"></div>
</a>
<div class="slide-text">Работа с&nbsp;ручным динамическим комплектом РДК</div>
</div>
<div class="slide">
<a href="/i/dzKonus.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzKonus_gs.jpg)" alt="Фото №7" title="Наконечник"></div>
</a>
<div class="slide-text">Наконечник</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Высота падения молота, см</td>
<td>40&nbsp;±&nbsp;2</td>
</tr>
<tr>
<td>Погрешность измерения глубины погружения зонда, см</td>
<td>0,5</td>
</tr>
<tr>
<td>Диаметр штанг, мм</td>
<td>36</td>
</tr>
<tr>
<td>Диаметр центратора, мм</td>
<td>108</td>
</tr>
<tr>
<td>Диаметр конуса (удельная энергия зондирования А, Н/см), мм</td>
<td>74,<nobr>0 (280)</nobr>; 50,5* (590)</td>
</tr>
<tr>
<td>Длина штанг, мм</td>
<td>1000</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации, град</td>
<td>-40..+80</td>
</tr>
<tr>
<td>Диапазон температур хранения, град</td>
<td>-40..+80</td>
</tr>
<tr>
<td>Масса комплекта (без штанг), кг</td>
<td>63</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>*&nbsp;Диаметр конуса 50,5&nbsp;мм, поставляется по&nbsp;отдельной заявке.</p>
<p>В&nbsp;соответствии с&nbsp;п.2&nbsp;примечания к&nbsp;Таблице 2&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr>, при испытании грунтов в&nbsp;стесненных условиях
возможно применение малогабаритных установок при наличии данных сопоставительных испытаний на&nbsp;стандартных
установках.</p>
<h4>Состав и&nbsp;масса составных частей.</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Наконечник (конус Ø74)</td>
<td>1,8&nbsp;кг</td>
</tr>
<tr>
<td>Наковальня</td>
<td>3,9&nbsp;кг</td>
</tr>
<tr>
<td>Устройство У, в&nbsp;т.ч.</td>
<td>35,2&nbsp;кг</td>
</tr>
<tr>
<td>•&nbsp;Молот</td>
<td>30&nbsp;кг</td>
</tr>
<tr>
<td>•&nbsp;Рукоять</td>
<td>5,2&nbsp;кг</td>
</tr>
<tr>
<td>Центратор</td>
<td>14,1&nbsp;кг</td>
</tr>
<tr>
<td>Держатель</td>
<td>4,3&nbsp;кг</td>
</tr>
<tr>
<td>Штанга (5&nbsp;шт.)</td>
<td>5,5&nbsp;кг&nbsp;/&nbsp;1&nbsp;шт.</td>
</tr>
<tr>
<td>Вилка (2&nbsp;шт.)</td>
<td>1,8&nbsp;кг&nbsp;/&nbsp;1&nbsp;шт.</td>
</tr>
<tr>
<td>Рулетка РФ<nobr>2&ndash;3&ndash;16</nobr> &laquo;Энкор&raquo;</td>
<td>0,15&nbsp;кг</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>В&nbsp;состав комплекта входит программа для обработки результатов испытания <a href="/row/bf9e146e2d767e28c18fb668993399ef">Geopush</a>.</p>
</div><div class="block"><h2><span>Устройство и&nbsp;принцип работы</span></h2>
<p>Перед началом испытания бурится лидерная скважина диаметром 90&#133;100&nbsp;мм, глубиной 450&nbsp;мм.</p>
<p>Зонд с&nbsp;Центратором устанавливаются на&nbsp;устье скважины. Центратор погружается в&nbsp;скважину до&nbsp;упора. Для дополнительной
фиксации Центратор крепится к&nbsp;грунту тремя штырями.</p>
<p>На&nbsp;Зонде крепится Наковальня, на&nbsp;Наковальню устанавливается Устройство У&nbsp;и&nbsp;удерживается в&nbsp;данном положении
с&nbsp;помощью Рукояти.</p>
<p>В&nbsp;осевое отверстие Молота вставляется штанга, и&nbsp;плотно затягивается резьбовое соединение между Наковальней
и&nbsp;Штангой.</p>
<p>Далее, Держатель устанавливается на&nbsp;верхнюю штангу. Рулеткой измеряется исходное положение Наковальни относительно
Крышки Центратора.</p>
<p>Комплект приводится в&nbsp;действие мускульной силой трех человек.</p>
<p>Два испытателя выполняют подъем и&nbsp;сброс Устройства У.&nbsp;Третий&nbsp;&mdash; работает с&nbsp;держателем и&nbsp;периодически выполняет
измерения Рулеткой.</p>
<p>Испытания грунтов динамическим зондированием выполняют в&nbsp;соответствии с&nbsp;требованием раздела 6.4&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr>, результаты записывают в&nbsp;полевой журнал.</p>
<p>Для обработки результатов используется программа <a href="/complect/Geopush">Geopush</a> (входит в&nbsp;состав комплекта).</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/dzRDK.pdf" target="_blank">Ручной динамический комплект РДК (PDF)</a></p>
</div>