<div class="block"><p>Сдвигомер&nbsp;&mdash; крыльчатка (далее крыльчатка) предназначен для испытаний слабых грунтов методом вращательного среза по&nbsp;ГОСТ 20276.<nobr>5&ndash;2020</nobr> (&laquo;Грунты. Методы полевого определения характеристик прочности и&nbsp;деформируемости&raquo;). Сдвигомер-крыльчатка позволяет определить сопротивление грунта срезу t&nbsp;max, МПа.</p>
<p>Испытание вращательным срезом проводят в&nbsp;условиях практического отсутствия дренирования путём приложения горизонтальной касательной нагрузки и&nbsp;смещения грунта по&nbsp;цилиндрической поверхности, образуемой вращением крыльчатки.</p>
<p>Условия применения метода вращательного среза приведены в&nbsp;таблице 12.1&nbsp;(ГОСТ 20276.<nobr>5&ndash;2020</nobr>), где предусмотрено два способа проведения испытаний: при вдавливании сдвигомера с&nbsp;забоя буровой скважины и&nbsp;при вдавливании сдвигомера в&nbsp;массив грунта с&nbsp;поверхности.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/hKR.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hKR_gs.jpg)" alt="Фото №1" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/hKR7.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hKR7_gs.jpg)" alt="Фото №2" title="Рукоятка с пластинчатым динамометром и индикатором часового типа ИЧ-10 в сборе"></div>
</a>
<div class="slide-text">Рукоятка с&nbsp;пластинчатым динамометром и&nbsp;индикатором часового типа ИЧ-10&nbsp;в&nbsp;сборе</div>
</div>
<div class="slide">
<a href="/i/hKR8.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hKR8_gs.jpg)" alt="Фото №3" title="Крыльчатка I и II типов"></div>
</a>
<div class="slide-text">Крыльчатка I&nbsp;и&nbsp;II&nbsp;типов</div>
</div>
<div class="slide">
<a href="/i/hKR3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hKR3_gs.jpg)" alt="Фото №4" title="Переходная штанга"></div>
</a>
<div class="slide-text">Переходная штанга</div>
</div>
<div class="slide">
<a href="/i/hKR5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hKR5_gs.jpg)" alt="Фото №5" title="Тяга для градуировки сдвигомера"></div>
</a>
<div class="slide-text">Тяга для градуировки сдвигомера</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<p>Основные параметры сдвигомера-крыльчатки регламентируются ГОСТ 20276.<nobr>5&ndash;2020</nobr>, приложение В.</p>
<h4>Тип I</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Высота, мм</td>
<td>120</td>
</tr>
<tr>
<td>Ширина (диаметр), мм</td>
<td>60</td>
</tr>
<tr>
<td>Толщина лопасти, мм</td>
<td>2</td>
</tr>
<tr>
<td>Постоянная крыльчатки В, cм³</td>
<td>791</td>
</tr>
<tr>
<td>Максимальный крутящий момент устройства, кН&nbsp;х&nbsp;см</td>
<td>18</td>
</tr>
<tr>
<td>Погрешность измерения крутящего момента, %</td>
<td>1</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p/>
<h4>Тип II</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Высота, мм</td>
<td>150</td>
</tr>
<tr>
<td>Ширина (диаметр), мм</td>
<td>75</td>
</tr>
<tr>
<td>Толщина лопасти, мм</td>
<td>2,5</td>
</tr>
<tr>
<td>Постоянная крыльчатки В, cм³</td>
<td>1545</td>
</tr>
<tr>
<td>Максимальный крутящий момент устройства, кН&nbsp;х&nbsp;см</td>
<td>18</td>
</tr>
<tr>
<td>Погрешность измерения крутящего момента, %</td>
<td>1</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p/>
<h4>Тип III*</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Высота, мм</td>
<td>200</td>
</tr>
<tr>
<td>Ширина (диаметр), мм</td>
<td>100</td>
</tr>
<tr>
<td>Толщина лопасти, мм</td>
<td>3</td>
</tr>
<tr>
<td>Постоянная крыльчатки В, cм³</td>
<td>3663</td>
</tr>
<tr>
<td>Максимальный крутящий момент устройства, кН&nbsp;х&nbsp;см</td>
<td>18</td>
</tr>
<tr>
<td>Погрешность измерения крутящего момента, %</td>
<td>2</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>*Крыльчатка III типа не&nbsp;входит в&nbsp;базовый комплект и&nbsp;поставляется по&nbsp;заявке.</p>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<h4>Комплектующие сдвигомера-крыльчатки</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Сдвигомер с&nbsp;пластинчатым динамометром</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Четырехлопастная крыльчатка I&nbsp;типа</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Четырехлопастная крыльчатка II&nbsp;типа</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Индикатор ИЧ-10</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Фиксатор рукоятки</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Переходная штанга</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Тяга для градуировки сдвигомера</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Руководство по&nbsp;эксплуатации</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Программа обработки Impeller</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<br/>
<p>Крыльчатка III типа не&nbsp;входит в&nbsp;базовый комплект и&nbsp;поставляется по&nbsp;заявке.</p>
<br/>
<h4>Комплектующие ручного бурового комплекта</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Штанга буровая Ø&nbsp;25&nbsp;мм&nbsp;длиной 1&nbsp;м</td>
<td>10&nbsp;шт</td>
</tr>
<tr>
<td>Вороток разъемный</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Буровой стакан Ø&nbsp;73&nbsp;мм</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Шнек Ø&nbsp;62&nbsp;мм&nbsp;длиной 200&nbsp;мм</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Змеевик Ø&nbsp;30&nbsp;мм&nbsp;длиной 300&nbsp;мм</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Деревянный ящик</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p/>
<p>По&nbsp;желанию заказчика возможна любая другая комплектация (например: сдвигомер +
<a href="/complect/&#x420;&#x411;&#x41A;">ручной буровой комплект</a> +
<a href="/complect/&#x41F;&#x41D;">ручной пенетрометр</a>).</p>
<p>Градуировка сдвигомера выполняется предприятием-изготовителем.</p>
<p>Результаты испытаний могут быть обрабатаны в&nbsp;программе
<a href="/complect/Impeller">Impeller</a> (входит в&nbsp;состав комплекта) и&nbsp;оформлены в&nbsp;виде &laquo;Журнала испытания грунта методом вращательного среза&raquo; по&nbsp;20276.<nobr>5&ndash;2020</nobr>, Приложение Б.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/hRBK+KR+PN.pdf" target="_blank">Сдвигомер-крыльчатка (PDF)</a></p>
</div>
</div>