<div class="block"><p>Ручной пенетрометр предназначен для испытаний слабых грунтов методом зондирования согласно ГОСТ <nobr>19912&ndash;2012</nobr> (Грунты.
Методы полевых испытаний статическим и&nbsp;динамическим зондированием). Ручной пенетрометр позволяет определить удельное
сопротивление грунта по&nbsp;конусу зонда qз&nbsp;для слабых грунтов. В&nbsp;зависимости от&nbsp;прочности грунта, возможно использование
двух способов проведения испытаний:</p>
<ul>
<li>вдавливание пенетрометра с&nbsp;забоя скважины;</li>
<li>вдавливание пенетрометра в&nbsp;массив грунта с&nbsp;поверхности.</li>
</ul>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/hPN.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hPN_gs.jpg)" alt="Фото №1" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/hPN1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hPN1_gs.jpg)" alt="Фото №2" title="Переходная штанга"></div>
</a>
<div class="slide-text">Переходная штанга</div>
</div>
<div class="slide">
<a href="/i/hPN2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hPN2_gs.jpg)" alt="Фото №3" title="Конус с отключающим устройством, сменный конус с площадью 20 см²"></div>
</a>
<div class="slide-text">Конус с&nbsp;отключающим устройством, сменный конус с&nbsp;площадью 20&nbsp;см²</div>
</div>
<div class="slide">
<a href="/i/hPN3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hPN3_gs.jpg)" alt="Фото №4" title="Рукоятка с пружинным динамометром в сборе с индикатором часового типа ИЧ-10"></div>
</a>
<div class="slide-text">Рукоятка с&nbsp;пружинным динамометром в&nbsp;сборе с&nbsp;индикатором часового типа ИЧ-10</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Площадь конуса, см²</td>
<td>10&nbsp;и&nbsp;20</td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта под конусом, кг/см²</td>
<td>16</td>
</tr>
<tr>
<td>Максимальное усилие вдавливания, кг</td>
<td>160</td>
</tr>
<tr>
<td>Масса измерительной рукоятки, кг</td>
<td>3,2</td>
</tr>
<tr>
<td>Масса одной штанги, кг</td>
<td>1,4</td>
</tr>
<tr>
<td>Диаметр штанги, мм</td>
<td>25</td>
</tr>
<tr>
<td>Длина штанги, мм</td>
<td>1000</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<h4>Комплектующие ручного пенетрометра РП-1</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Рукоятка с&nbsp;пружинным динамометром</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Конус с&nbsp;отключающим устройством S&nbsp;=&nbsp;10&nbsp;см²</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Конус S&nbsp;=&nbsp;20&nbsp;см²</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Индикатор часового типа ИЧ-10</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Переходная штанга</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Руководство по&nbsp;эксплуатации</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Программа Impeller</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p/>
<h4>Комплектующие ручного бурового комплекта</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Штанга буровая Ø&nbsp;25&nbsp;мм&nbsp;длиной 1&nbsp;м</td>
<td>10&nbsp;шт</td>
</tr>
<tr>
<td>Вороток разъемный под ключ 19&nbsp;мм</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Буровой стакан Ø&nbsp;73&nbsp;мм&nbsp;длиной 250&nbsp;мм</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Шнек Ø&nbsp;62&nbsp;мм&nbsp;длиной 200&nbsp;мм</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Змеевик Ø&nbsp;30&nbsp;мм&nbsp;длиной 300&nbsp;мм</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Деревянный ящик</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p/>
<p>По&nbsp;желанию заказчика возможна любая другая комплектация (например: пенетрометр +
<a href="/complect/&#x420;&#x411;&#x41A;">ручной буровой комплект</a> +
<a href="/complect/&#x41A;&#x420;">сдвигомер-крыльчатка</a>).</p>
</div><div class="block"><h2><span>Устройство и&nbsp;работа</span></h2>
<p>Рукоятку с&nbsp;пружинным динамометром закрепляют на&nbsp;переходной штанге, конус с&nbsp;отключающим устройством закрепляют
в&nbsp;нижней части первой штанги и&nbsp;из&nbsp;штанг набирают колонну необходимой длины. На&nbsp;рукоятке с&nbsp;пружинным динамометром
устанавливают индикатор ИЧ-10.</p>
<p>Переходную штангу соединяют с&nbsp;колонной и&nbsp;начинают вдавливание пенетрометра в&nbsp;грунт с&nbsp;постоянной скоростью. В&nbsp;процессе
вдавливания, по&nbsp;индикатору ИЧ-10&nbsp;снимают отсчеты через равные интервалы по&nbsp;глубине. По&nbsp;мере продвижения конуса
колонну штанг наращивают.</p>
<p>Для корректировки величины сопротивления грунта по&nbsp;конусу измеряют сопротивление грунта по&nbsp;боковой поверхности
штанг.</p>
<p>Градуировка пенетрометра РП-1&nbsp;выполняется предприятием-изготовителем.</p>
<p>Измеренное сопротивление грунта по&nbsp;конусу qз, используют для выделения ИГЭ и&nbsp;оценки физико-механических свойств
слабых грунтов.</p>
<p>Результаты испытаний могут быть обрабатаны в&nbsp;программе
<a href="/complect/Impeller">Impeller</a> (входит в&nbsp;состав комплекта) и&nbsp;оформлены в&nbsp;виде &laquo;Журнала испытания грунта методом статического зондирования&raquo; по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr>
(Приложение Б)&nbsp;и&nbsp;графика изменения сопротивления конуса по&nbsp;глубине погружения пенетрометра (Приложение Г).</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/hRBK+KR+PN.pdf" target="_blank">Ручной пенетрометр РП-1&nbsp;(PDF)</a></p>
</div>
</div>