<div class="block"><p>Предназначен для бурения геологических скважин вручную в&nbsp;труднодоступных для техники местах, а&nbsp;также для зондирования
болотистых участков.</p>
<p>С&nbsp;помощью ручного бурового комплекта возможно бурение скважин глубиной до&nbsp;10&nbsp;метров и&nbsp;отбор проб грунта нарушенной
структуры для лабораторных исследований.</p>
<p>По&nbsp;желанию заказчика возможно изготовление оборудования других типоразмеров и&nbsp;любая другая комплектация.</p>
<p>В&nbsp;состав комплекта входит <a href="/row/93cde9922523f4ae815812e0cb96cf16">деревянный ящик</a>. Возможна упаковка в&nbsp;<a href="/row/5e407bb910bbbd6f9574838724c23c81">брезентовый чехол</a><!-&nbsp;&mdash; или <a href="/row/b7e924c99ceabc2f6771fada50cf04eb">металлический ящик</a>&nbsp;&mdash; ->.</p>
<p>Масса комплекта:</p>
<ul>
<li>в&nbsp;деревянном ящике&nbsp;&mdash; 25&nbsp;кг</li>
<li>в&nbsp;брезентовом чехле&nbsp;&mdash; 19&nbsp;кг</li>
<!-&nbsp;&mdash; <li>в&nbsp;металлическом ящике&nbsp;&mdash; 29&nbsp;кг</li>&nbsp;&mdash; ->&nbsp;</ul>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/hRBK.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hRBK_gs.jpg)" alt="Фото &#8470;1" title="Общий вид комплекта в&nbsp;деревянном ящике"></div>
</a>
<div class="slide-text">Общий вид комплекта в&nbsp;деревянном ящике</div>
</div>
<div class="slide">
<a href="/i/hRDBchehol.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hRDBchehol_gs.jpg)" alt="Фото &#8470;2" title="Общий вид комплекта в&nbsp;брезентовом чехле"></div>
</a>
<div class="slide-text">Общий вид комплекта в&nbsp;брезентовом чехле</div>
</div>
</div>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/hRBK+KR+PN.pdf" target="_blank">Ручной буровой комплект геолога (PDF)</a></p>
</div><div class="block"><order/>
</div>