<div class="block"><h2><span>Назначение</span></h2>
<p>Программное обеспечение (приложение) Geotest SHWK.PRK.Cheker (далее Cheker) разработано в&nbsp;АО&nbsp;&laquo;Геотест&raquo; для мобильных устройств, работающих на&nbsp;ОС&nbsp;Android. </p>
<p>ПО&nbsp;Cheker предназначено для контроля опытов, выполняемых в&nbsp;автоматическом режиме, с&nbsp;помощью комплектов оборудования АО&nbsp;&laquo;Геотест&raquo;:&nbsp;ПЭВ-89МК+БД1&nbsp;для прессиометрических испытаний и&nbsp;КРП-1+БД1+ШВ60&nbsp;для штамповых испытаний. </p>
<p>Программное обеспечение Cheker может работать и&nbsp;при выполнении испытаний полуавтоматическом режиме с&nbsp;использованием комплектов прессиометр электровоздушный ПЭВ-89МК и&nbsp;КРП1+ШВ60. </p>
<p>ПО&nbsp;Cheker предназначено для оперативного дистанционного контроля проведения штампового или прессиометрического опыта. </p>
<p>ПО&nbsp;Cheker не&nbsp;имеет функций сохранения опытных данных и&nbsp;их&nbsp;передачи на&nbsp;удаленные устройства в&nbsp;программу обработки. </p>
<p>Передача опытных данных из&nbsp;контроллеров ТЕСТ-ПРК v.21&nbsp;и&nbsp;ТЕСТ-ШВК v.18&nbsp;в&nbsp;программу обработки, после завершения опыта, осуществляется при подключении контроллеров к&nbsp;ноутбуку, или при считывании данных с&nbsp;флеш-карты. </p>
<p>С&nbsp;помощью приложения можно оценить текущие значения осадок (перемещений), давления в&nbsp;пневмосистеме, время длительности ступени, визуально оценить характер графика S&nbsp;&mdash; f(P). Эти данные позволяют видеть объективную картину проведения опыта, прогнозировать длительность испытания, принимать решения о&nbsp;корректировке Исходных данных или прекращении испытания.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/pgCheker1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/pgCheker1_gs.jpg)" alt="Фото &#8470;1" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/pgCheker2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/pgCheker2_gs.jpg)" alt="Фото &#8470;2" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/pgCheker3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/pgCheker3_gs.jpg)" alt="Фото &#8470;3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/pgCheker4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/pgCheker4_gs.jpg)" alt="Фото &#8470;4" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Работа с&nbsp;программным обеспечением</span></h2>
<p>После установки программного обеспечения Geotest SHWK.PRK.Cheker на&nbsp;мобильное устройство, установки оборудования в&nbsp;месте проведения опыта и&nbsp;ввода исходных данных опыта в&nbsp;контроллер ТЕСТ-ПРК v.21&nbsp;(ТЕСТ-ШВК v.18), становиться доступной функция передачи данных из&nbsp;контроллера по&nbsp;bluetooth каналу. </p>
<p>Для работы необходимо запустить ПО&nbsp;Geotest SHWK.PRK.Cheker с&nbsp;помощью соответствующей иконки на&nbsp;экране Android устройства. После запуска на&nbsp;экране будет отображен рабочий экран приложения. </p>
<p>Начать прием данных в&nbsp;приложение Cheker возможно в&nbsp;любое время в&nbsp;течении опыта. </p>
<p>Данные поступают каждую минуту и&nbsp;представляют собой пакет, в&nbsp;котором содержится вся информация о&nbsp;давлениях и&nbsp;осадках (перемещениях) и&nbsp;времени, начиная с&nbsp;первой минуты выполнения опыта. </p>
<p>Вид испытания (штамповый или прессиометрический) определяется автоматически. На&nbsp;экране можно наблюдать текущее давление в&nbsp;пневмосистеме, осадку или перемещение в&nbsp;миллиметрах. Схема испытания, номер ступени и&nbsp;шага, а&nbsp;также время прошедшее с&nbsp;начала ступени так же&nbsp;отображаются в&nbsp;приложении. </p>
<p>Кроме текущих цифровых данных, на&nbsp;экране представлен актуальный график &laquo;Осадка (Перемещение)&nbsp;&mdash; Давление&raquo;, отражающий процесс выполнения испытания. </p>
<p>После окончания испытания контроллер ТЕСТ-ПРК v.21(ТЕСТ-ШВК v.18) перестает выполнять передачу данных по&nbsp;bluetooth каналу и&nbsp;обновления данных прекращаются. </p>
<p>В&nbsp;окне приложения остаются данные последнего шага последней ступени опыта. </p>
<p>Приложение следует закрыть и&nbsp;выполнить демонтаж оборудования ШВ60&nbsp;или ПЭВ-89МК в&nbsp;соответствии с&nbsp;Руководствами по&nbsp;эксплуатации, поставляемыми совместно с&nbsp;оборудованием.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/pgCheker.pdf" target="_blank">Cheker (PDF)</a></p>
</div>