<div class="block"><p>Комплект КАП2&nbsp;может использоваться с&nbsp;прессиометрами <a href="/complect/&#x41F;&#x42D;&#x412;">ПЭВ-89МК</a> и&nbsp;предназначен для автоматизации процесса проведения полевых испытаний грунтов. Использование комплекта КАП2&nbsp;позволяет снизить трудоёмкость опытных полевых работ и&nbsp;повысить достоверность результатов испытаний за&nbsp;счёт исключения ошибок исполнителей при назначении нагрузочно-временных параметров испытания и&nbsp;протоколировании результатов.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/CAP2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/CAP2_gs.jpg)" alt="Фото №1" title="Общий вид комплекта КАП2"></div>
</a>
<div class="slide-text">Общий вид комплекта КАП2</div>
</div>
<div class="slide">
<a href="/i/PEV+CAP2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/PEV+CAP2_gs.jpg)" alt="Фото №2" title="Общий вид комплекта КАП1 с прессиометром ПЭВ-89МК"></div>
</a>
<div class="slide-text">Общий вид комплекта КАП1&nbsp;с&nbsp;прессиометром ПЭВ-89МК</div>
</div>
<div class="slide">
<a href="/i/PnmPEV.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/PnmPEV_gs.jpg)" alt="Фото №3" title="Рабочее окно программы обработки результатов испытаний Pneumator"></div>
</a>
<div class="slide-text">Рабочее окно программы обработки результатов испытаний Pneumator</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, В</td>
<td>12</td>
</tr>
<tr>
<td>Средний ток потребления, мА</td>
<td>450</td>
</tr>
<tr>
<td>Пневматическое давление, кПа, не&nbsp;более</td>
<td>1000</td>
</tr>
<tr>
<td>Степень защиты</td>
<td>IP54</td>
</tr>
<tr>
<td>Диапазон рабочих температур, °C</td>
<td>-20..+40</td>
</tr>
<tr>
<td>Радиоинтерфейс</td>
<td>IEEE 802.15.4/ZigBee</td>
</tr>
<tr>
<td>Габаритные размеры, мм</td>
<td>70х120х266</td>
</tr>
<tr>
<td>Масса комплекта, кг, не&nbsp;более</td>
<td>12</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Прессиометр ПЭВ-89МК в&nbsp;полной комплектации</td>
<td>1</td>
</tr>
<tr>
<td>Пневмоблок КАП2</td>
<td>1</td>
</tr>
<tr>
<td>Адаптер Xbee USB S2</td>
<td>1</td>
</tr>
<tr>
<td>Блок ПП&nbsp;с&nbsp;Аккумулятором П</td>
<td>1</td>
</tr>
<tr>
<td>Комплект кабелей и&nbsp;пневмомагистралей</td>
<td>1</td>
</tr>
<tr>
<td>Аккумулятор 12В/12Ач</td>
<td>1</td>
</tr>
<tr>
<td>Зарядное устройство</td>
<td>1</td>
</tr>
<tr>
<td>Нетбук (ПК) с&nbsp;ПО&nbsp;&laquo;Рneumator&raquo;</td>
<td>1</td>
</tr>
<tr>
<td>Руководство по&nbsp;эксплуатации</td>
<td>1</td>
</tr>
<tr>
<td>Тара для транспортировки и&nbsp;хранения</td>
<td>1</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Работа с&nbsp;комплектом</span></h2>
<p>Для проведения испытания грунтов прессиометром с&nbsp;комплектом КАП2&nbsp;необходимо выполнить сборку комплекта. После соединения всех элементов зонд прессиометра устанавливают в&nbsp;скважину на&nbsp;отметку испытания и&nbsp;в&nbsp;аккумулятор П&nbsp;ручным автомобильным насосом закачивают воздух до&nbsp;давления <nobr>600&ndash;1000</nobr> кПа.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/PEV+CAP2sch.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/PEV+CAP2sch_gs.jpg)" alt="Фото №1" title="Схема соединения элементов комплекта ПЭВ-89МК с КАП2"></div>
</a>
<div class="slide-text">Схема соединения элементов комплекта ПЭВ-89МК с&nbsp;КАП2</div>
</div>
</div>
<p>Пневмоблок КАП2&nbsp;подключают к&nbsp;источнику электропитания (12&nbsp;вольт) и&nbsp;устанавливают вблизи скважины.</p>
<p>Нетбук (ПК) подключают к&nbsp;бортовой сети автомобиля, который может находиться на&nbsp;расстоянии до&nbsp;50&nbsp;метров от&nbsp;места испытания или рядом со&nbsp;скважиной при наличии электропитания ПК.</p>
<p>К&nbsp;USB-порту ПК&nbsp;подключают адаптер Xbee и&nbsp;устанавливают связь пневмоблок КАП2&nbsp;-&nbsp;ПК&nbsp;в&nbsp;формате радиоинтерфейса ZigBee.</p>
<p>После установления соединения в&nbsp;ПО&nbsp;<a href="/complect/Pneumator">Pneumator</a> вводятся исходные данные опыта, в&nbsp;соответствии с&nbsp;которыми назначаются параметры испытания по&nbsp;методике ГОСТ 20276.<nobr>2&ndash;2020</nobr> &laquo;Грунты. Метод испытания радиальным прессиометром&raquo;.</p>
<p>Далее оператор запускает программу выполнения опыта.</p>
<p>В&nbsp;процессе проведения испытания пневмоблок по&nbsp;командам ПК&nbsp;задаёт и&nbsp;поддерживает давление на&nbsp;ступенях, сохраняет отсчёты датчиков давления и&nbsp;перемещения с&nbsp;заданным интервалом времени, проверяет выполнение критерия условной стабилизации и&nbsp;завершает опыт после выполнения всей программы испытания.</p>
<p>В&nbsp;ходе испытания на&nbsp;мониторе ПК&nbsp;в&nbsp;режиме реального времени в&nbsp;графическом и&nbsp;цифровом виде отображаются текущие результаты измерений и&nbsp;одновременно они сохраняются в&nbsp;Базе данных программы.</p>
<p>После завершения опыта программа Pneumator позволяет обработать результаты испытаний в&nbsp;соответствии с&nbsp;ГОСТ 20276.<nobr>2&ndash;2020</nobr> &laquo;Грунты. Метод испытания радиальным прессиометром&raquo; и&nbsp;сформировать отчёты по&nbsp;результатам испытаний.</p>
<p>Комплект КАП2&nbsp;позволяет проводить прессиометрические испытания также в&nbsp;полностью автономном режиме с&nbsp;автоматической подкачкой давления в&nbsp;аккумулятор П&nbsp;под управлением внутреннего ПО&nbsp;пневмоблока КАП2.</p>
<p>В&nbsp;этом случае, после установления связи с&nbsp;ПК&nbsp;и&nbsp;передачи исходных данных опыта во&nbsp;внутреннею память, пневмоблок КАП2&nbsp;проводит и&nbsp;завершает испытание под управлением собственного ПО.&nbsp;Внешний ПК&nbsp;во&nbsp;время проведения испытания может быть выключен.</p>
<p>После завершения опыта все сохранённые данные из&nbsp;пневмоблока могут быть переданы в&nbsp;ПК&nbsp;по&nbsp;запросу ПО&nbsp;<a href="/complect/Pneumator">Pneumator</a>.</p>
<p>При невозможности использования пневмоблока КАП2&nbsp;или ПК&nbsp;испытания могут быть продолжены в&nbsp;полуавтоматическом режиме с&nbsp;использованием контроллера ТЕСТ-ПРК, который входит в&nbsp;комплект прессиометра ПЭВ-89МК.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/PEV+KAP.pdf" target="_blank">Прессиометр ПЭВ-89МК с&nbsp;комплектом автоматизации КАП2&nbsp;(PDF)</a></p>
</div>