<div class="block"><p>Устройство Блок П&nbsp;используется при проведении испытаний грунтов прессиометрами ПЭВ-89МК в&nbsp;соответствии с&nbsp;ГОСТ 20276.<nobr>2&ndash;2020</nobr> &laquo;Грунты. Метод испытания радиальным прессиометром&raquo; в&nbsp;составе комплекта ПЭВ-89МК+Блок П.</p>
<p>Испытания проводятся в&nbsp;полуавтоматическом режиме. При испытаниях Блок П&nbsp;подключается к&nbsp;зонду прессиометра вместо контроллера ТЕСТ-ПРК v.21&nbsp;и, в&nbsp;процессе испытаний, в&nbsp;режиме реального времени, он&nbsp;транслирует результаты измерений по&nbsp;радиоканалу ZigBee на&nbsp;удалённый ПК&nbsp;для сохранения и&nbsp;последующей обработки.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/prPEV+BP1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/prPEV+BP1_gs.jpg)" alt="Фото №1" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/prPEV+BP2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/prPEV+BP2_gs.jpg)" alt="Фото №2" title="Внешний вид Блока П"></div>
</a>
<div class="slide-text">Внешний вид Блока П</div>
</div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Блок П</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Терминал оператора (ТОП)</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Адаптер XBee USB S2</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Адаптер 220/5&nbsp;В</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кабель электрический USB-БП</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кабель бортовой сети 12/5&nbsp;В</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Батарея Б1</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Руководство по&nbsp;эксплуатации</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Транспортировочный кейс</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>Дополнительно к&nbsp;комплекту аппаратуры Блок П, для работы в&nbsp;составе оборудования ПЭВ-89МК+Блок П, необходимы:</p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Комплект прессиометр электровоздушный ПЭВ-89МК в&nbsp;полном составе</td>
<td></td>
</tr>
<tr>
<td>Ноутбук с&nbsp;предустановленным ПО&nbsp;Pneumator</td>
<td></td>
</tr>
<tr>
<td>Комплекты документации ПЭВ-89МК, Блок П&nbsp;и&nbsp;ПО&nbsp;Pneumator</td>
<td></td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Габаритные размеры</td>
<td>115х76х52&nbsp;мм</td>
</tr>
<tr>
<td>Масса, не&nbsp;более</td>
<td>0,2&nbsp;кг</td>
</tr>
<tr>
<td>тип внутреннего сменяемого источника CR123А, один элемент</td>
<td>3V, Lithium</td>
</tr>
<tr>
<td>внешний адаптер с&nbsp;выходными параметрами</td>
<td>5&nbsp;В; 60&nbsp;мА</td>
</tr>
<tr>
<td>тип преобразователя давления</td>
<td>электронный, с&nbsp;ратиометрическим выходом</td>
</tr>
<tr>
<td>напряжение питания преобразователя давления</td>
<td>5,0&nbsp;±&nbsp;0,2&nbsp;В</td>
</tr>
<tr>
<td>частота напряжения питания преобразователя перемещений</td>
<td>10,0&nbsp;±&nbsp;1,0&nbsp;кГц</td>
</tr>
<tr>
<td>диапазон температур эксплуатации</td>
<td>-20..+40&nbsp;°С</td>
</tr>
<tr>
<td>диапазон температур хранения</td>
<td>-20..+60&nbsp;°С</td>
</tr>
<tr>
<td>Радиоинтерфейс:</td>
<td></td>
</tr>
<tr>
<td>•&nbsp;спецификация</td>
<td>IEEE 802.15.4/ZigBee</td>
</tr>
<tr>
<td>•&nbsp;несущая частота</td>
<td>2402&#133;.2480&nbsp;МГц</td>
</tr>
<tr>
<td>Профиль UART</td>
<td><nobr>115200-RTS/CTS</nobr></td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>Блок П&nbsp;имеет ударопрочный пластиковый корпус, разъём РС7&nbsp;&laquo;Датчики&raquo; для подключения пневмомагистрали АД, разъём внешнего питания DJK-11B, две кнопки управления POWER и&nbsp;LINK, Индикаторы ZigBee (синий), индикатор ВАТТ (красный) и&nbsp;отсек для внутреннего элемента питания. </p>
<p>На&nbsp;передней панели изделия расположены: </p>
<ol>
<li>Кнопка &laquo;Power&raquo; включает/выключает изделие; </li>
<li>Кнопка &laquo;Link&raquo;&nbsp;&mdash; кнопка проверки связи с&nbsp;координатором ZigBee; </li>
<li>Индикатор &laquo;ZigBee&raquo; голубого цвета&nbsp;&mdash; состояние модуля ХBee. </li>
<li>индикатор &laquo;ВАТТ&raquo; красного цвета&nbsp;&mdash; состояние батареи и&nbsp;специальные операции. </li>
</ol>
<p>На&nbsp;боковых панелях расположены разъёмы: </p>
<ol>
<li>разъём PC-7&nbsp;&laquo;Датчики&raquo; для подключения пневмомагистрали АД&nbsp;или кабеля И. </li>
<li>разъём DJK-11B для подключения дополнительного источника питания, Блока Б1&nbsp;или Адаптера Бортовой сети 12/5&nbsp;вольт. </li>
</ol>
<p>На&nbsp;задней панели изделия расположен отсек для внутреннего источника питания&nbsp;&mdash; литиевой батареи CR123A,  3V. </p>
<p>Устройство Блок П&nbsp;осуществляет приём аналоговых сигналов от&nbsp;датчиков перемещений, расположенных в&nbsp;зонде прессиометра, и&nbsp;датчика пневматического давления, расположенного в&nbsp;пневмомагистрали прессиометра. Выполняет оцифровку и&nbsp;нормирование сигналов, сохраняет во&nbsp;внутренней памяти тарировочные параметры всех датчиков и&nbsp;транслирует результаты измерений по&nbsp;бескабельному каналу в&nbsp;программу Pneumator для представления, сохранения и&nbsp;последующей обработки опытных данных. </p>
<p>Взаимодействие Блока П&nbsp;и&nbsp;ПК&nbsp;осуществляется по&nbsp;двустороннему радиоканалу в&nbsp;формате ZigBee. </p>
<p>Тарировочные параметры всех датчиков могут быть многократно изменены по&nbsp;результатам тарировки или при замене комплекта прессиометра электровоздушного ПЭВ-89МК. </p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/prPEV+BP3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/prPEV+BP3_gs.jpg)" alt="Фото №1" title="Схема электрических и пневматических соединений комплекта ПЭВ-89МК+Блок П"></div>
</a>
<div class="slide-text">Схема электрических и&nbsp;пневматических соединений комплекта ПЭВ-89МК+Блок П</div>
</div>
</div>
<p>Блок П&nbsp;поддерживает запросы на&nbsp;выдачу результатов измерений по&nbsp;команде программы Pneumator или по&nbsp;команде от&nbsp;Терминала Оператора (ТОП, дистанционная кнопка). </p>
<p>На&nbsp;основании исходных данных опыта, программа Pneumator назначает нагрузочно-временные параметры испытаний в&nbsp;строгом соответствии с&nbsp;ГОСТ 20276.<nobr>2&ndash;2020</nobr>, в&nbsp;зависимости от&nbsp;вида грунтов. </p>
<p>В&nbsp;соответствии с&nbsp;параметрами испытаний программа Pneumator осуществляет запросы на&nbsp;выдачу результатов измерений перемещений и&nbsp;давления в&nbsp;заданные интервалы времени, контроль критерия стабилизации и&nbsp;контроль давления на&nbsp;ступени. </p>
<p>В&nbsp;ходе испытания, на&nbsp;основании заданных критериев, программа Pneumator предопределяет выполнение оператором тех или иных действий, путём генерации текстовых сообщений для корректного выполнения опыта. </p>
<p>При отсутствии исполнителя вблизи компьютера в&nbsp;процессе испытания, на&nbsp;Терминал Оператора транслируются аудио сообщения о&nbsp;состоянии оборудования и&nbsp;необходимости корректировки хода опыта. </p>
<p>Для проведения испытаний выполняют соединения элементов комплекта прессиометра электровоздушного ПЭВ-89МК, в&nbsp;соответствии с&nbsp;Руководствами по&nbsp;эксплуатации.</p>
<p>Блок П&nbsp;устанавливают на&nbsp;стенд, вблизи места установки прессиометра, и&nbsp;выполняют все требуемые соединения.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/PEV+BP.pdf" target="_blank">Прессиометр ПЭВ-89МК +&nbsp;Блок П&nbsp;(PDF)</a></p>
</div>