<div class="block"><p>Прессиометр электровоздушный ПЭВ-89МК предназначен для полевых испытаний грунтов в&nbsp;скважинах боковым давлением
в&nbsp;соответствии с&nbsp;ГОСТ 20276.<nobr>2&ndash;2020</nobr> &laquo;Грунты. Метод испытания радиальным прессиометром&raquo;</p>
<p>Система измерения деформаций стенок скважины электрическая, с&nbsp;индуктивными датчиками перемещений. Система создания
давления пневматическая, с&nbsp;редукционным клапаном и&nbsp;ресивером для стабилизации величины давления на&nbsp;ступени. Измерение
давления в&nbsp;зонде электрическим манометром и&nbsp;образцовым манометром кл. точности 0.4. Измерительный прибор (контроллер)&nbsp;&mdash; цифровой, двухканальный (датчики перемещений и&nbsp;датчик давления) с&nbsp;функциями сохранения и&nbsp;передачи опытных данных
в&nbsp;ПК&nbsp;для обработки.</p>
<p>Результаты испытаний используются для определения деформационных характеристик нескальных, немерзлых грунтов (модуля
деформации грунта Е, МПа).</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/prPEV.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/prPEV_gs.jpg)" alt="Фото &#8470;1" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/prPEV7.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/prPEV7_gs.jpg)" alt="Фото &#8470;2" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/CertificatePEV.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/CertificatePEV_gs.jpg)" alt="Фото &#8470;3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
<div class="video">
<div class="video-container"><iframe width="560" height="315" src="http://www.youtube.com/embed/i0WRp7Rdeik?wmode=opaque&wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
</div><div class="block"><h2><span>Публикации</span></h2>
<p><a href="/docs/ii01_pef-89mk.pdf" target="_blank">Оборудование для полевых исследований грунтов. Электро-воздушный прессиометр ПЭВ-89МК.</a> Инженерные изыскания. Декабрь 2007.</p>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>диаметр зонда прессиометра минимальный, мм</td>
<td>89</td>
</tr>
<tr>
<td>диаметр зонда прессиометра максимальный, мм</td>
<td>120</td>
</tr>
<tr>
<td>система создания давления</td>
<td>пневматическая</td>
</tr>
<tr>
<td>максимальное давление на&nbsp;грунт, МПа</td>
<td>0,9</td>
</tr>
<tr>
<td>диаметр опытной скважины, мм</td>
<td><nobr>93&ndash;100</nobr></td>
</tr>
<tr>
<td>длина пневмомагистрали, м</td>
<td>30</td>
</tr>
<tr>
<td>система измерения перемещений</td>
<td>электрическая</td>
</tr>
<tr>
<td>индикация результатов</td>
<td>цифровая</td>
</tr>
<tr>
<td>объем памяти для сохранения опытных данных</td>
<td>64&nbsp;Кб</td>
</tr>
<tr>
<td>интерфейс передачи данных в&nbsp;ПК</td>
<td>RS-232, USB</td>
</tr>
<tr>
<td>питание изм. прибора</td>
<td>12&nbsp;В</td>
</tr>
<tr>
<td>точность измерения деформаций, не&nbsp;менее, мм</td>
<td>0,1</td>
</tr>
<tr>
<td>температурный диапазон, С°</td>
<td>&mdash;&nbsp;10..+30</td>
</tr>
<tr>
<td>общая масса комплекта</td>
<td>50&nbsp;кг</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Зонд в&nbsp;сборе с&nbsp;пневмомагистралью</td>
<td>1</td>
</tr>
<tr>
<td>Манометрическая головка с&nbsp;редукционным клапаном</td>
<td>1</td>
</tr>
<tr>
<td>Ресивер с&nbsp;манометром</td>
<td>1</td>
</tr>
<tr>
<td>Автомобильный насос</td>
<td>1</td>
</tr>
<tr>
<td>Цифровой измерительный прибор (контроллер ТЕСТ-ПРК)</td>
<td>1</td>
</tr>
<tr>
<td>Страховочный трос</td>
<td>1</td>
</tr>
<tr>
<td>Контрольная труба диаметром 105&nbsp;мм</td>
<td>1</td>
</tr>
<tr>
<td>Техническое описание и&nbsp;инструкция по&nbsp;эксплуатации</td>
<td>1</td>
</tr>
<tr>
<td>Программа PressPW.MA для обработки результатов испытаний</td>
<td>1</td>
</tr>
<tr>
<td>Транспортировочный ящик</td>
<td>1</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>Прессиометр ПЭВ-89МК состоит из&nbsp;зонда с&nbsp;эластичной полиуретановой оболочкой, в&nbsp;сборе с&nbsp;пневмомагистралью и&nbsp;датчиком
давления, ресивера, манометрической головки, с&nbsp;редукционным клапаном, измерительного прибора (контроллера ТЕСТ-ПРК)
и&nbsp;страховочного троса.</p>
<p>Основные узлы прессиометра ПЭВ-89МК<!-&nbsp;&mdash; показаны на&nbsp;рисунке&nbsp;&mdash; ->:</p>
<ol>
<li>Зонд с&nbsp;пневмомагистралью.</li>
<li>Манометрическая головка с&nbsp;редукционным клапаном.</li>
<li>Ресивер с&nbsp;манометром.</li>
<li>Измерительный прибор&nbsp;&mdash; контроллер ТЕСТ-ПРК имеет четыре управляющих клавиши, цифровой дисплей, разъем для подключения
к&nbsp;манометрической головке, разъем для подключения внешнего питания и&nbsp;разъем для передачи опытных данных в&nbsp;ПК.</li>
</ol>
<p>Прессиометр работает следующим образом.</p>
<p>Зонд прессиометра опускают в&nbsp;скважину на&nbsp;отметку испытания. В&nbsp;ресивер посредством автомобильного или любого
другого насоса закачивают воздух, манометрическую головку подключают к&nbsp;ресиверу. К&nbsp;пневмомагистрали зонда подключают
измерительный прибор (контроллер). В&nbsp;контроллер вводят параметры для проведения опыта: схема нагружения, режим
испытания, вид грунта, номер опыта, глубина испытания. Оператор редукционным клапаном задает давление первой ступени
и&nbsp;начинает опыт. Контроллер запускает таймер, начинает сохранение и&nbsp;анализ опытных данных. При выполнении принятого
критерия стабилизации контроллер подает звуковой сигнал. Оператор при помощи регулятора задает следующую ступень
нагрузки и&nbsp;продолжает опыт. Вся текущая информация отображается на&nbsp;дисплее контроллера.</p>
<p>При выдержке на&nbsp;ступени давление в&nbsp;зонде поддерживается постоянным при помощи регулятора, а&nbsp;сохранение отсчетов, с&nbsp;заданным шагом выполняется в&nbsp;контроллере автоматически. Использование контроллера для сохранения результатов
устраняет возможные ошибки оператора в&nbsp;процессе испытания и&nbsp;существенно сокращает трудоемкость работ, особенно
при испытаниях в&nbsp;медленном режиме. В&nbsp;контроллере можно сохранять результаты <nobr>10&ndash;30</nobr> опытов.</p>
<p>После завершения опыта данные из&nbsp;контроллера передаются в&nbsp;ПК&nbsp;для обработки с&nbsp;помощью программ
<a href="/complect/PressPW">PressPW.MA</a> или <a href="/complect/Pneumator">Pneumator</a> (входят в&nbsp;состав комплекта).</p>
<p>В&nbsp;процессе проведения испытания возможна дополнительная подкачка воздуха в&nbsp;ресивер для продолжения опыта и&nbsp;испытанияпо схеме нагрузка-разгрузка.</p>
<p>Испытания проводятся в&nbsp;буровых скважинах диаметром от&nbsp;93&nbsp;до&nbsp;100&nbsp;мм, подготовленных согласно п. 4.4&nbsp;ГОСТ 20276.<nobr>2&ndash;2020</nobr>. Испытаниям подвергаются литологически однородные слои грунта мощностью не&nbsp;менее 1&nbsp;метра.</p>
<p>Испытания могут проводиться по&nbsp;методикам быстрого или медленного режимов, согласно ГОСТ 20276.<nobr>2&ndash;2020</nobr> &laquo;Грунты. Метод испытания радиальным прессиометром&raquo;/</p>
<p>Калибровка прессиометра выполняется предприятием-изготовителем, а&nbsp;в&nbsp;процессе эксплуатации для проверки работоспособности измерительного тракта пользователь может выполнить контрольные испытания.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/PEV.pdf" target="_blank">Электровоздушный радиальный прессиометр ПЭВ-89МК (PDF)</a></p>
</div><div class="block"><order/>
</div>