<div class="block"><p><i>Текущая версия: 3.14.523</i></p>
<p>Программы серии Geoexplorer предназначены для обработки результатов статического зондирования грунтов
и&nbsp;используются с&nbsp;комплектами аппаратуры <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&nbsp;&#x41A;2&#x41C;">ТЕСТ-К2М</a>, <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&nbsp;12">ТЕСТ-12</a>, <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&nbsp;&#x41A;4&#x41C;">ТЕСТ-К4М</a> и&nbsp;<a href="/complect/&#x422;&#x415;&#x421;&#x422;-&nbsp;&#x41A;4U">ТЕСТ К4&nbsp;CPTU</a>, разработанными АО&nbsp;&laquo;Геотест&raquo;.</p>
<p>Программа позволяет обработать данные статического зондирования и&nbsp;получить отчетные документы для передачи
проектировщикам.</p>
<p>Основу программы составляют следующие нормативные документы:</p>
<ul>
<li>СП&nbsp;<nobr>11&ndash;105&ndash;97</nobr> Часть I&nbsp;(Приложение И);</li>
<li>СП&nbsp;446.1325800.2019&nbsp;&laquo;Инженерные изыскания для строительства. Основные положения&raquo;;</li>
<li>ГОСТ <nobr>20522&ndash;2012</nobr> &laquo;Методы статистической обработки результатов испытаний&raquo;;</li>
<li>СП&nbsp;24.13330.2011&nbsp;&laquo;СНиП 2.02.<nobr>03&ndash;85</nobr> Свайные фундаменты&raquo;;</li>
<li>СП&nbsp;<nobr>50&ndash;102&ndash;2003</nobr> &laquo;Проектирование и&nbsp;устройство свайных фундаментов&raquo;;</li>
<li>МГСН 2.<nobr>07&ndash;01</nobr> &laquo;Московские городские строительные нормы. Основания, фундаменты и&nbsp;подземные сооружения&raquo;.</li>
</ul>
</div><div class="block"><h2><span>Публикации</span></h2>
<p><a href="/docs/ii04_geoexpl.pdf" target="_blank">GEOEXPLORER для обработки результатов статического зондирования.</a> Инженерные изыскания. Июнь 2008.</p>
</div><div class="block"><h2><span>Основные возможности программы</span></h2>
<p>При обработке результатов одного опыта программа позволяет:</p>
<ul>
<li>построить графики qc, МПа и&nbsp;fs, кПа;</li>
<li>определить вид и&nbsp;состояние грунтов;</li>
<li>оценить нормативные значения прочностных характеристик С, кПа и&nbsp;φ, град;</li>
<li>оценить модуль деформации Е, МПа;</li>
<li>выделить ИГЭ (инженерно-геологические элементы);</li>
<li>описать ИГЭ (cправочник ИГЭ для объекта);</li>
<li>получить для ИГЭ расчетные характеристики;</li>
<li>построить геологический разрез скважины в&nbsp;точке зондирования;</li>
<li>рассчитать частные значения предельного сопротивления забивных и&nbsp;буровых висячих свай.</li>
</ul>
<p>Для объекта:</p>
<ul>
<li>построить геологический разрез площадки по&nbsp;результатам зондирования;</li>
<li>рассчитать нормативные и&nbsp;расчетные характеристики для ИГЭ;</li>
<li>рассчитать несущую способность забивных и&nbsp;буровых висячих свай по&nbsp;объекту.</li>
<li>рассчитать несущую способность винтовых и&nbsp;забивных круглых свай по&nbsp;объекту.</li>
</ul>
<p>Программа предусматривает вывод документов в&nbsp;различных форматах: PDF, BMP, EMF, MS&nbsp;Excel, Windows Metafile, Jpeg, rich
text format, текстовый документ, CSV, HTML.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/pGE1.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/pGE1_gs.png)" alt="Фото &#8470;1" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/pGE2.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/pGE2_gs.png)" alt="Фото &#8470;2" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/pGE3.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/pGE3_gs.png)" alt="Фото &#8470;3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/pGE4.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/pGE4_gs.png)" alt="Фото &#8470;4" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Примеры некоторых отчетов (в&nbsp;формате PDF)</span></h2>
<p>Для опыта:</p>
<ul>
<li><a href="/docs/rp_1.pdf">Паспорт статического зондирования;</a></li>
<li><a href="/docs/rp_2.pdf">Отчет по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr>;</a></li>
<li><a href="/docs/rp_3.pdf">Протокол опыта CPTU (только v.2.xx);</a></li>
<li><a href="/docs/rp_4.pdf">Геологическая колонка;</a></li>
<li><a href="/docs/rp_5.pdf">Отчет по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr> с&nbsp;геологической колонкой;</a></li>
<li><a href="/docs/rp_6.pdf">Геологический разрез скважины;</a></li>
<li><a href="/docs/rp_7.pdf">Несущая способность свай.</a></li>
</ul>
<p>Для объекта:</p>
<ul>
<li><a href="/docs/rp_8.pdf">Геологический разрез площадки по&nbsp;результатам зондирования;</a></li>
<li><a href="/docs/rp_9.pdf">Сводная таблица физико-механических характеристик грунтов;</a></li>
<li><a href="/docs/rp_10.pdf">Нормативные и&nbsp;расчетные характеристики ИГЭ;</a></li>
<li><a href="/docs/rp_11.pdf">Несущая способность свай по&nbsp;объекту.</a></li>
</ul>
</div><div class="block"><h2><span>Сопровождение программы</span></h2>
<p>При покупке программы вы&nbsp;получаете бесплатное техническое сопровождение, в&nbsp;которое входят:</p>
<ul>
<li>получение новых версий (версии высылаются по&nbsp;запросу на&nbsp;электронную почту);</li>
<li>получение методических руководств по&nbsp;работе с&nbsp;программой.</li>
<li>консультации по&nbsp;эксплуатации программы (телефонные и&nbsp;по&nbsp;электронной почте);</li>
<li>восстановление базы данных заказчика, поврежденных в&nbsp;результате аппаратных сбоев.</li>
</ul>
</div><div class="block"><order/>
</div>