<div class="block">
<p><i>Текущая версия: v1.5</i></p>
<p>Программа GeoSimple предназначена для ввода архивных данных, сохранившихся в&nbsp;полевых журналах, а&nbsp;так же&nbsp;для конвертации данных статического зондирования полученных с&nbsp;помощью различной аппаратуры, в&nbsp;формат GXL для передачи в&nbsp;программу <a href="/complect/GeoExplorer">GeoExplorer</a>.</p>
<p>GeoSimple принимает данные из&nbsp;широкого спектра форматов:</p>
<ul>
<li>данные всех контроллеров серии &laquo;ТЕСТ&raquo; (GEO);</li>
<li>Geotechnical Exchange Format for CPT-data (GEF);</li>
<li>данные аппаратуры &laquo;ENVI&raquo; (TXT);</li>
<li>данные оборудования &laquo;ФУГРО&raquo; (A00);</li>
<li>табличные данные Microsoft Excel, Comma-Separated Values (XLS, CSV);</li>
<li>текстовые данные (TXT) с&nbsp;различными разделителями.</li>
</ul>
<p>В&nbsp;программе GeoSimple данные могут быть отредактированы или добавлены вручную. Значения сопротивления конуса вводятся в&nbsp;МПа, значения сопротивления муфты в&nbsp;кПа. При работе с&nbsp;аппаратурой К4&nbsp;значения порового давления вводятся в&nbsp;МПа, значения угла отклонения (инклинометр) вводятся в&nbsp;целых градусах.</p>
<p>После загрузки, в&nbsp;основном окне программы можно изменить данные в&nbsp;таблице отсчетов, задать номер опыта, дату опыта, исполнителя, привязку опыта, абсолютную отметку устья, максимальное усилие тарировки конуса и&nbsp;муфты, шаг зондирования, начальную глубину зондирования. После чего можно сгенерировать файл gxl для дальнейшей обработки данных в&nbsp;программе GeoExplorer.</p>
<p>Так же, программа предоставляет возможность получения простого (без обработки) отчета в&nbsp;виде графика профиля зондирования (по ГОСТ <nobr>19912&ndash;2012</nobr>). Отчёт можно распечатать, сохранить в&nbsp;формате PDF или JPG.</p>
<p>Результатом работы GeoSimple является GXL файл, который может быть передан в&nbsp;программу в&nbsp;программу <a href="/complect/GeoExplorer">GeoExplorer</a>.</p>
<br/>
<div class="pslider__wrapper">
<!--<div class="pslider__title"><span class="pslider__title__txt">Рабочие окона программы</span><span class="pslider__title__counter"></span></div>-->
<div class="pslider__photos__wrapper"><div class="navi_left" style="display: none;"></div><div class="navi_right"></div>
<!--<div class="navi_left"></div><div class="navi_right"></div>-->
<div class="pslider__photos__list"><div class="item active" data-pslider-pos="1"><i class="exp"><a href="/i/GSmain.png" target="_blank"></a></i><a href="/i/GSmain.png" target="_blank"><img src="/i/GSmain_gs.png" alt="Фото №1" title="Главное окно программы"></a></div><div class="item" data-pslider-pos="2"><i class="exp"><a href="/i/GSgrid.png" target="_blank"></a></i><a href="/i/GSgrid.png" target="_blank"><img src="/i/GSgrid_gs.png" alt="Фото №2" title="Выбор массива данных"></a></div></div>
</div>
<!--<div class="pslider__photoDesc"></div>--></div>
</div>
<div class="block">
<h2><span>Сопровождение программы</span></h2>
<p>Программа для наших заказчиков предоставляется бесплатно по&nbsp;запросу на&nbsp;электронную почту.</p>
</div>
