<div class="block"><p><i>Текущая версия: v10b31</i></p>
<p>Программы серии Geoepush предназначены для обработки результатов динамического зондирования грунтов
и&nbsp;используются с&nbsp;комплектами оборудования <a href="/complect/&#x410;&#x414;&#x417;">Адаптер динамического зондирования АДЗ-2</a> и&nbsp;<a href="/complect/&#x420;&#x414;&#x41A;">Ручной динамический комплект РДК</a>, разработанными АО&nbsp;&laquo;Геотест&raquo;.</p>
<p>Программа позволяет обработать данные динамического зондирования и&nbsp;получить отчетные документы для передачи
проектировщикам.</p>
<p>Основу программы составляют следующие нормативные документы:</p>
<ul>
<li>СП&nbsp;47.13330.2012&nbsp;СНиП <nobr>11&ndash;02&ndash;96</nobr> &laquo;Инженерные изыскания для строительства. Основные положения&raquo;;</li>
<li>ГОСТ <nobr>20522&ndash;2012</nobr> &laquo;Методы статистической обработки результатов испытаний&raquo;;</li>
</ul>
</div><div class="block"><h2><span>Основные возможности программы</span></h2>
<p>При обработке результатов одного опыта программа позволяет:</p>
<ul>
<li>оценить нормативные значения прочностных характеристик песчанных грунтов, φ, град;</li>
<li>оценить модуль деформации песчанных грунтов Е, МПа;</li>
<li>определить вероятность разжижения песков;</li>
<li>выделить ИГЭ (инженерно-геологические элементы);</li>
<li>описать ИГЭ (cправочник ИГЭ для объекта);</li>
<li>получить для ИГЭ расчетные характеристики;</li>
<li>построить геологический разрез скважины в&nbsp;точке зондирования;</li>
</ul>
<p>Для объекта:</p>
<ul>
<li>построить геологический разрез площадки по&nbsp;результатам зондирования;</li>
<li>рассчитать нормативные и&nbsp;расчетные характеристики для ИГЭ;</li>
</ul>
<p>Программа предусматривает вывод документов в&nbsp;различных форматах: MS&nbsp;Excel, Windows Metafile, Jpeg, rich
text format, текстовый документ, CSV, HTML.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/pGPorg.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/pGPorg_gs.png)" alt="Фото №1" title="Общий вид."></div>
</a>
<div class="slide-text">Общий вид.</div>
</div>
<div class="slide">
<a href="/i/pGPige.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/pGPige_gs.png)" alt="Фото №2" title="Общий вид."></div>
</a>
<div class="slide-text">Общий вид.</div>
</div>
</div>
</div><div class="block"><h2><span>Примеры некоторых отчетов (в&nbsp;формате PDF)</span></h2>
<p>Для опыта:</p>
<ul>
<li><a href="/docs/drp_1.pdf">Паспорт динамического зондирования;</a></li>
<li><a href="/docs/drp_2.pdf">Отчет по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr> v.2;</a></li>
<li><a href="/docs/drp_3.pdf">Отчет ГОСТ <nobr>19912&ndash;2012</nobr> +&nbsp;разрез;</a></li>
<li><a href="/docs/drp_4.pdf">Характеристики ИГЭ в&nbsp;точке зондирования;</a></li>
</ul>
<p>Для объекта:</p>
<ul>
<li><a href="/docs/drp_5.pdf">Геологический разрез по&nbsp;данным зондирования;</a></li>
<li><a href="/docs/drp_6.pdf">Справочник проб для объекта;</a></li>
<li><a href="/docs/drp_7.pdf">Таблица нормативных и&nbsp;расчетных характеристик грунтов;</a></li>
<li><a href="/docs/drp_8.pdf">Сводная таблица физико-механических характеристик грунтов.</a></li>
</ul>
</div><div class="block"><h2><span>Сопровождение программы</span></h2>
<p>C&nbsp;программой вы&nbsp;получаете бесплатное техническое сопровождение, в&nbsp;которое входят:</p>
<ul>
<li>получение новых версий (версии высылаются по&nbsp;запросу на&nbsp;электронную почту);</li>
<li>получение методических руководств по&nbsp;работе с&nbsp;программой.</li>
<li>консультации по&nbsp;эксплуатации программы (телефонные, по&nbsp;электронной почте и&nbsp;ICQ);</li>
<li>восстановление базы данных заказчика, поврежденных в&nbsp;результате аппаратных сбоев.</li>
</ul>
</div>