<div class="block"><p><i>Текущая версия: v2.6</i></p>
<p>Программа Impeller 2.0&nbsp;предназначена для обработки результатов испытаний слабых грунтов методом вращательного
среза
<a href="/complect/&#x41A;&#x420;">cдвигомером-крыльчаткой</a>, выполненного в&nbsp;соответствии с&nbsp;ГОСТ 20276.<nobr>5&ndash;2020</nobr> &laquo;Грунты. Метод вращательного среза&raquo; и&nbsp;методом статического зондирования, выполняемым
<a href="/complect/&#x41F;&#x41D;">ручным пенетрометром</a>в&nbsp;соответствии с&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr> &laquo;Грунты. Методы полевых испытаний статическим и&nbsp;динамическим
зондированием&raquo;.</p>
<p>Программа позволяет обработать данные испытаний и&nbsp;получить отчетные документы для передачи проектировщикам. По
результатам испытаний крыльчаткой выполняется расчет сопротивления грунта срезу и&nbsp;формируется отчет в&nbsp;соответствии
с&nbsp;ГОСТ 20276.<nobr>5&ndash;2020</nobr>. Для пенетрометра выполняется расчет модуля деформации, угла внутреннего трения, удельного сцепления
в&nbsp;соответствии с&nbsp;СП&nbsp;446.1325800.2019&nbsp;&laquo;Инженерно-геологические изыскания для строительства. Общие правила производства работ&raquo;. Приложение Ж&nbsp;и&nbsp;формируется отчет по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr>.</p>
<p>Программа основана на&nbsp;ГОСТ 20276.<nobr>5&ndash;2020</nobr> &laquo;Грунты. Метод вращательного среза&raquo;, ГОСТ <nobr>19912&ndash;2012</nobr> &laquo;Грунты. Методы полевых испытаний статическим и&nbsp;динамическим зондированием&raquo; и&nbsp;СП&nbsp;446.1325800.2019&nbsp;&laquo;Инженерно-геологические изыскания для строительства. Общие правила производства работ&raquo;.</p>
</div><div class="block"><h2><span>Основные возможности программы</span></h2>
<h4>Крыльчатка</h4>
<p>При обработке результатов одного опыта программа позволяет:</p>
<ol>
<li>Cформировать таблицу &laquo;Журнал испытания грунта методом вращательного среза&raquo; по&nbsp;ГОСТ 20276.<nobr>5&ndash;2020</nobr>, Приложение Б.</li>
<li>Построить эпюру изменения сопротивления сдвигу по&nbsp;глубине.</li>
</ol>
<p>для объекта:</p>
<ol>
<li>Сформировать сводную таблицу &laquo;Журнал испытания грунта методом вращательного среза&raquo; (по ГОСТ 20276.<nobr>5&ndash;2020</nobr>, Приложение Б)&nbsp;по&nbsp;всем выбраным опытам.</li>
<li>Рассчитать нормативные и&nbsp;расчетные значения сопротивления срезу, коэффициент вариации.</li>
<li>Построить эпюру изменения расчетного и&nbsp;норматичного сопротивления сдвигу по&nbsp;глубине.</li>
</ol>
<h4>Пенетрометр</h4>
<p>При обработке результатов одного опыта программа позволяет:</p>
<ol>
<li>Cформировать таблицу &laquo;Журнал испытания грунта методом статического зондирования&raquo; по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr>, Приложение
Б;</li>
<li>Построить график изменения сопротивления конуса по&nbsp;глубине погружения пенетрометра по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr>, Приложение
Г;</li>
<li>Рассчитать значения модуля деформации, угла внутреннего трения и&nbsp;удельного сцепления грунта.</li>
</ol>
<p>Программа предусматривает вывод документов в&nbsp;различных форматах: MS&nbsp;Excel, MS&nbsp;Word (табличный) PDF, JPG, BMP, RTF, CSV, HTML, текстовый документ.</p>
<p>Вы&nbsp;можете посмотреть снимки рабочих окон программы: главное окно программы, проведение испытания и&nbsp;работа с&nbsp;графиком
прессиометрического опыта.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/pImporg.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/pImporg_gs.png)" alt="Фото №1" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/pImptar.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/pImptar_gs.png)" alt="Фото №2" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Примеры некоторых отчетов (в&nbsp;формате PDF)</span></h2>
<h4>Крыльчатка</h4>
<ul>
<li><a href="/docs/irp_1.pdf">для опыта</a></li>
<li><a href="/docs/irp_2.pdf">для объекта</a></li>
<li><a href="/docs/irp_3.pdf">градуировка</a></li>
</ul>
<h4>Пенетрометр</h4>
<ul>
<li><a href="/docs/irp_4.pdf">для опыта</a></li>
<li><a href="/docs/irp_5.pdf">градуировка</a></li>
</ul>
</div>