<div class="block"><p><i>Текущая версия: v1.0.0.18</i></p>
<p>Программа PressPW.MA предназначена для обработки данных результатов испытаний грунтов радиальным прессиометром
ПЭВ-89МК.</p>
<p>В&nbsp;программе используется методика определения модуля деформации грунта согласно ГОСТ 20276.<nobr>2&ndash;2020</nobr> &laquo;Грунты. Метод испытания радиальным прессиометром&raquo;.</p>
</div><div class="block"><h2><span>Основные возможности программы</span></h2>
<p>При обработке результатов одного опыта программа позволяет:</p>
<ol>
<li>автоматическая загрузка данных прессиометрических испытаний из&nbsp;контроллера ТЕСТ-ПРК;</li>
<li>возможность коректировать начальные установки опыта;</li>
<li>возможность просмотра полной информации о&nbsp;прохождении опыта и&nbsp;параметрах используемого прессиометра;</li>
<li>удобная работа с&nbsp;базой данных программы (хранение, сохранение и&nbsp;восстановление базы);</li>
<li>построение графика прессиометрического опыта&nbsp;&mdash; &laquo;давление на&nbsp;грунт&nbsp;&mdash; диаметр скважины&raquo;;</li>
<li>расчет модуля деформации грунтов по&nbsp;результатам испытаний;</li>
<li>создание отчетов для передачи проектировщикам.</li>
</ol>
<p>Программа предусматривает вывод документов в&nbsp;различных форматах: MS&nbsp;Excel, Windows Metafile, Jpeg, rich text format, текстовый документ, CSV, HTML.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/pPWMAorg.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/pPWMAorg_gs.png)" alt="Фото &#8470;1" title="Общий вид."></div>
</a>
<div class="slide-text">Общий вид.</div>
</div>
<div class="slide">
<a href="/i/pPWMAgraf.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/pPWMAgraf_gs.png)" alt="Фото &#8470;2" title="Общий вид."></div>
</a>
<div class="slide-text">Общий вид.</div>
</div>
</div>
</div><div class="block"><h2><span>Примеры некоторых отчетов (в&nbsp;формате PDF)</span></h2>
<ul>
<li><a href="/docs/rp_pwma1.pdf">Паспорт прессиометрического опыта;</a></li>
<li><a href="/docs/rp_pwma2.pdf">Протокол прессиометрического опыта;</a></li>
<li><a href="/docs/rp_pwma3.pdf">Развитие деформаций во&nbsp;времени;</a></li>
</ul>
</div><div class="block"><h2><span>Сопровождение программы</span></h2>
<p>C&nbsp;программой вы&nbsp;получаете бесплатное техническое сопровождение, в&nbsp;которое входят:</p>
<ul>
<li>получение новых версий (версии высылаются по&nbsp;запросу на&nbsp;электронную почту);</li>
<li>получение методических руководств по&nbsp;работе с&nbsp;программой.</li>
<li>консультации по&nbsp;эксплуатации программы (телефонные, по&nbsp;электронной почте и&nbsp;ICQ);</li>
<li>восстановление базы данных заказчика, поврежденных в&nbsp;результате аппаратных сбоев.</li>
</ul>
</div>