<div class="block"><p>Пробоотборник Р-45М предназначен для отбора проб глинистых и&nbsp;песчаных грунтов с&nbsp;помощью установок статического зондирования для идентификации грунта и&nbsp;лабораторных исследований физических свойств.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szProb1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szProb1_gs.jpg)" alt="Фото №1" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/szProb2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szProb2_gs.jpg)" alt="Фото №2" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/szProb3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szProb3_gs.jpg)" alt="Фото №3" title="Набор колец с оснасткой"></div>
</a>
<div class="slide-text">Набор колец с&nbsp;оснасткой</div>
</div>
<div class="slide">
<a href="/i/szProb4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szProb4_gs.jpg)" alt="Фото №4" title="Кольца с фонарём"></div>
</a>
<div class="slide-text">Кольца с&nbsp;фонарём</div>
</div>
<div class="slide">
<a href="/i/szProb5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szProb5_gs.jpg)" alt="Фото №5" title="Кольца на оснастке"></div>
</a>
<div class="slide-text">Кольца на&nbsp;оснастке</div>
</div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Пробоотборник </td>
<td>1</td>
</tr>
<tr>
<td>Кольцо</td>
<td>4</td>
</tr>
<tr>
<td>Крышка</td>
<td>4</td>
</tr>
<tr>
<td>Фонарь</td>
<td>1</td>
</tr>
<tr>
<td>Оправка</td>
<td>1</td>
</tr>
<tr>
<td>Тара</td>
<td>1</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Внешний диаметр, мм</td>
<td>45</td>
</tr>
<tr>
<td>Диаметр пробы, мм</td>
<td>36</td>
</tr>
<tr>
<td>Высота кольца, мм</td>
<td>25</td>
</tr>
<tr>
<td>Объем пробы, см³</td>
<td>25</td>
</tr>
<tr>
<td>Масса, кг</td>
<td>1,8</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Область применения</span></h2>
<p>Пробоотборник Р-45М может применяться только на&nbsp;зондировочных установках, которые позволяют позицио- нировать пробоотборник с&nbsp;точностью <nobr>1&ndash;2</nobr> см&nbsp;по&nbsp;глубине.</p>
<p>Пробоотборник может использоваться для отбора проб в&nbsp;структурно-устойчивых однородных песчаных и&nbsp;глинистых грунтах, без крупных включений, природной влажности.</p>
<p><b>Песчаные грунты</b>:&nbsp;независимо от&nbsp;влажности&nbsp;&mdash; средней крупности, мелкие и&nbsp;пылеватые, средней плотности и&nbsp;плотные, с&nbsp;сопротивлением конуса qc, от&nbsp;0.3&nbsp;до&nbsp;10&nbsp;МПа, <b>КРОМЕ РЫХЛЫХ</b>.</p>
<p><b>Глинистые грунты</b>:&nbsp;супеси&nbsp;&mdash; твёрдые и&nbsp;пластичные, суглинки и&nbsp;глины&nbsp;&mdash; от&nbsp;твёрдых до&nbsp;мягкопластичных с&nbsp;qc&nbsp;от&nbsp;0.3&nbsp;до&nbsp;10&nbsp;МПа, <b>КРОМЕ ТЕКУЧИХ</b>.</p>
</div><div class="block"><h2><span>Работа с&nbsp;пробоотборником</span></h2>
<p>Пробоотборник вдавливают в&nbsp;грунт с&nbsp;помощью зонди- ровочной установки, посредством зондировочных штанг. На&nbsp;заданной глубине он&nbsp;открывается и&nbsp;вдавливается в&nbsp;грунт на&nbsp;10&nbsp;см&nbsp;для отбора пробы грунта ненарушенного сложения.</p>
<p>Для этого оператор навинчивает пробоотборник на&nbsp;штангу, устанавливает его на&nbsp;грунт сквозь направляющую и&nbsp;начинает его вдавливание на&nbsp;выбранную глубину.</p>
<p>При достижении заданной отметки, оператор закрепляет на&nbsp;штанге пружинный зажим на&nbsp;уровне стола (нижней плиты), фиксируя начальное положение пробоотборника, и&nbsp;поднимает штанги вверх на&nbsp;высоту 10&nbsp;см. При этом происходит подъём штока с&nbsp;конусом внутри пробоотборника и&nbsp;его фиксация в&nbsp;верхнем положении, посредством трёх шариковых стопоров, которые заклиниваются в&nbsp;кольцевой проточке на&nbsp;штоке. Сам корпус пробоотборника остаётся неподвижным, так как удерживается силами трения грунта о&nbsp;его внешнею поверхность. </p>
<p>Затем оператор медленно перемещает штангу вниз на&nbsp;те&nbsp;же&nbsp;10&nbsp;см, до&nbsp;прежнего положения метки (пружинного зажима) на&nbsp;штанге, относительно стола зондировочной установки и&nbsp;извлекает колонну штанг с&nbsp;пробоотборником на&nbsp;поверхность. Эти манипуляции должны выполняться с&nbsp;предельной точностью, так как при превышении этих перемещений произойдёт неконтролируемое переуплотнение грунта внутри пробоотборника. </p>
<p>После извлечения пробоотборника из&nbsp;грунта, оператор отвинчивает корпус от&nbsp;верхнего фланца, извлекает кольца с&nbsp;грунтом в&nbsp;собранном виде и&nbsp;помещает их&nbsp;в&nbsp;герметичный контейнер. На&nbsp;контейнере указывают номер пробы, глубину отбора и&nbsp;номер ближайшей скважины или точки зондирования. </p>
<p>В&nbsp;пробоотборник устанавливается новая обойма с&nbsp;кольцами, и&nbsp;он&nbsp;погружается на&nbsp;следующую отметку, в&nbsp;эту же&nbsp;скважину, где повторяются все операции по&nbsp;отбору пробы. </p>
<p>При использовании пробоотборников в&nbsp;процессе зондирования грунтов, несмотря на&nbsp;небольшой объём проб (25&nbsp;см3), можно выполнить идентификацию и&nbsp;описание грунта по&nbsp;глубине скважины, а&nbsp;также определить основные физические показатели: объёмный вес грунта, влажность, пористость, пластичность, плотность песчаных грунтов и&nbsp;их&nbsp;гранулометрический состав. </p>
<p>Данные характеристики могут быть найдены как в&nbsp;грунтовой лаборатории, так и&nbsp;в&nbsp;полевых условиях, при использовании переносной полевой лаборатории Литвинова ПЛЛ-9.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szProb.pdf" target="_blank">Пробоотборник Р45/100&nbsp;(PDF)</a></p>
</div>
</div>