<div class="block">
<p>Программа Штамп-КРП предназначена для автоматической обработки результатов штамповых опытов проведенных штампом
<a href="/complect/&#x428;&#x412;">ШВ60</a> с&nbsp;комплектом регистрации <a href="/row/2790f9c039db6d3e53b24911ae776c3c">КРП1</a>, разработанных в&nbsp;АО&nbsp;&laquo;Геотест&raquo;.</p>
<p>В&nbsp;программе используется методика определения модуля деформации грунта согласно ГОСТ <nobr>20276&ndash;2012</nobr> &laquo;Грунты. Методы полевого определения
характеристик деформируемости&raquo;.</p>
</div>
<div class="block">
<h2><span>Основные возможности программы</span></h2>
<ol>
<li>автоматическая передача данных штампового опыта в&nbsp;программу из&nbsp;контроллера ТЕСТ-КРП;</li>
<li>возможность коректировать начальные установки опыта;</li>
<li>возможность просматривать параметры комплекта и&nbsp;полученные данные;</li>
<li>удобная работа с&nbsp;базой данных программы (хранение, сохранение и&nbsp;восстановление базы);</li>
<li>построение графика штампового опыта&nbsp;&mdash; &laquo;осадка&nbsp;&mdash; давление&raquo;;</li>
<li>возможность выбора масштаба графика для отчетов (ГОСТ или автоматический);</li>
<li>расчет модуля деформации грунтов по&nbsp;результатам испытаний;</li>
<li>создание отчетов для передачи проектировщикам.</li>
</ol>
<p>Программа предусматривает вывод документов в&nbsp;различных форматах: MS&nbsp;Excel, Windows Metafile, Jpeg, rich text format, текстовый
документ.</p>
<div class="pslider__wrapper">
<!--<div class="pslider__title"><span class="pslider__title__txt">Рабочие окона программы</span><span class="pslider__title__counter"></span></div>-->
<div class="pslider__photos__wrapper"><div class="navi_left" style="display: none;"></div><div class="navi_right"></div>
<!--<div class="navi_left"></div><div class="navi_right"></div>-->
<div class="pslider__photos__list"><div class="item active" data-pslider-pos="1"><i class="exp"><a href="/i/pShwKRP.gif" target="_blank"></a></i><a href="/i/pShwKRP.gif" target="_blank"><img src="/i/pShwKRP_gs.gif" alt="Фото №1" title="Общий вид."></a></div><div class="item" data-pslider-pos="2"><i class="exp"><a href="/i/pShwPW2.gif" target="_blank"></a></i><a href="/i/pShwPW2.gif" target="_blank"><img src="/i/pShwPW2_gs.gif" alt="Фото №2" title="Общий вид."></a></div></div>
</div>
<!--<div class="pslider__photoDesc"></div>--></div>
</div>
<div class="block">
<h2><span>Примеры некоторых отчетов (в&nbsp;формате PDF)</span></h2>
<ul>
<li><a href="/docs/rp_spw1.pdf">Паспорт штампового опыта;</a></li>
<li>Протокол штампового опыта;</li>
<li>Развитие деформаций во&nbsp;времени;</li>
</ul>
</div>
<div class="block">
<h2><span>Сопровождение программы</span></h2>
<p>C&nbsp;программой вы&nbsp;получаете бесплатное техническое сопровождение, в&nbsp;которое входят:</p>
<ul>
<li>получение новых версий (версии высылаются по&nbsp;запросу на&nbsp;электронную почту);</li>
<li>получение методических руководств по&nbsp;работе с&nbsp;программой.</li>
<li>консультации по&nbsp;эксплуатации программы (телефонные, по&nbsp;электронной почте и&nbsp;ICQ);</li>
<li>восстановление базы данных заказчика, поврежденных в&nbsp;результате аппаратных сбоев.</li>
</ul>
</div>
