<div class="block"><p>Переносная установка статического зондирования (ПУСЗ-1М) предназначена для испытания грунтов статическим зондированием и&nbsp;бурения геологических скважин шнеком (Ø&nbsp;60&nbsp;мм) или колонковым способом, для отбора проб грунтов при инженерно-геологических изысканиях.</p>
<p>Согласно классификации ГОСТ <nobr>19912&ndash;2012</nobr> &laquo;Грунты. Методы полевых испытаний статическим и&nbsp;динамическим зондированием&raquo;, установка относится к&nbsp;&laquo;легкому&raquo; типу по&nbsp;усилию вдавливания до&nbsp;50&nbsp;кН.</p>
<p>Установка может использоваться как в&nbsp;полевых, так и&nbsp;в&nbsp;стеснённых условиях, например, в&nbsp;подвальных помещениях или в&nbsp;местах недоступных для автомобильной техники.</p>
<p>Перемещение установки по&nbsp;площадке осуществляется вручную, с&nbsp;помощью подкатных тележек, которые входят в&nbsp;состав установки.</p>
<p>При зондировании грунтов на&nbsp;установке ПУСЗ-1М&nbsp;может использоваться любой из&nbsp;комплектов аппаратуры для статического зондирования грунтов, выпускаемых предприятием Геотест (<a href="/complect/&#x422;&#x415;&#x421;&#x422;-&nbsp;&#x41A;2&#x41C;">ТЕСТ-К2М</a>, <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&nbsp;12">ТЕСТ-12</a>, <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&nbsp;&#x41A;4&#x41C;">ТЕСТ-К4М</a> и&nbsp;<a href="/complect/&#x422;&#x415;&#x421;&#x422;-&nbsp;&#x41A;4U">ТЕСТ-К4М CPTU</a>).</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szPUSZ1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szPUSZ1_gs.jpg)" alt="Фото &#8470;1" title="Внешний вид устаноки ПУСЗ-1М&nbsp;с&nbsp;комплектом аппаратуры для статического зондирования"></div>
</a>
<div class="slide-text">Внешний вид устаноки ПУСЗ-1М&nbsp;с&nbsp;комплектом аппаратуры для статического зондирования</div>
</div>
<div class="slide">
<a href="/i/szPUSZ2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szPUSZ2_gs.jpg)" alt="Фото &#8470;2" title="Гидроворот"></div>
</a>
<div class="slide-text">Гидроворот</div>
</div>
<div class="slide">
<a href="/i/szPUSZ4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szPUSZ4_gs.jpg)" alt="Фото &#8470;3" title="Перемещение переносной установки ПУСЗ-1М&nbsp;по&nbsp;площадке осуществляется вручную, с&nbsp;помощью подкладных тележек"></div>
</a>
<div class="slide-text">Перемещение переносной установки ПУСЗ-1М&nbsp;по&nbsp;площадке осуществляется вручную, с&nbsp;помощью подкладных тележек</div>
</div>
<div class="slide">
<a href="/i/szPUSZ5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szPUSZ5_gs.jpg)" alt="Фото &#8470;4" title="Для бурения скважин используется мачта с&nbsp;приводом от&nbsp;установки УКБ-12/25, которая может устанавливаться в&nbsp;двух положениях"></div>
</a>
<div class="slide-text">Для бурения скважин используется мачта с&nbsp;приводом от&nbsp;установки УКБ-12/25, которая может устанавливаться в&nbsp;двух положениях</div>
</div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<p><h4>В&nbsp;состав комплекта входят следующие узлы:</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Гидроузел (вдавливающее устройство)</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Балка Н&nbsp;(опорно-анкерная рама)</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Анкер М&nbsp;(анкера для крепления рамы)</td>
<td>4&nbsp;шт</td>
</tr>
<tr>
<td>Подкатные тележки</td>
<td>2&nbsp;шт</td>
</tr>
<tr>
<td>Замок (крепление анкеров к&nbsp;раме)</td>
<td>4&nbsp;шт</td>
</tr>
<tr>
<td>Вспомогательные балки</td>
<td>2&nbsp;шт</td>
</tr>
<tr>
<td>Упоры (элементы крепления анкеров)</td>
<td>4&nbsp;шт</td>
</tr>
<tr>
<td>Автономная гидростанция</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Гидроворот (для завинчивания анкеров)</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<p><h4>Основные технические характеристики установки:</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Габаритные размеры без Анкеров и&nbsp;Упоров (в&nbsp;задвинутом положении штоков), мм</td>
<td>1500х360х1150</td>
</tr>
<tr>
<td>Габаритные размеры без Анкеров и&nbsp;Упоров (в&nbsp;выдвинутом положении штоков), мм</td>
<td>1500х360х1750</td>
</tr>
<tr>
<td>Ход штоков гидроцилиндров, мм</td>
<td>600+30</td>
</tr>
<tr>
<td>Предельно допустимое давление в&nbsp;гидросистеме, МПа</td>
<td>25</td>
</tr>
<tr>
<td>Тип быстроразъёмных соединений</td>
<td>2FFN-06&nbsp;ISO 16028&nbsp;(FIRG 3/8’’)</td>
</tr>
<tr>
<td>Усилие на&nbsp;наголовнике при погружении штанг, кН*</td>
<td>42</td>
</tr>
<tr>
<td>Усилие на&nbsp;наголовнике при извлечении штанг, кН*</td>
<td>61</td>
</tr>
<tr>
<td>Расход гидравлической жидкости, л/мин**</td>
<td>12</td>
</tr>
<tr>
<td>Длина и&nbsp;диаметр штанг (LxD), мм</td>
<td>800х36&nbsp;(1000х36)</td>
</tr>
<tr>
<td>Длина анкера и&nbsp;диаметр винтовой лопасти (LxD), мм</td>
<td>1600х200</td>
</tr>
<tr>
<td>Максимальная глубина постановки анкера, мм</td>
<td>1300</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации и&nbsp;хранения, °С</td>
<td>от&nbsp;&mdash; 25&nbsp;до&nbsp;+50</td>
</tr>
<tr>
<td>Масса комплекта (без учёта подкатных тележек), кг</td>
<td>170</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p><b>*</b>&nbsp;&mdash; значение параметра указано для давления в&nbsp;гидросистеме 16&nbsp;МПа.</p>
<p><b>**</b>&nbsp;&mdash; значение параметра обеспечивает скорость перемещения штоков до&nbsp;6&nbsp;м/мин.</p>
</div><div class="block"><h2><span>Устройство и&nbsp;работа</span></h2>
<p>Изделие состоит из&nbsp;основных следующих частей:</p>
<ul>
<li>Гидроузел;</li>
<li>Балка Н;</li>
<li>Анкеры, Замки и&nbsp;Упоры.</li>
</ul>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szPUSZ3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szPUSZ3_gs.jpg)" alt="Фото &#8470;1" title="Составные части переносной установки"></div>
</a>
<div class="slide-text">Составные части переносной установки</div>
</div>
</div>
<br/>
<p>Гидроузел в&nbsp;сборе состоит из&nbsp;двух гидроцилиндров, штоки и&nbsp;корпуса которых соединены между собой балками. На&nbsp;верхней балке расположен наголовник, на&nbsp;нижней центратор для штанг, а&nbsp;так же&nbsp;четыре рукояти для переноски.</p>
<p>Гидрораспределитель закреплён к&nbsp;корпусу гидроцилиндра с&nbsp;помощью металлического хомута.</p>
<p>Быстроразъёмные соединения, манометр, гидравлические трубки и&nbsp;коллекторы являются традиционными элементами гидросистемы.</p>
<p>Балка Н&nbsp;представляет собой плоскую сварную раму, к&nbsp;которой, с&nbsp;помощью разборных шарнирных соединений крепится гидроузел.</p>
<p>Для бурения скважин используется мачта с&nbsp;приводом от&nbsp;установки УКБ-12/25, которая может устанавливаться в&nbsp;двух положениях и&nbsp;закрепляться к&nbsp;раме.</p>
<p>При установке мачты УКБ 12/25&nbsp;в&nbsp;центре, гидроузел отсоединяется от&nbsp;рамы и&nbsp;при бурении располагается рядом с&nbsp;рамой.</p>
<p>В&nbsp;таком положении можно разбуривать плотные слои грунта, встреченные при зондировании и, после разбуривания, возможно продолжить опыт для достижения необходимой глубины.</p>
<p>Замки и&nbsp;Упоры позволяют надёжно закреплять раму (Балку Н)&nbsp;к&nbsp;винтовым Анкерам.</p>
<p>Перемещение переносной установки ПУСЗ-1М&nbsp;по&nbsp;площадке осуществляется вручную, с&nbsp;помощью подкладных тележек.</p>
<p>Гидроворот используют при завинчивании винтовых анкеров.</p>
<p>После выбора места для развёртывания установки, следует выполнить планировку поверхности грунта и&nbsp;разметить точки для установки винтовых анкеров.</p>
<p>Развёртывание установки рекомендуется производить в&nbsp;следующей последовательности:</p>
<p>-&nbsp;с&nbsp;помощью Гидроворота завернуть в&nbsp;грунт винтовые анкеры (см. РЭ&nbsp;и&nbsp;ИЛ&nbsp;Гидроворот) в&nbsp;соответствии с&nbsp;разметкой. Всегда рекомендуется использовать четыре анкера.</p>
<p>Глубина установки анкеров зависит от&nbsp;прочности грунтов, но&nbsp;погружение следует прекратить после достижения максимального крутящего момента&nbsp;&mdash; прекращение вращения анкера.</p>
<p>Высота стволов анкеров относительно поверхности грунта может быть различной, но&nbsp;это никак не&nbsp;влияет на&nbsp;работу установки;</p>
<p>-&nbsp;расположить Балку Н&nbsp;(раму) на&nbsp;поверхности грунта и&nbsp;сориентировать её&nbsp;относительно Анкеров, выровнять горизонтальное положение рамы и&nbsp;закрепить к&nbsp;анкерам с&nbsp;помощью вспомогательных балок, замков и&nbsp;упоров;</p>
<p>-&nbsp;установить и&nbsp;закрепить в&nbsp;вертикальном положении Гидроузел;</p>
<p>-&nbsp;проложить гидравлические рукава от&nbsp;ПУСЗ до&nbsp;гидростанции и&nbsp;соединить быстроразъёмными соединениями;</p>
<p>-&nbsp;запустить гидростанцию, убедиться в&nbsp;отсутствии утечек гидравлической жидкости и&nbsp;проверить работоспособность Гидроузла;</p>
<p>-&nbsp;выполнить сборку колонны штанг и&nbsp;тензометрического зонда;</p>
<p>-&nbsp;подготовить комплект аппаратуры для статического зондирования к&nbsp;приёму данных.</p>
<p>-&nbsp;установить зонд с&nbsp;одной штангой сверху в&nbsp;наголовник гидроузла и&nbsp;центратор в&nbsp;нижней балке гидроузла, зафиксировать положение штанги в&nbsp;наголовнике, посредством Вилки;</p>
<p>Погружение в&nbsp;грунт выполняется шагами по&nbsp;600&nbsp;мм, отсчёты снимаются через 5&nbsp;или 10&nbsp;сантиметров с&nbsp;помощью радиокнопки или автоматически, при использовании формирователя отсчётов, установленного на&nbsp;гидроузле.</p>
<p>Управление гидроцилиндрами осуществляется посредством распределителя. Очередная штанга навинчивается сверху, когда наголовник находится в&nbsp;нижнем положении. Затем он&nbsp;поднимается в&nbsp;верхнее положение и&nbsp;штанга фиксируется вилкой, после чего вдавливание зонда продолжается. </p>
<p>При достижении необходимой глубины или предельных усилий, выполняют извлечение штанг, также посредством их&nbsp;фиксации в&nbsp;наголовнике с&nbsp;помощью вилки.</p>
<p>Разборка конструкции осуществляется в&nbsp;обратной последовательности, анкера выкручиваются из&nbsp;грунта посредством гидроворота.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szPUSZ.pdf" target="_blank">Переносная установка статического зондирования ПУСЗ-1М&nbsp;(PDF)</a></p>
</div><div class="block"><order/>
</div>