<div class="block"><p>Комплект оборудования КВП1&nbsp;для испытаний водопроницаемости согласно классификации ГОСТ <nobr>23278&ndash;2014</nobr> предназначен для оценки в&nbsp;полевых условиях фильтрационной неоднородности массивов. Область применения метода и&nbsp;его содержание регламентированыуказаниями Таблицы 1&nbsp;и&nbsp;рекомендациями раздела А.1&nbsp;&laquo;Нагнетание воды в&nbsp;скважины&raquo; Приложения А&nbsp;указанного стандарта.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/rKVP1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/rKVP1_gs.jpg)" alt="Фото №1" title="Схема соединения составных частей изделия"></div>
</a>
<div class="slide-text">Схема соединения составных частей изделия</div>
</div>
<div class="slide">
<a href="/i/rKVP.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/rKVP_gs.jpg)" alt="Фото №2" title="Распределительное устройство с Рампой, Оголовком и Наконечником"></div>
</a>
<div class="slide-text">Распределительное устройство с&nbsp;Рампой, Оголовком и&nbsp;Наконечником</div>
</div>
<div class="slide">
<a href="/i/rKVP2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/rKVP2_gs.jpg)" alt="Фото №3" title="Тампоны П, оболочки Т "></div>
</a>
<div class="slide-text">Тампоны П, оболочки Т&nbsp;</div>
</div>
<div class="slide">
<a href="/i/rKVP4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/rKVP4_gs.jpg)" alt="Фото №4" title="Распределительное устройство"></div>
</a>
<div class="slide-text">Распределительное устройство</div>
</div>
<div class="slide">
<a href="/i/rKVP5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/rKVP5_gs.jpg)" alt="Фото №5" title="Рампа, Оголовок и Наконечник"></div>
</a>
<div class="slide-text">Рампа, Оголовок и&nbsp;Наконечник</div>
</div>
<div class="slide">
<a href="/i/rKVP3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/rKVP3_gs.jpg)" alt="Фото №6" title="Внешний вид составных частей изделия"></div>
</a>
<div class="slide-text">Внешний вид составных частей изделия</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Диаметр скважины в&nbsp;скальном грунте, мм</td>
<td>93; 112&nbsp;(+6)</td>
</tr>
<tr>
<td>Давление в&nbsp;тампоне, не&nbsp;более, МПа</td>
<td>1,2</td>
</tr>
<tr>
<td>Максимальное давление воды на&nbsp;входе РУ, МПа</td>
<td>1,5</td>
</tr>
<tr>
<td>Номинальный расход воды через РУ, м³/час</td>
<td>3,6</td>
</tr>
<tr>
<td>Диапазон регулировки давления в&nbsp;РУ, МПа</td>
<td>0,3..1,1</td>
</tr>
<tr>
<td>Погрешность измерения давления воды, %</td>
<td>2</td>
</tr>
<tr>
<td>Диапазон измерения расхода воды, м³/час</td>
<td>0,02..6,8</td>
</tr>
<tr>
<td>Параметры источника пневмопитания</td>
<td>Воздух (азот) 1,6&nbsp;МПа, не&nbsp;более</td>
</tr>
<tr>
<td>Параметры источника электропитания</td>
<td>Однофазная сеть 220&nbsp;В,  50&nbsp;Гц; 4,1&nbsp;кВт, не&nbsp;менее</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации, °С</td>
<td>0..+60</td>
</tr>
<tr>
<td>Полная масса комплекта, кг</td>
<td>270</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<ul>
<li>Зонд</li>
<li>Оголовок</li>
<li>Распределительное Устройство (РУ)</li>
<li>Рампа</li>
<li>Насос</li>
<li>Инструменты (ключ шарнирный и&nbsp;струбцина Т)</li>
<li>Магистрали (шланги гидравлические, трубки пневматические, фитинги)</li>
</ul>
<p>Примечание: Гидробак, Газовый баллон, трубы <nobr>42&ndash;36</nobr>Г2С не&nbsp;входят в&nbsp;комплект.</p>
</div><div class="block"><h2><span>Устройство и&nbsp;принцип работы</span></h2>
<p>Зонд состоит из&nbsp;перфорированной Трубы, двух пневматических Тампонов и&nbsp;Наконечника. Необходимая величина испытательного
интервала обеспечивается установкой дополнительных бурильных труб <nobr>42&ndash;36</nobr>Г2С (ТУ <nobr>14&ndash;3&ndash;1993</nobr>), снаряженных муфтами
и&nbsp;ниппелями. Механические соединения колонны бурильных труб и&nbsp;Зонда обеспечиваются Замками З-42&nbsp;(ТУ <nobr>41&ndash;01&ndash;309</nobr>-77).</p>
<p>Наконечник направляет Зонд вдоль ствола скважины при установке.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/rKVP1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/rKVP1_gs.jpg)" alt="Фото №1" title="Схема соединения составных частей изделия"></div>
</a>
<div class="slide-text">Схема соединения составных частей изделия</div>
</div>
</div>
<p>Оголовок крепится на&nbsp;верхний конец бурильных труб через ниппель Замка З-42&nbsp;и&nbsp;предназначен для подключения гидравлических
шлангов для подачи воды.</p>
<p>Распределительное Устройство&nbsp;&mdash; состоит из&nbsp;Направляющих, Регулирующих и&nbsp;Измерительных элементов. Оно предназначено
для обеспечения рабочих режимов оборудования при проведении испытаний и&nbsp;измерения расхода воды, поступающей в&nbsp;скважину.</p>
<p>Рампа предназначена для подключения Насосов к&nbsp;Распределительному Устройству и&nbsp;их&nbsp;заполнения перед запуском.</p>
<p>Шланги гидравлические крепятся к&nbsp;портам винтовыми или червячными хомутами.</p>
<p>Пневмотрубка предназначена для подачи воздуха в&nbsp;Тампоны. Фитинги служат для соединения отрезков пневмотрубки.</p>
<p>Для выполнения испытаний, вблизи опытной скважины, на&nbsp;поверхности грунта устанавливают Гидробак, Газовый баллон
с&nbsp;редуктором и&nbsp;Распределительное Устройство. Собирают Зонд и&nbsp;соединяют все части комплекта, в&nbsp;соответствии со&nbsp;схемой.
Далее следует заполнить гидробак водой, установить Насосы и&nbsp;переключить оборудование в&nbsp;режим &laquo;Заполнение&raquo;. Затем, оборудование переводят в&nbsp;режим &laquo;Калибровка&raquo;, и&nbsp;устанавливают требуемые параметры напора и&nbsp;давления в&nbsp;Тампонах, для выполнения опыта.</p>
<p>Зонд, с&nbsp;помощью буровых штанг устанавливают в&nbsp;скважину, Наголовник соединяют с&nbsp;Распределительным Устройством и
выполняют пробную операцию нагнетания воды с&nbsp;заданным напором. При этом, проверяют надежность изоляции опытного
интервала, герметичность соединений, измеряют расход, напор и&nbsp;потери напора. По&nbsp;результатам нагнетания устраняют
обнаруженные утечки и&nbsp;при необходимости корректируют параметры опыта.</p>
<p>При проведении испытания в&nbsp;опытном интервале создают постоянный напор и&nbsp;выполняют замеры расхода воды через определенные
интервалы времени. Одновременно осуществляют измерения уровня воды в&nbsp;скважине, в&nbsp;процессе испытания. Подробно методика
проведения опытных работ, выбор параметров и&nbsp;обработка результатов испытаний приведены в&nbsp;ГОСТ <nobr>23278&ndash;78</nobr> и&nbsp;в&nbsp;Руководстве
по&nbsp;эксплуатации КВП1.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/rKVP.pdf" target="_blank">Комплект оборудования КВП1&nbsp;(PDF)</a></p>
</div>
</div>