<div class="block">
<p>Уровнемер УА-50&nbsp;для предназначен для замера уровня воды в&nbsp;скважинах, диаметром <nobr>50&ndash;250</nobr> мм&nbsp;и&nbsp;глубиной до&nbsp;50&nbsp;метров, при проведении режимных наблюдений и&nbsp;инженерно-геологических изысканиях.</p>
<img src="/i/rUA.jpg" alt="&#x41E;&#x431;&#x449;&#x438;&#x439; &#x432;&#x438;&#x434; &#x443;&#x441;&#x442;&#x440;&#x43E;&#x439;&#x441;&#x442;&#x432;&#x430;"/>
</div>
<div class="block">
<h2><span>Технические характеристики</span></h2>
<table cellspacing="0" cellpadding="0" class="table spec">
<tr>
<td class="col57">Предельная глубина измерения уровня воды от&nbsp;среза обсадной трубы, м</td>
<td class="col43">50</td>
</tr>
<tr>
<td class="col57">Цена деления измерительной ленты, мм</td>
<td class="col43">1</td>
</tr>
<tr>
<td class="col57">Наибольшая допускаемая погрешность измерений, мм</td>
<td class="col43">не&nbsp;более ±10</td>
</tr>
<tr>
<td class="col57">Диапазон температур эксплуатации, °С</td>
<td class="col43">&mdash;&nbsp;20..+60</td>
</tr>
<tr>
<td class="col57">Диапазон температур хранения, °С</td>
<td class="col43">&mdash;&nbsp;20..+60</td>
</tr>
<tr>
<td class="col57">Время автономной работы в&nbsp;режиме измерения, ч</td>
<td class="col43">не&nbsp;менее 32</td>
</tr>
<tr>
<td class="col57">Время автономной работы в&nbsp;дежурном режиме, ч</td>
<td class="col43">не&nbsp;менее 1000</td>
</tr>
<tr>
<td class="col57">Максимальная допустимая глубина прогружения зонда ниже уровня воды на&nbsp;интервал времени до&nbsp;1&nbsp;мин, м</td>
<td class="col43">не&nbsp;более 2,0</td>
</tr>
<tr>
<td class="col57">Масса уровнемера, кг</td>
<td class="col43">3,0±0,1</td>
</tr>
<tr>
<td class="col57">В&nbsp;том числе масса зонда, кг</td>
<td class="col43">0,85±0,05</td>
</tr>
<tr>
<td class="col57">Габаритные размеры зонда, мм</td>
<td class="col43">Ø44х262</td>
</tr>
<tr>
<td class="col57">Источник электропитания зонда, CR123A</td>
<td class="col43">2&nbsp;шт</td>
</tr>
<tr>
<td class="col57">Источник электропитания указателя лазерного, AG3</td>
<td class="col43">3&nbsp;шт</td>
</tr>
</table>
</div>
<div class="block">
<h2><span>Состав комплекта</span></h2>
<table cellspacing="0" cellpadding="0" class="table spec">
<tr>
<td class="col57">Уровнемер УА-50, в&nbsp;том числе зонд</td>
<td class="col43">1&nbsp;шт</td>
</tr>
<tr>
<td class="col57">Сумка для переноски</td>
<td class="col43">1&nbsp;шт</td>
</tr>
<tr>
<td class="col57">Инструкция по&nbsp;эксплуатации</td>
<td class="col43">1&nbsp;шт</td>
</tr>
</table>
</div>
<div class="block">
<h2><span>Устройство и&nbsp;принцип работы</span></h2>
<p>Действие уровнемера основано на&nbsp;изменении параметров акустического сигнала при достижении зондом поверхности воды.
Отсчет показаний производится визуально с&nbsp;помощью встроенного лазерного указателя.</p>
</div>
<div class="block">
<h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/rUA.pdf" target="_blank">Уровнемер акустический УА-50&nbsp;(PDF)</a></p>
</div>
<div class="block">
<?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>
