<div class="block"><p>Компенсатор ГП&nbsp;(гидропневматический) предназначен для снижения жёсткости и&nbsp;регулирования давления в&nbsp;гидравлических нагрузочных системах, выпускаемых АО&nbsp;&laquo;ГЕОТЕСТ&raquo; для испытаний грунтов штампами <nobr>1-го</nobr>&nbsp;типа (ШП 20/5000&nbsp;и&nbsp;ШП&nbsp;20/2500).</p>
<p>Компенсатор может работать как в&nbsp;составе простой конфигурации штампа ШП20&nbsp;с&nbsp;гидравлической нагрузочной системой и&nbsp;индикаторами перемещений ИЧ-50, так и&nbsp;в&nbsp;составе полуавтоматических комплектов регистрации результатов штампового опыта, таких как КРП1&nbsp;ВД&nbsp;и&nbsp;Терминал БП&nbsp;ВД.</p>
<p>Использование Компенсатора при выполнении штамповых испытаний существенно снижает трудоёмкость работ, так как давление при выдержке на&nbsp;ступени поддерживается постоянным без участия Оператора.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/sComp1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sComp1_gs.jpg)" alt="Фото №1" title="Общий вид комплекта Компенсатора ГП"></div>
</a>
<div class="slide-text">Общий вид комплекта Компенсатора ГП</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Габаритные размеры ДхШхВ, мм</td>
<td>750х340х170</td>
</tr>
<tr>
<td>Масса, кг</td>
<td>35</td>
</tr>
<tr>
<td>Тип гидравлических соединителей</td>
<td>БРСК 6&nbsp;&laquo;Технос&raquo;</td>
</tr>
<tr>
<td>Характериный объём, Q, см³</td>
<td>30</td>
</tr>
<tr>
<td>Гидравлическое давление, МПа, не&nbsp;более</td>
<td>50</td>
</tr>
<tr>
<td>Пневматическое давление*, МПа, не&nbsp;более</td>
<td>1,2</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации и&nbsp;хранения**, Сº</td>
<td>-10..+50</td>
</tr>
<tr>
<td>Диапазон</td>
<td>2000</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<br/>
<p>*&nbsp;&mdash; пневматическое давление в&nbsp;ресивере (Аккумуляторе создаётся автомобильным ручным или электрическим насосом (в&nbsp;комплект поставки не&nbsp;входит)).<br/>
**&nbsp;&mdash; Отрицательные температуры эксплуатации допускаются только для сухого воздуха.</p>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Гидропневматический Блок</td>
<td>1&nbsp;шт.</td>
</tr>
<tr>
<td>Манометрическая головка (Регулятор П)</td>
<td>1&nbsp;шт.</td>
</tr>
<tr>
<td>Ресивер (Аккумулятор П)</td>
<td>1&nbsp;шт.</td>
</tr>
<tr>
<td>Магистраль высокого давления с&nbsp;шаровым запорным краном</td>
<td>1&nbsp;шт.</td>
</tr>
<tr>
<td>Пневмомагистраль</td>
<td>1&nbsp;шт.</td>
</tr>
<tr>
<td>Транспортировочный ящик</td>
<td>1&nbsp;шт.</td>
</tr>
<tr>
<td>Руководство по&nbsp;эксплуатации</td>
<td>1&nbsp;шт.</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Конструкция и&nbsp;работа с&nbsp;компенсатором</span></h2>
<p>Компенсатор состоит из&nbsp;гидропневматического блока, включающего один гидравлический и&nbsp;два пневматических цилиндра, механически связанных между собой и&nbsp;помещенных в&nbsp;сварной каркас. Гидропневмоблок снаряжен гидравлическими и&nbsp;пневматическими БРС (быстроразъёмные соединения), кнопкой аварийного сброса и&nbsp;краном высокого давления для перекрытия гидромагистрами нагрузочного гидроцилиндра. На&nbsp;верхней поверхности гидропневматического блока закреплена Таблица соответствия гидравлического и&nbsp;пневматического давлений для проведения штампового опыта.</p>
<p>Перед началом работы гидропневмоблок следует установить на&nbsp;ровную площадку и&nbsp;обеспечить его устойчивое положение. Посредством гидравлических рукавов БРС соединить его с&nbsp;ручной гидравлической насосной станцией и&nbsp;нагрузочным гидроцилиндром. </p>
<p>Манометрическую головку (регулятор П)&nbsp;с&nbsp;помощью пневматического БРС&nbsp;&mdash; соединения и&nbsp;пневмомагистрали также подключают к&nbsp;пневморазъёму гидропневматического блока. В&nbsp;Аккумулятор П&nbsp;с&nbsp;помощью автомобильного насоса закачивают воздух.</p>
<p>Все соединения выполняют в&nbsp;соответствии со&nbsp;Схемой:</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/sCompSch.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sCompSch_gs.jpg)" alt="Фото №1" title="Схема соединения составных частей комплекта Компенсатора ГП в составе штампа ШП20"></div>
</a>
<div class="slide-text">Схема соединения составных частей комплекта Компенсатора ГП&nbsp;в&nbsp;составе штампа ШП20</div>
</div>
</div>
<p>При испытаниях, Оператор с&nbsp;помощью ручной гидравлической станции, задаёт необходимое давление в&nbsp;гидравлической нагрузочной системе штампа и&nbsp;посредством Регулятора П&nbsp;устанавливает пневматическое противодавление, включая в&nbsp;работу Компенсатор. </p>
<p>При выдержке на&nbsp;ступени он&nbsp;компенсирует потери давления в&nbsp;нагрузочной системе при осадках штампа до&nbsp;7&nbsp;мм, то&nbsp;есть давление под штампом на&nbsp;ступени поддерживается постоянным без участия Оператора. </p>
<p>Подробные инструкции по&nbsp;работе с&nbsp;Компенсатором ГП&nbsp;приведены в&nbsp;Руководстве по&nbsp;эксплуатации.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/sCompensator.pdf" target="_blank">Компенсатор ГП&nbsp;(PDF)</a></p>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>