<div class="block"><p>Штамп 5000Т (2500Т) относится (согласно классификации ГОСТ 20276.<nobr>3&ndash;2020</nobr> &laquo;Грунты. Метод испытания горячим штампом мерзлых грунтов&raquo;)&nbsp;к&nbsp;I&nbsp;типу и&nbsp;предназначен для определения в&nbsp;полевых
условиях следующих характеристик деформируемости мерзлого грунта: коэффициента оттаивания Ath, коэффициента сжимаемости
m&nbsp;и&nbsp;модуля деформации Е.&nbsp;Требования к&nbsp;оборудованию, методика испытаний и&nbsp;порядок обработки результатов испытаний
изложены в&nbsp;Разделе 10, ГОСТ 20276.<nobr>3&ndash;2020</nobr>.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/SHG.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHG_gs.jpg)" alt="Фото &#8470;1" title="Общий вид комплекта Горячий штамп ШП5000Т"></div>
</a>
<div class="slide-text">Общий вид комплекта Горячий штамп ШП5000Т</div>
</div>
<div class="slide">
<a href="/i/SHG1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHG1_gs.jpg)" alt="Фото &#8470;2" title="Штамп первого типа с&nbsp;подошвой площадью 5000&nbsp;см²"></div>
</a>
<div class="slide-text">Штамп первого типа с&nbsp;подошвой площадью 5000&nbsp;см²</div>
</div>
<div class="slide">
<a href="/i/SHG2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHG2_gs.jpg)" alt="Фото &#8470;3" title="Монжус"></div>
</a>
<div class="slide-text">Монжус</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<h4>Штамп 5000Т (2500Т)</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Площадь штампа, см²</td>
<td><nobr>5000 (2500)</nobr></td>
</tr>
<tr>
<td>Диаметр штампа, мм</td>
<td><nobr>800 (565)</nobr></td>
</tr>
<tr>
<td>Давление на&nbsp;грунт, не&nbsp;более, МПа</td>
<td>0,6&nbsp;(1,2)</td>
</tr>
<tr>
<td>Материал проточной части</td>
<td>медь</td>
</tr>
<tr>
<td>Потери напора, м&nbsp;вод. ст. (Штамп 5000Т с&nbsp;рукавами), не&nbsp;более</td>
<td>3,5</td>
</tr>
<tr>
<td>Гидравлическое давление, не&nbsp;более, МПа</td>
<td>0,3</td>
</tr>
<tr>
<td>Тепловая мощность, Вт/град</td>
<td><nobr>30 (15)</nobr></td>
</tr>
<tr>
<td>Диапазон температур эксплуатации, С°</td>
<td>&mdash;&nbsp;35..+60</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<h4>Монжус</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Объем, л</td>
<td>22</td>
</tr>
<tr>
<td>Объем заправки, л</td>
<td>15+2</td>
</tr>
<tr>
<td>Диаметр ствола штампа, мм</td>
<td>127&nbsp;или 146</td>
</tr>
<tr>
<td>Максимальная глубина испытания, м</td>
<td>5</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<h4>Общая масса комплекта составляет <nobr>161 (115)</nobr> кг.</h4>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Штамп ШП5000Т (ШП2500Т) с&nbsp;тепловой плитой</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Монжус</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Рукав для подачи теплоносителя к&nbsp;штампу (8&nbsp;м)</td>
<td>2&nbsp;шт</td>
</tr>
<tr>
<td>Рукав для подключения нагревательного котла (2&nbsp;м)</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Пневмомагистраль</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Адаптер П</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Переводник 127/146&nbsp;мм</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Отопительный котел (на выбор):</td>
<td></td>
</tr>
<tr>
<td> •&nbsp;газовый MINIMAX turbo 13&nbsp;кВт, адаптированный для работы на&nbsp;сжиженном газе</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td> •&nbsp;электрический PROTERM СКАТ 6&nbsp;кВт</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Ручной автомобильный насос</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Комплект документации</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Транспортировочная тара</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Программа для обработки и&nbsp;хранения результатов испытаний HotShtmp</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p><a href="/docs/hotShtmpRep.pdf" target="_blank">Фрагмент отчёта программы HotShtmp</a>.</p>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>К&nbsp;нижней поверхности штампа жестко закреплена тепловая плита, внутри которой расположен кольцевой нагревательный
элемент, выполненный виде плоской спирали из&nbsp;медной трубки, по&nbsp;которой циркулирует теплоноситель. В&nbsp;качестве устройства
для нагрева теплоносителя используется отопительный котел газового или электрического типа, который обеспечивает
циркуляцию и&nbsp;нагрев теплоносителя до&nbsp;заданной температуры. Котел соединен со&nbsp;штампом рукавами длиной 8&nbsp;метров.
Монжус предназначен для хранения теплоносителя, заправки системы и&nbsp;создания избыточного давления, необходимого
для работы оборудования.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/SHG3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHG3_gs.jpg)" alt="Фото &#8470;1" title="Схема гидросистемы изделия Горячий штамп ШП5000Т"></div>
</a>
<div class="slide-text">Схема гидросистемы изделия Горячий штамп ШП5000Т</div>
</div>
</div>
<p>Для нормального функционирования оборудования отопительный котел, монжус и&nbsp;газовый баллон стационарно размещают
в&nbsp;теплом вагончике, который устанавливается вблизи места испытания.</p>
<p>Для испытаний в&nbsp;шурфе, на&nbsp;поверхность мерзлого грунта устанавливают штамп, монтируют силовую и&nbsp;реперную системы. Вблизи места испытания собирают гидросистему штампа. Затем
выполняют операции заполнения гидросистемы и&nbsp;запускают отопительный котел.</p>
<p>Устанавливают необходимую температуру теплоносителя для оттаивания мерзлого грунта под штампом.</p>
<p>В&nbsp;процессе оттаивания грунта под бытовым давлением измеряют осадку штампа (<nobr>1-й</nobr>&nbsp;этап испытаний). После оттаивания
грунта на&nbsp;необходимую глубину (примерно 40&nbsp;см) выполняют испытания на&nbsp;сжимаемость путем нагружения штампа ступенчато-возрастающей нагрузкой (<nobr>2-й</nobr>&nbsp;этап испытаний).</p>
<p>После испытания выполняют демонтаж силового оборудования и&nbsp;операции по&nbsp;перекачке теплоносителя в&nbsp;монжус для хранения.</p>
<p>Для работы отопительного котла требуется электрическая мощность не&nbsp;более 250&nbsp;Вт, можно использовать бензиновый генератор минимальной мощности (0,<nobr>5&ndash;1</nobr>,0&nbsp;кВт). Расход сжиженного газа при работе котла составляет в&nbsp;среднем 0,3&nbsp;кг/час, поэтому стандартного бытового баллона 50&nbsp;литров (масса газа 21,2&nbsp;кг) должно хватить на&nbsp;<nobr>60&ndash;70</nobr> часов непрерывной работы котла.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/SHG.pdf" target="_blank">Штамп горячий ШП5000Т (PDF)</a></p>
</div><div class="block"><order/>
</div>