<div class="block"><p>Комплект ШВ60+КРП1/ВД+Блок П&nbsp;является модификацией комплекта КРП1&nbsp;и&nbsp;предназначен для работы со&nbsp;штампом ШП20&nbsp;с&nbsp;гидравлической нагрузочной системой и&nbsp;комплектом Блок П.</p>
<p>Он&nbsp;позволяет проводить испытания штампами I-го&nbsp;типа ШП20/5000, ШП20/2500&nbsp;и&nbsp;&laquo;горячим штампом&raquo; Штамп 5000Т в&nbsp;соответствии с&nbsp;методикой ГОСТ 20276.<nobr>1&ndash;2020</nobr> &laquo;Грунты. Метод испытания штампом&raquo; в&nbsp;полуавтоматическом режиме.</p>
<p>При испытаниях Блок П&nbsp;подключается к&nbsp;комплекту регистрации КРП1/ВД и, в&nbsp;процессе испытаний, в&nbsp;режиме реального времени, он&nbsp;транслирует результаты измерений по&nbsp;радиоканалу ZigBee на&nbsp;удалённый ПК&nbsp;для сохранения и&nbsp;последующей обработки.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/SHP+KRP+VD+BP1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP+KRP+VD+BP1_gs.jpg)" alt="Фото &#8470;1" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/SHP+KRP+VD+BP2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP+KRP+VD+BP2_gs.jpg)" alt="Фото &#8470;2" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/SHP+KRP+VD+BP3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP+KRP+VD+BP3_gs.jpg)" alt="Фото &#8470;3" title="Внешний вид Блока П"></div>
</a>
<div class="slide-text">Внешний вид Блока П</div>
</div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<p>В&nbsp;состав комплекта входят: </p>
<p>1. Комплект КРП1/ВД&nbsp;&mdash; 1&nbsp;шт</p>
<ul>
<li>контроллер ТЕСТ-ШВК v.18&nbsp;</li>
<li>измерители перемещений Э&nbsp;</li>
<li>гидравлический преобразователь давления Адаптер ВД&nbsp;</li>
<li>комплект кабелей </li>
<li>аккумулятор с&nbsp;зарядным устройством 12&nbsp;вольт </li>
</ul>
<p>2. Комплект Блок П&nbsp;&mdash; 1&nbsp;шт</p>
<ul> <li>Блок П&nbsp;</li>
<li>Терминал Оператора (ТОП) </li>
<li>Ноутбук </li>
<li>Адаптер Xbee USB S2&nbsp;</li>
<li>Адаптер 220/12&nbsp;вольт </li>
<li>батарея Б1&nbsp;</li>
</ul>
<p>3. Комплект штампа ШП<nobr>20&ndash;1</nobr> шт</p>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Диапазон измерения осадок штампа</td>
<td>0..50&nbsp;мм</td>
</tr>
<tr>
<td>Разрешение измерения осадок</td>
<td>0,01&nbsp;мм</td>
</tr>
<tr>
<td>Абсолютная погрешность измерения перемещений</td>
<td>±&nbsp;0,1&nbsp;мм</td>
</tr>
<tr>
<td>Диапазон измерения давления</td>
<td>0..40&nbsp;МПа</td>
</tr>
<tr>
<td>Напряжение питания контроллера</td>
<td>12&nbsp;В</td>
</tr>
<tr>
<td>Время непрерывной работы контроллера от&nbsp;аккумулятора, не&nbsp;менее</td>
<td>72&nbsp;час</td>
</tr>
<tr>
<td>Интерфейс с&nbsp;ПК</td>
<td>RS-232&nbsp;</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации</td>
<td>&mdash;&nbsp;20..+60&nbsp;°С</td>
</tr>
<tr>
<td>Масса комплекта КРП1/ВД+Блок П</td>
<td>25&nbsp;кг</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>При монтаже штампа стол реперной системы с&nbsp;помощью подвесов позиционируют относительно нагрузочного гидравлического цилиндра. </p>
<p>К&nbsp;нагрузочному столу закрепляют индуктивные измерители перемещений. </p>
<p>Ко&nbsp;входу гидроцилиндра присоединяют адаптер ВД, который посредством электрического кабеля И&nbsp;соединяют с&nbsp;Блоком П. </p>
<p>Подвешивают Блок П&nbsp;на&nbsp;Стенд, подключают к&nbsp;нему источник электропитания. </p>
<p>С&nbsp;помощью гидромагистрали с&nbsp;БРС (быстроразъёмными соединениями) адаптер ВД&nbsp;соединяют с&nbsp;гидравлической насосной станцией. </p>
<p>Насосную станцию с&nbsp;манометром и&nbsp;Ноутбук с&nbsp;независимым электропитанием располагают в&nbsp;удобном для оператора месте, в&nbsp;пределах длины гидромагистрали или дальше, при использовании гидроудлинителя с&nbsp;БРС. </p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/SHP+KRP+VD+BP4.png" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP+KRP+VD+BP4_gs.png)" alt="Фото &#8470;1" title="Схема электрических и&nbsp;гидравлических соединений комплекта &laquo;ШП20+КРП1/ВД+Блок П&raquo;"></div>
</a>
<div class="slide-text">Схема электрических и&nbsp;гидравлических соединений комплекта &laquo;ШП20+КРП1/ВД+Блок П&raquo;</div>
</div>
</div>
<p>В&nbsp;состав комплекта Блок П&nbsp;входит Терминал Оператора (ТОП), который обеспечивает взаимодействие Оператора с&nbsp;Блоком П&nbsp;и&nbsp;Ноутбуком. </p>
<p>ТОП всегда находится у&nbsp;исполнителя и, через Терминал Оператора, исполнитель с&nbsp;помощью световых, звуковых или текстовых сообщений, получает информацию о&nbsp;ходе опыта и&nbsp;необходимых действиях, в&nbsp;случаях, когда он&nbsp;находится не&nbsp;рядом с&nbsp;ноутбуком. </p>
<p>После монтажа оборудования, до&nbsp;начала опыта, необходимо настроить сеть ZigBee для взаимодействия Блока П&nbsp;с&nbsp;ПК&nbsp;(ноутбук, ПО&nbsp;Pneumator). </p>
<p>После установления связи с&nbsp;ПК, для выполнения штампового опыта необходимо запустить на&nbsp;компьютере программу Pneumator. </p>
<p>В&nbsp;Главном меню программы, в&nbsp;дереве объектов, необходимо создать новый объект с&nbsp;названием согласно проектной документации, или выбрать уже имеющийся объект. </p>
<p>Далее следует нажать кнопку &laquo;Новый опыт&raquo; и, в&nbsp;появившемся окне &laquo;Данные для рабочего режима&raquo;, ввести исходные данные для конкретного опыта. </p>
<p>На&nbsp;основании исходных данных: вид грунта, режим испытания и&nbsp;начальная глубина, программа выберет, согласно ГОСТ 20276.<nobr>1&ndash;2020</nobr>, нагрузочные и&nbsp;временные параметры для выполнения опыта: величину первой и&nbsp;рядовой ступеней давления, интервал сохранения отсчетов и&nbsp;время условной стабилизации. Оператор с&nbsp;помощью насосной станции задаёт первую ступень нагрузки, контролируя давление в&nbsp;окне программы. По&nbsp;достижению требуемого давления оператор нажимает на&nbsp;клавишу &laquo;Ок&raquo;. </p>
<p>После выполнения критерия стабилизации для первой ступени, на&nbsp;мониторе появится сообщение с&nbsp;величиной давления для следующей ступени нагрузки. </p>
<p>Оператор, увеличивает давление до&nbsp;требуемого значения и&nbsp;запускает продолжение выполнения опыта. </p>
<p>В&nbsp;процессе выдержки на&nbsp;ступени программа автоматически сохраняет данные с&nbsp;заданным интервалом и&nbsp;проверяет выполнение критерия стабилизации. </p>
<p>Если предусмотрен режим &laquo;разгрузки&raquo;, то&nbsp;опыт продолжается при снижении давления под штампом. </p>
<p>После завершения испытания опытные данные доступны в&nbsp;программе Pneumator для обработки. </p>
<p>В&nbsp;период эксплуатации комплекта перед началом испытаний, но&nbsp;не&nbsp;реже 1&nbsp;раза в&nbsp;месяц, требуется проведение контрольных испытаний для проверки исправности измерительного тракта. </p>
<p>Контрольные испытания не&nbsp;требуют наличия дополнительного оборудования и&nbsp;могут проводиться в&nbsp;полевых условиях с&nbsp;помощью составных элементов комплекта КРП1/ВД. </p>
<p>При невозможности использования Блока П, испытания могут быть продолжены с&nbsp;использованием контроллера ТЕСТ-ШВК v.18, который входит в&nbsp;комплект регистрации результатов КРП1/ВД.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/SHP+KRP+VD+BP.pdf" target="_blank">Комплект Штамп ШП20&nbsp;+&nbsp;КРП1/ВД +&nbsp;Блок П&nbsp;(PDF)</a></p>
</div>