<div class="block"><p>Комплект КРП1/ВД является модификацией комплекта КРП1&nbsp;и&nbsp;предназначен для работы со&nbsp;штампом ШП20&nbsp;с&nbsp;гидравлической нагрузочной системой. Он&nbsp;позволяет проводить испытания штампами I-го&nbsp;типа ШП20/5000, ШП20/2500&nbsp;и&nbsp;&laquo;горячим штампом&raquo; Штамп 5000Т в&nbsp;соответствии с&nbsp;методикой ГОСТ 20276.<nobr>1&ndash;2020</nobr> &laquo;Грунты. Методы испытания штампом&raquo;.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/SHP+KRP1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP+KRP1_gs.jpg)" alt="Фото №1" title="Общий вид комплекта регистрации в составе штампа ШП20"></div>
</a>
<div class="slide-text">Общий вид комплекта регистрации в&nbsp;составе штампа ШП20</div>
</div>
<div class="slide">
<a href="/i/SHP+KRP2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP+KRP2_gs.jpg)" alt="Фото №2" title="Узел крепления Адаптера ВД на гидроцилиндре с гидромагистралью и кабелем связи"></div>
</a>
<div class="slide-text">Узел крепления Адаптера ВД&nbsp;на&nbsp;гидроцилиндре с&nbsp;гидромагистралью и&nbsp;кабелем связи</div>
</div>
<div class="slide">
<a href="/i/SHP+KRP3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP+KRP3_gs.jpg)" alt="Фото №3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Контроллер ТЕСТ-ШВК</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Измерители перемещений</td>
<td>3&nbsp;шт</td>
</tr>
<tr>
<td>Пневмомагистраль</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Адаптер ВД</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кабель связи Адаптер ВД&nbsp;&mdash; Контроллер</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Аккумулятор 12Ah/12&nbsp;В</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Зарядное устройство &laquo;Кулон&raquo;</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кабель питания контроллера</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кабель связи с&nbsp;ПК&nbsp;RS-232&nbsp;(USB 2.0)</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Программа обработки результатов Pneumator</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Руководство по&nbsp;эксплуатации</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Транспортировочный ящик</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Диапазон измерения осадок штампа, мм</td>
<td><nobr>0&ndash;50</nobr></td>
</tr>
<tr>
<td>Разрешение измерения осадок, мм</td>
<td>0,01</td>
</tr>
<tr>
<td>Абсолютная погрешность измерения перемещений, мм</td>
<td>±&nbsp;0,1</td>
</tr>
<tr>
<td>Диапазон измерения давления, МПа</td>
<td><nobr>0&ndash;40</nobr></td>
</tr>
<tr>
<td>Напряжение питания, В</td>
<td>12</td>
</tr>
<tr>
<td>Время непрерывной работы от&nbsp;аккумулятора, не&nbsp;менее, час</td>
<td>72</td>
</tr>
<tr>
<td>Интерфейс с&nbsp;ПК</td>
<td>RS-232</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации, С°</td>
<td>-20..+40</td>
</tr>
<tr>
<td>Масса комплекта, кг</td>
<td>22</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>При монтаже штампа стол реперной системы с&nbsp;помощью подвесов позиционируют относительно нагрузочного гидравлического цилиндра. К&nbsp;нагрузочному столу закрепляют индуктивные измерители перемещений.</p>
<p>Ко&nbsp;входу гидроцилиндра присоединяют адаптер ВД, который посредством электрического кабеля соединяют с&nbsp;контроллером ТЕСТ-ШВК.</p>
<p>С&nbsp;помощью гидромагистрали с&nbsp;БРС (быстроразъёмными соединениями) адаптер ВД&nbsp;соединяют с&nbsp;компенсатором ГП&nbsp;или гидравлической насосной станцией.</p>
<p>Контроллер, аккумулятор и&nbsp;насосную станцию размещают в&nbsp;удобном месте на&nbsp;расстоянии до&nbsp;5&nbsp;метров от&nbsp;штампа.</p>
<p>Оператор включает контроллер и&nbsp;вводит исходные данные опыта: номер опыта, глубину установки штампа, схему нагружения, вид и&nbsp;состояние грунта.</p>
<p>На&nbsp;основании исходных данных контроллер выбирает для данного грунта нагрузочно-временные параметры опыта в&nbsp;соответствии требованиями ГОСТ 20276.<nobr>1&ndash;2020</nobr> и&nbsp;предлагает задать первую ступень нагрузки, величина которой показана на&nbsp;дисплее контроллера.</p>
<p>Оператор с&nbsp;помощью насосной станции задаёт первую ступень нагрузки, контролируя давление на&nbsp;дисплее контроллера и&nbsp;запускает программу выполнения опыта.</p>
<p>При использовании в&nbsp;составе штампа компенсатора ГП&nbsp;давление на&nbsp;ступени автоматически поддерживается постоянным. Без компенсатора за&nbsp;давлением следит оператор и&nbsp;поддерживает его постоянным с&nbsp;помощью насосной станции.</p>
<p>В&nbsp;процессе выдержки на&nbsp;ступени контроллер сохраняет данные с&nbsp;заданным интервалом и&nbsp;проверяет выполнение критерия стабилизации. При его выполнении контроллер подаёт звуковой сигнал, и&nbsp;на&nbsp;дисплее появляется сообщение с&nbsp;величиной следующей ступени нагрузки. Оператор задаёт следующую ступень и&nbsp;продолжает опыт до&nbsp;его завершения. Если предусмотрен режим &laquo;разгрузки&raquo;, то&nbsp;опыт продолжается при снижении давления под штампом.</p>
<p>После завершения испытания опытные данные передаются в&nbsp;ПК&nbsp;для обработки. В&nbsp;памяти контроллера могут сохраняться результаты <nobr>10&ndash;15</nobr> штамповых опытов.</p>
<p>В&nbsp;период эксплуатации комплекта перед началом испытаний, но&nbsp;не&nbsp;реже 1&nbsp;раза в&nbsp;месяц, требуется проведение контрольных испытаний для проверки исправности измерительного тракта. Контрольные испытания не&nbsp;требуют наличия дополнительного оборудования и&nbsp;могут проводиться в&nbsp;полевых условиях с&nbsp;помощью составных элементов комплекта КРП1/ВД.&nbsp;Для обработки результатов используется программа <a href="/complect/Pneumator">Pneumator</a>.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/SHP+KRP.pdf" target="_blank">Штамп ШП20&nbsp;+&nbsp;КРП1/ВД (PDF)</a></p>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>