<div class="block"><p>Штамп ШП20&nbsp;относится (согласно классификации ГОСТ 20276.<nobr>1&ndash;2020</nobr> &laquo;Грунты. Методы испытания штампом&raquo;)&nbsp;к&nbsp;I&nbsp;типу и&nbsp;предназначен для определения в&nbsp;полевых
условиях модуля деформации Е, МПа крупнообломочных, песчаных, глинистых, органо-минеральных и&nbsp;органических грунтов, по&nbsp;ГОСТ 20276.<nobr>1&ndash;2020</nobr>. В&nbsp;составе установки могут использоваться
штампы площадью 5000&nbsp;и&nbsp;2500&nbsp;см². Область применения штампа регламентирована табл. 1&nbsp;ГОСТ 20276.<nobr>1&ndash;2020</nobr>.</p>
<p>Модуль деформации определяют по&nbsp;результатам ступенчатого нагружения грунта вертикальной нагрузкой в&nbsp;забое горной
выработки, при помощи штампа.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/SHP.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP_gs.jpg)" alt="Фото №1" title="Общий вид комплекта Штамп ШП20"></div>
</a>
<div class="slide-text">Общий вид комплекта Штамп ШП20</div>
</div>
<div class="slide">
<a href="/i/SHP4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP4_gs.jpg)" alt="Фото №2" title="Устройство нагрузочное с нагнетателем"></div>
</a>
<div class="slide-text">Устройство нагрузочное с&nbsp;нагнетателем</div>
</div>
<div class="slide">
<a href="/i/SHP1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP1_gs.jpg)" alt="Фото №3" title="Устройство нагрузочное"></div>
</a>
<div class="slide-text">Устройство нагрузочное</div>
</div>
<div class="slide">
<a href="/i/SHP2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP2_gs.jpg)" alt="Фото №4" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/SHP5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP5_gs.jpg)" alt="Фото №5" title="Штамп 5000 (площадь 5000 см²)"></div>
</a>
<div class="slide-text">Штамп 5000&nbsp;(площадь 5000&nbsp;см²)</div>
</div>
<div class="slide">
<a href="/i/CertificateSHP.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/CertificateSHP_gs.jpg)" alt="Фото №6" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Нагрузочная система </td>
<td>гидравлическая</td>
</tr>
<tr>
<td>Максимальное давление в&nbsp;нагрузочной системе, МПа</td>
<td>40</td>
</tr>
<tr>
<td>Максимальная глубина испытаний, м</td>
<td>5</td>
</tr>
<tr>
<td>Манометр кл. точности 0.4, давление, МПа</td>
<td>40</td>
</tr>
<tr>
<td>Диаметр ствола штампа, мм</td>
<td><nobr>127 (146)</nobr></td>
</tr>
<tr>
<td>Диапазон температур эксплуатации, °С*</td>
<td>-30..+40</td>
</tr>
<tr>
<td>Общая масса оборудования, кг</td>
<td>790</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>*Температурный диапазон указан для составных частей изделия за&nbsp;исключением измерителей перемещений. Температурный диапазон эксплуатации измерителей перемещений часового (ИЧ) или иного типа должен соответствовать спецификации изготовителя средства измерений.</p>
<br/>
<h4>Штамп 2500</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Площадь штампа, cм²</td>
<td>2500</td>
</tr>
<tr>
<td>Диаметр штампа, мм</td>
<td>565</td>
</tr>
<tr>
<td>Масса штампа, кг</td>
<td>44,5</td>
</tr>
<tr>
<td>Давление на&nbsp;грунт, не&nbsp;более, МПа</td>
<td>0,8</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<br/>
<h4>Штамп 5000</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Площадь штампа, cм²</td>
<td>5000</td>
</tr>
<tr>
<td>Диаметр штампа, мм</td>
<td>800</td>
</tr>
<tr>
<td>Масса штампа, кг</td>
<td>71</td>
</tr>
<tr>
<td>Давление на&nbsp;грунт, не&nbsp;более, МПа</td>
<td>0,4</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Штамп 5000</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Штамп 2500</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Система анкерная</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Система реперная</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Устройство нагрузочное</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Индикаторы ИЧ-50</td>
<td>3&nbsp;шт</td>
</tr>
<tr>
<td>Анкер Ф&nbsp;200</td>
<td>6&nbsp;шт</td>
</tr>
<tr>
<td>Удлинитель А</td>
<td>6&nbsp;шт</td>
</tr>
<tr>
<td>Переводник 127/146</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Гидроцилиндр</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Установка насосная</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Техническое описание и&nbsp;инструкция по&nbsp;эксплуатации</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Программа Shwpw для обработки результатов испытаний</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>Испытания штампом ШП20&nbsp;выполняют в&nbsp;шурфах размером 1×1.5&nbsp;метра. Анкеры завинчивают в&nbsp;грунт на&nbsp;глубину 1&nbsp;метр, посредством буровой установки, либо вручную. Для увеличения нагрузки, воспринимаемой анкерной системой, можно использовать
удлинители ствола анкера, которые позволяют установить анкеры на&nbsp;глубине до&nbsp;2.5&nbsp;метров.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/SHP3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHP3_gs.jpg)" alt="Фото №1" title="Схема комплекта Штамп ШП20"></div>
</a>
<div class="slide-text">Схема комплекта Штамп ШП20</div>
</div>
</div>
<p>После установки анкеров, вокруг ствола штампа монтируют силовую раму и&nbsp;реперную систему, а&nbsp;на&nbsp;ствол штампа устанавливают
нагрузочный стол с&nbsp;гидроцилиндром. Испытание выполняют, в&nbsp;соответствии с&nbsp;требованиями ГОСТ 20276.<nobr>1&ndash;2020</nobr>.</p>
<p>Результаты испытаний обрабатываются по&nbsp;программе <a href="/complect/ShwPW">ShwPW</a> (входит в&nbsp;состав комплекта).</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/SHP.pdf" target="_blank">Штамп ШП20&nbsp;(PDF)</a></p>
</div>
</div>