<div class="block"><p>Комплект КАП2&nbsp;может использоваться со&nbsp;штампами <a href="/complect/&#x428;&#x412;">ШВ60</a> с&nbsp;комплектом регистрации КРП1&nbsp;(комплектация ШВ60+КРП1) и&nbsp;предназначен для полной автоматизации процесса проведения полевых испытаний грунтов штампами ШВ60&nbsp;III и&nbsp;IV&nbsp;типов.</p>
<p>Использование комплекта КАП2&nbsp;позволяет снизить трудоёмкость опытных полевых работ и&nbsp;повысить достоверность результатов испытаний за&nbsp;счёт исключения ошибок исполнителей при назначении нагрузочно-временных параметров испытания и&nbsp;протоколировании результатов.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/SHW+KAP1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW+KAP1_gs.jpg)" alt="Фото №1" title="Общий вид комплекта КАП2 в составе штампа ШВ60"></div>
</a>
<div class="slide-text">Общий вид комплекта КАП2&nbsp;в&nbsp;составе штампа ШВ60</div>
</div>
<div class="slide">
<a href="/i/SHW+KAP5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW+KAP5_gs.jpg)" alt="Фото №2" title="Общий вид комплекта КАП2"></div>
</a>
<div class="slide-text">Общий вид комплекта КАП2</div>
</div>
<div class="slide">
<a href="/i/SHW+KAP2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW+KAP2_gs.jpg)" alt="Фото №3" title="Измерители перемещений и нагрузочный стол"></div>
</a>
<div class="slide-text">Измерители перемещений и&nbsp;нагрузочный стол</div>
</div>
<div class="slide">
<a href="/i/SHW+KAP3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW+KAP3_gs.jpg)" alt="Фото №4" title="Крепление пневмомагистрали к пневмоцилиндру"></div>
</a>
<div class="slide-text">Крепление пневмомагистрали к&nbsp;пневмоцилиндру</div>
</div>
<div class="slide">
<a href="/i/SHW+KAP4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW+KAP4_gs.jpg)" alt="Фото №5" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, В</td>
<td>12</td>
</tr>
<tr>
<td>Средний ток потребления, мА</td>
<td>450</td>
</tr>
<tr>
<td>Пневматическое давление, кПа, не&nbsp;более</td>
<td>1000</td>
</tr>
<tr>
<td>Степень защиты</td>
<td>IP&nbsp;54</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации, °C</td>
<td>-20..+40</td>
</tr>
<tr>
<td>Радиоинтерфейс</td>
<td>IEEE 802.15.4/ZigBee</td>
</tr>
<tr>
<td>Габаритные размеры</td>
<td>70х120х266</td>
</tr>
<tr>
<td>Масса комплекта, кг, не&nbsp;более</td>
<td>12</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Штамп ШВ60&nbsp;с&nbsp;анкерной системой</td>
<td>1</td>
</tr>
<tr>
<td>Комплект регистрации КРП1</td>
<td>1</td>
</tr>
<tr>
<td>Пневмоблок КАП2</td>
<td>1</td>
</tr>
<tr>
<td>Адаптер Xbee USB S2</td>
<td>1</td>
</tr>
<tr>
<td>Блок ПП</td>
<td>1</td>
</tr>
<tr>
<td>Адаптер П</td>
<td>1</td>
</tr>
<tr>
<td>Пневмомагистраль А</td>
<td>1</td>
</tr>
<tr>
<td>Аккумулятор П</td>
<td>1</td>
</tr>
<tr>
<td>Аккумулятор 12В/12Ач</td>
<td>1</td>
</tr>
<tr>
<td>Зарядное устройство</td>
<td>1</td>
</tr>
<tr>
<td>Нетбук (ПК) с&nbsp;ПО&nbsp;Pneumator</td>
<td>1</td>
</tr>
<tr>
<td>Комплект кабелей и&nbsp;пневмомагистралей</td>
<td>4</td>
</tr>
<tr>
<td>Руководство по&nbsp;эксплуатации</td>
<td>1</td>
</tr>
<tr>
<td>Тара для транспортировки и&nbsp;хранения</td>
<td>1</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>Комплект КАП2&nbsp;используется со&nbsp;штампами <a href="/complect/&#x428;&#x412;">ШВ60</a> только совместно с&nbsp;комплектом регистрации КРП1. Для выполнения штампового опыта (штампы III и&nbsp;VI&nbsp;типов,  600&nbsp;см² по&nbsp;ГОСТ 20276.<nobr>1&ndash;2020</nobr>)&nbsp;необходимо выполнить установку штампа, монтаж анкерной и&nbsp;реперной систем, нагрузочного стола и&nbsp;пневмоцилиндра.</p>
<p>На&nbsp;нагрузочном столе устанавливают датчики перемещений из&nbsp;комплекта КРП1, которые при установке позиционируются относительно стола реперной системы.</p>
<p>Выводы датчиков перемещений соединяют с&nbsp;разъёмами пневмомагистрали А, которую с&nbsp;помощью быстро разъёмных соединений присоединяют к&nbsp;нагрузочному пневмоцилиндру.</p>
<p>В&nbsp;соответствии с&nbsp;руководством по&nbsp;эксплуатации выпоняют соединение всех пневматических и&nbsp;электрических элементов комплекта КАП2.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/SHW+KAPsch.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW+KAPsch_gs.jpg)" alt="Фото №1" title="Схема соединений элементов комплекта ШВ60+КАП2"></div>
</a>
<div class="slide-text">Схема соединений элементов комплекта ШВ60+КАП2</div>
</div>
</div>
<p>Пневмоблок КАП2&nbsp;устанавливают вблизи точки испытания и&nbsp;подключают к&nbsp;аккумуляторной батарее.</p>
<p>Рядом размещают аккумулятор П&nbsp;с&nbsp;блоком ПП&nbsp;и&nbsp;электрокомпрессор.</p>
<p>Нетбук (ПК) подключают к&nbsp;бортовой сети автомобиля, который может находится на&nbsp;расстоянии до&nbsp;50&nbsp;метров от&nbsp;места испытания или рядом со&nbsp;скважиной при наличии электропитания ПК.</p>
<p>К&nbsp;USB-порту ПК&nbsp;подключают адаптер Xbee, устанавливают связь пневмоблок КАП<nobr>2-ПК</nobr>&nbsp;в&nbsp;формате радиоинтерфейса ZigBee.</p>
<p>После установки соединения в&nbsp;ПО&nbsp;<a href="/complect/Pneumator">Рneumator</a> вводятся исходные данные опыта, в&nbsp;соответствии с&nbsp;которыми выбираются параметры испытания по&nbsp;методике ГОСТ 20276.<nobr>1&ndash;2020</nobr>.</p>
<p>После чего оператор запускает программу выполнения опыта.</p>
<p>В&nbsp;процессе проведения испытания пневмоблок по&nbsp;командам ПК&nbsp;задаёт и&nbsp;поддерживает давление на&nbsp;ступенях, сохраняет отсчёты датчиков давления и&nbsp;перемещения с&nbsp;заданным интервалом времени, проверяет выполнение критерия условной стабилизации и&nbsp;завершает опыт после выполнения всей программы испытания.</p>
<p>В&nbsp;ходе испытания на&nbsp;мониторе ПК&nbsp;в&nbsp;режиме реального времени, в&nbsp;графическом и&nbsp;цифровом виде отображаются текущие результаты измерений, и&nbsp;одновременно они сохраняются в&nbsp;базе данных программы.</p>
<p>После завершения опыта программа Pneumator позволяет обработать результаты испытаний в&nbsp;соответствии с&nbsp;ГОСТ 20276.<nobr>1&ndash;2020</nobr> и&nbsp;сформировать отчёты по&nbsp;результатам испытаний.</p>
<p>Комплект ШВ60+КАП2&nbsp;позволяет также проводить штамповые испытания и&nbsp;в&nbsp;полностью автономном режиме под управлением внутреннего ПО&nbsp;пневмоблока КАП2.</p>
<p>В&nbsp;этом случае после установления связи с&nbsp;ПК&nbsp;и&nbsp;передачиисходных данных опыта во&nbsp;внутреннюю память, пневмоблок КАП2&nbsp;проводит и&nbsp;завершает испытание под управлением собственного ПО.</p>
<p>Внешний ПК&nbsp;во&nbsp;время проведения испытания может быть выключен. После завершения опыта все сохранённые данные из&nbsp;пневмоблока могут быть переданы в&nbsp;ПК&nbsp;по&nbsp;запросу ПО&nbsp;Pneumator.</p>
<p>В&nbsp;период эксплуатации комплекта КАП2&nbsp;или перед началом испытаний, но&nbsp;не&nbsp;реже 1&nbsp;раза в&nbsp;месяц, требуется проведение контрольных испытаний для проверки работоспособности оборудования.</p>
<p>Контрольные испытания не&nbsp;требуют наличия дополнительного оборудования и&nbsp;могут проводиться в&nbsp;полевых условиях с&nbsp;помощью составных элементов комплектов КРП1&nbsp;и&nbsp;КАП2.</p>
<p>При невозможности использования пневмоблока КАП2&nbsp;испытания могут быть продолжены в&nbsp;полуавтоматическом режиме с&nbsp;использованием контроллера ТЕСТ-ШВК, который входит в&nbsp;комплект регистрации результатов КРП1.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/SHW+KAP.pdf" target="_blank">Комплект автоматизации полевых испытаний грунтов КАП2&nbsp;(PDF)</a></p>
</div>