<div class="block">
<div class="block-row">
    <div class="block-column"><p>Винтовой штамп ШВ60&nbsp;относится ()&nbsp;к&nbsp;IV&nbsp;типу и&nbsp;предназначен для определения
в&nbsp;полевых условиях модуля деформации Е, МПа песчаных, глинистых, органо-минеральных и&nbsp;органических грунтов
по&nbsp;ГОСТ
20276.<nobr>1&ndash;2020</nobr>. Область применения винтового
штампа регламентирована табл. 1&nbsp;ГОСТ 20276.<nobr>1&ndash;2020</nobr>. Для испытания крупнообломочных грунтов следует применять
<a href="/row/ceeee4fdcd7d9605c7147f4226c01a9d">штамп III-го&nbsp;типа</a>
с&nbsp;плоской подошвой площадью 600&nbsp;см².
</p>
<p>Модуль деформации определяют по&nbsp;результатам ступенчатого нагружения грунта вертикальной нагрузкой, в&nbsp;забое
горной
выработки, при помощи штампа.
</p>
<p class="note">Согласно классификации ГОСТ 20276.<nobr>1&ndash;2020</nobr> &laquo;Грунты. Методы испытания штампом&raquo;</p><div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/SHW.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW_gs.jpg)" alt="Фото №1" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/SHW1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW1_gs.jpg)" alt="Фото №2" title="Вариант установки с помощью наномуфты"></div>
</a>
<div class="slide-text">Вариант установки с&nbsp;помощью наномуфты</div>
</div>
<div class="slide">
<a href="/i/SHW2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW2_gs.jpg)" alt="Фото №3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/SHW3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW3_gs.jpg)" alt="Фото №4" title="Для эксплуатации необ"></div>
</a>
<div class="slide-text">Для эксплуатации необ</div>
</div>
<div class="slide">
<a href="/i/SHW4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW4_gs.jpg)" alt="Фото №5" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/SHW5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW5_gs.jpg)" alt="Фото №6" title="Винтовой штамп (тип IV)"></div>
</a>
<div class="slide-text">Винтовой штамп (тип IV)</div>
</div>
<div class="slide">
<a href="/i/sPlosk.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sPlosk_gs.jpg)" alt="Фото №7" title="Плоский штамп Ш-III"></div>
</a>
<div class="slide-text">Плоский штамп Ш-III</div>
</div>
<div class="slide">
<a href="/i/sPerev.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sPerev_gs.jpg)" alt="Фото №8" title="Переводник 127/146"></div>
</a>
<div class="slide-text">Переводник 127/146</div>
</div>
<div class="slide">
<a href="/i/CertificateSHW.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/CertificateSHW_gs.jpg)" alt="Фото №9" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
<div class="video">
<div class="video-container"><iframe width="560" height="315" src="http://www.youtube.com/embed/gglbTPUE290?wmode=opaque&wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
</div>
    <div class="block-column right-publication"><div class="publication">
<div class="publication-img" style="background-image: url('/docs/ii02_shw60.jpg')"></div>
<div class="publication-desc">
<div class="publication-title">
<a href="/docs/ii02_shw60.pdf">Инженерные изыскания</a>
</div>
<div class="publication-date">Февраль 2008</div>
</div>
</div></div>
</div></div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Диаметр штампа, мм</td>
<td>277</td>
</tr>
<tr>
<td>Шаг лопасти, мм</td>
<td>50</td>
</tr>
<tr>
<td>Диаметр ствола лопасти, мм</td>
<td>89</td>
</tr>
<tr>
<td>Толщина лопасти, мм</td>
<td>10</td>
</tr>
<tr>
<td>Диаметр сопрягаемой обсадной трубы ГОСТ <nobr>6238&ndash;52</nobr> или ГОСТ <nobr>6238&ndash;77</nobr>, мм</td>
<td>127; 146; 219</td>
</tr>
<tr>
<td>Максимальная глубина испытаний, м</td>
<td>12; 15; 18</td>
</tr>
<tr>
<td>Максимальное давление на&nbsp;грунт, МПа</td>
<td>1,0</td>
</tr>
<tr>
<td>Диаметр опытной скважины, мм</td>
<td>325</td>
</tr>
<tr>
<td>Нагрузочная система</td>
<td>пневматическая</td>
</tr>
<tr>
<td>Максимальное давление в&nbsp;нагрузочной cистеме, МПа</td>
<td>1,2</td>
</tr>
<tr>
<td>Точность измерения перемещений, не&nbsp;менее, мм</td>
<td>0,1</td>
</tr>
<tr>
<td>Манометр кл. точности 0.4, кПа</td>
<td>до&nbsp;1600</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации на&nbsp;сухом воздухе, °С*</td>
<td>-20..+60</td>
</tr>
<tr>
<td>Общая масса оборудования (в&nbsp;т.ч. комплект анкерный А3), кг</td>
<td>не&nbsp;более 520&nbsp;кг</td>
</tr></table>
</div>
<div class="block-column"><div class="spec-note">*Температурный диапазон указан для составных частей изделия за&nbsp;исключением измерителей перемещений.
Температурный диапазон эксплуатации измерителей перемещений часового (ИЧ) или иного типа должен
соответствовать спецификации изготовителя средства измерений.
</div></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Винтовой штамп IV&nbsp;типа</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Плоский штамп Ш-III</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Комплект анкерный А3</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Переводник 127/146</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Манометрическая головка с&nbsp;редукционным клапаном</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Ресивер с&nbsp;манометром</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Реперная система</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Нагрузочный стол</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Индикаторы ИЧ-50</td>
<td>3&nbsp;шт</td>
</tr>
<tr>
<td>Пневмоцилиндр</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Техническое описание и&nbsp;инструкция по&nbsp;эксплуатации</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Программа Shwpw для обработки результатов испытаний</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Комплект тары</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"><div class="spec-note">Примечание: трубы диаметром 127,  146,  219,  325&nbsp;не&nbsp;входят в&nbsp;комплект.</div></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>

<div class="block-row">
    <div class="block-column"><p>В&nbsp;качестве анкерной системы могут использоваться анкерные комплекты <a href="/row/b2ab6a097c122600c7a16a2f2a18f15d">А1&nbsp;</a> и&nbsp;<a href="/row/3dfb78393acb77782db985b987ce8744">А3</a>, обеспечивающие восприятие реактивных усилий до&nbsp;60&nbsp;кН.
</p>
<p>Для проведения испытания винтовой штамп со&nbsp;стволом (труба Ø&nbsp;127), при помощи буровой установки, завинчивают с
забоя скважины на&nbsp;отметку испытания. Для сопряжения с&nbsp;трубой Ø&nbsp;146&nbsp;следует применять
<a href="/row/697e91f4af35483cc6a6a7c90de2ff50">Переводник 127/146</a>. Ствол штампа должен находиться в&nbsp;пределах
0,<nobr>4&ndash;0</nobr>,6&nbsp;м&nbsp;от
поверхности земли. Реперная
система со&nbsp;стойками, подвижными ригелями и&nbsp;столом устанавливают вокруг ствола штампа. На&nbsp;ствол штампа
устанавливают
нагрузочный стол с&nbsp;пневмоцилиндром и&nbsp;закрепляют индикаторы ИЧ-50. К&nbsp;пневмоцилиндру, с&nbsp;помощью
быстроразъемного
соединения, подключают манометрическую головку. К&nbsp;манометрической головке присоединяют ресивер. Шток
пневмоцилиндра, через шаровой шарнир, упирают в&nbsp;анкерную систему. Стол реперной системы позиционируют относительно
пневмоцилиндра, для опирания на&nbsp;него штоков индикаторов ИЧ-50.
</p>
<p>В&nbsp;ресивер, с&nbsp;помощью автомобильного насоса (или другим способом), закачивают воздух до&nbsp;давления 0.<nobr>6&ndash;1</nobr> МПа.
Фиксируют
&laquo;нулевые показания&raquo; индикаторов ИЧ-50. При помощи редуктора манометрической головки, задают давление в
пневмоцилиндре, соответствующее первой ступени нагрузки. Величина давления контролируется по&nbsp;образцовому манометру, на
манометрической
головке. При выдержке на&nbsp;ступени, давление с&nbsp;помощью редукционного клапана, поддерживается на&nbsp;заданном
уровне.
</p>
<p>В&nbsp;процессе проведения опыта, давление в&nbsp;ресивере будет уменьшаться, но&nbsp;на&nbsp;любой стадии испытаний, давление
можно
увеличить путем подкачки воздуха в&nbsp;ресивер. В&nbsp;процессе испытания, фиксируется давление в&nbsp;нагрузочной
системе, время
и&nbsp;показания индикаторов, как рекомендовано в&nbsp;ГОСТ 20276.<nobr>1&ndash;2020</nobr>. После завершения опыта, можно выполнить
ступенчатую
разгрузку, путем выпуска воздуха из&nbsp;пневмоцилиндра, посредством редуктора.
</p>
<p>В&nbsp;период эксплуатации винтового штампа, требуется лишь проведение контрольных испытаний, для проверки
герметичности
нагрузочной системы, и&nbsp;устранение, при необходимости, утечек воздуха.
</p>
<p>Результаты испытаний обрабатываются по&nbsp;программе <a href="/complect/ShwPW">ShwPW</a> (входит в&nbsp;состав комплекта), в
соответствии с&nbsp;ГОСТ 20276.<nobr>1&ndash;2020</nobr>, и&nbsp;оформляются в&nbsp;виде Паспорта штампового опыта и&nbsp;Протокола штампового опыта.
</p>
</div>
    <div class="block-column right-link-group"><div class="right-link-group">
<div class="right-link-group-item">
<div class="right-link-group-item-img" style="background-image: url(/i/C_pg_ShwPW.jpg)"></div>
<div class="right-link-group-item-title">
<a href="/complect/ShwPW">ShwPW</a>
</div>
</div>
<div class="right-link-group-item">
<div class="right-link-group-item-img" style="background-image: url(/i/sA1.jpg)"></div>
<div class="right-link-group-item-title">
<a href="/row/А1Ш.00.00.00.00">Комплект анкерный А1</a>
</div>
</div>
<div class="right-link-group-item">
<div class="right-link-group-item-img" style="background-image: url(/i/sA3.jpg)"></div>
<div class="right-link-group-item-title">
<a href="/row/А3Ш.00.00.00.00">Комплект анкерный А3</a>
</div>
</div>
<div class="right-link-group-item">
<div class="right-link-group-item-img" style="background-image: url(/i/sPerev.jpg)"></div>
<div class="right-link-group-item-title">
<a href="/row/ШВ60.00.00.00.04">Переводник 127/146</a>
</div>
</div></div></div>
</div></div><div class="block"><h2><span>Версия для печати</span></h2>
<p>
<a href="/docs/print/SHW.pdf" target="_blank">Штамп ШВ60&nbsp;(PDF)</a>
</p>
</div>