<div class="block"><p>Ворот предназначен для установки винтовых анкеров производства АО&nbsp;&laquo;Геотест&raquo; в&nbsp;массив грунта для восприятия реактивных усилий от&nbsp;оборудования для испытаний грунтов штампами I-го&nbsp;типа ШП20/2500/5000, штампами III, IV&nbsp;типа ШВ60.</p>
<p>Ворот может использоваться и&nbsp;в&nbsp;составе переносной установки статического зондирования ПУСЗ-1М.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/sVorot1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sVorot1_gs.jpg)" alt="Фото №1" title="Внешний вид Ворота"></div>
</a>
<div class="slide-text">Внешний вид Ворота</div>
</div>
<div class="slide">
<a href="/i/sVorot2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sVorot2_gs.jpg)" alt="Фото №2" title="Вариант комплектации оборудования"></div>
</a>
<div class="slide-text">Вариант комплектации оборудования</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Габаритные размеры, мм</td>
<td>1925х370х380</td>
</tr>
<tr>
<td>Масса, кг</td>
<td>37,6</td>
</tr>
<tr>
<td>Тип гидравлических соединений</td>
<td>2FFN-06&nbsp;ISO 16028</td>
</tr>
<tr>
<td>Номинальный крутящий момент на&nbsp;шпинделе, Нм</td>
<td>560</td>
</tr>
<tr>
<td>Осевая нагрузка на&nbsp;шпиндель, кН, не&nbsp;более</td>
<td>3</td>
</tr>
<tr>
<td>Частота вращения шпинделя, об/мин (максимальная)</td>
<td>175</td>
</tr>
<tr>
<td>Частота вращения шпинделя, об/мин (минимальная)</td>
<td>6</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации и&nbsp;хранения, °C</td>
<td>-30..+50</td>
</tr>
<tr>
<td>Персонал, кол-во&nbsp;человек</td>
<td>минимум 2</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<br/>
<p>Для работы с&nbsp;воротом может использоваться автономная гидростанция с&nbsp;нужным типом гидравлических соединителей 2FFN-06&nbsp;ISO 16028&nbsp;и&nbsp;требуемыми гидравлическими параметрами (например Hycon HPP09). Гидростанция может входить в&nbsp;комплект поставки или приобретаться отдельно.</p>
<p>Необходимые технические характеристики гидростанции:</p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Давление на&nbsp;выходе, МПа (максимальное)</td>
<td>21</td>
</tr>
<tr>
<td>Давление на&nbsp;выходе, МПа (минимальное)</td>
<td>16</td>
</tr>
<tr>
<td>Номинальная величина потока, л/мин</td>
<td>25</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Ворот</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Шнек ШБ-62&nbsp;L=1000&nbsp;мм&nbsp;Ш19</td>
<td>2&nbsp;шт</td>
</tr>
<tr>
<td>Долото 2ДРШ 55&nbsp;Ш-19&nbsp;(пикообразное)</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Конструкция и&nbsp;работа с&nbsp;воротом</span></h2>
<p>Ворот представляет собой сборно-разборную конструкцию, состоящую из&nbsp;гидроагрегата и&nbsp;двух ручек.</p>
<p>Элементы конструкции в&nbsp;собранном состоянии образуют силовую раму, передающую реактивные усилия от&nbsp;шпинделя к&nbsp;операторам изделия (минимум два человека). Один из&nbsp;операторов имеет возможность управления элементами гидравлической системы.</p>
<p>Для начала работы с&nbsp;изделием необходимо:</p>
<ul>
<li>выполнить сборку устройства согласно схеме, приведённой в&nbsp;руководстве по&nbsp;эксплуатации;</li>
<li>подключить к&nbsp;вороту магистрали гидростанции, заполнить систему гидравлической жидкостью и&nbsp;убедиться в&nbsp;отсутствии утечек;</li>
<li>проверить работу ворота и&nbsp;гидростанции. Отклонение рукояти управления &laquo;вниз&raquo; вызывает вращение шпинделя &laquo;по&nbsp;часовой стрелке&raquo;, что соответствует установке анкера. Обратное воздействие на&nbsp;рукоять управления &laquo;вверх&raquo; позволяет извлечь анкер.</li>
</ul>
<p>Обороты шпинделя регулируются положением рукояти.</p>
<p>Для погружения, анкер в&nbsp;горизонтальном положении соединяется с&nbsp;помощью шплинта со&nbsp;шпинделем ворота, и&nbsp;ворот с&nbsp;анкером устанавливаются вертикально.</p>
<p>Погружение начинают при небольшом вертикальном усилии на&nbsp;анкер и&nbsp;минимальных оборотах шпинделя ворота.</p>
<p>После завинчивания лопасти в&nbsp;грунт, погружение продолжают увеличивая обороты шпинделя.</p>
<p>Погружение анкера прекращают при остановке шпинделя на&nbsp;любой глубине погружения. </p>
<p>Если глубина установки анкера менее 600&nbsp;мм, следует вывернуть анкер и&nbsp;повторить погружение в&nbsp;другом месте.</p>
<p>Если анкер легко погружается в&nbsp;грунт, погружение следует прекратить не&nbsp;доходя до&nbsp;поверхности грунта 200&nbsp;мм, при этом нельзя допускать проворота анкера на&nbsp;отметке установки.</p>
<p>Извлечение анкера выполняют при небольшом вертикальном усилии и&nbsp;небольших оборотах шпинделя.</p>
<p>Ворот позволяет бурить лидерные скважины диаметром 62&nbsp;мм.</p>
<p>При работе с&nbsp;изделием необходимо соблюдать правила безопасности и&nbsp;использовать средства индивидуальной защиты!</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/sVorot.pdf" target="_blank">Ворот (PDF)</a></p>
</div>