<div class="block"><p>Блок ФО-5&nbsp;предназначен для автоматического снятия отсчётов при статическом зондировании грунтов. Предназначен для работы с&nbsp;комплектами аппара­туры ТЕСТ-К2М, ТЕСТ-К4М, ТЕСТ-К12&nbsp;или с&nbsp;блоком связи БС-3&nbsp;(далее &laquo;Контроллер&raquo;).</p>
<p>Блок ФО-5&nbsp;измеряет глубину погружения колонны штанг и&nbsp;формирует команды на&nbsp;запись данных контроллером с&nbsp;шагом 2.5,  5&nbsp;или 10&nbsp;см.</p>
<p>Использование Блока ФО-5&nbsp;позволяет обеспечить требуемую (согласно ГОСТ <nobr>19912&ndash;2012</nobr>, Изменение &#8470;1&nbsp;от&nbsp;01.09.2019) точность отсчетов и&nbsp;снизить трудо­емкость испытаний.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szFO51.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szFO51_gs.jpg)" alt="Фото №1" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/szFO52.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szFO52_gs.jpg)" alt="Фото №2" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/szFO53.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szFO53_gs.jpg)" alt="Фото №3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Блок ФО-5</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Опора контроллера</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Выносная кнопка</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кабель ФОК-52&nbsp;(0,6м) для подключения Блока ФО-5&nbsp;к&nbsp;регистрирующему контроллеру</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кабель питания (5м)</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Розетка питания</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Магнит с&nbsp;крюком</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Механический фильтр</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Тренога геодезическая</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Инструкция по&nbsp;эксплуатации</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Инструкция по&nbsp;эксплуатации</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Транспортировочный кейс</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>По&nbsp;требованию:</p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Кабель ФОК-54&nbsp;(0,6м) для подключения мини- принтера CBM-910&nbsp;к&nbsp;Блоку ФО-5</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Опора минипринтера CBM-910</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Кабель ФОК-51&nbsp;(5м) для подключения Блока ФО-5&nbsp;к&nbsp;регистрирующему контроллеру</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Максимально измеряемая глубина:</td>
<td></td>
</tr>
<tr>
<td>•&nbsp;в&nbsp;режиме &laquo;АВТОМАТ С&nbsp;ВЫЧИТАНИЕМ&raquo;</td>
<td>100&nbsp;м</td>
</tr>
<tr>
<td>•&nbsp;в&nbsp;режимах &laquo;АВТОМАТ&raquo; и&nbsp;&laquo;РУЧНОЙ&raquo;</td>
<td>62&nbsp;м</td>
</tr>
<tr>
<td>Предел допустимой относительной погрешности при измерении глубины, не&nbsp;более</td>
<td>0,5&nbsp;%</td>
</tr>
<tr>
<td>Напряжение питания</td>
<td><nobr>11&ndash;17</nobr> В</td>
</tr>
<tr>
<td>Ток потребления, не&nbsp;более</td>
<td>0,6&nbsp;А</td>
</tr>
<tr>
<td>Длина троса дальномера, не&nbsp;более</td>
<td>5&nbsp;м</td>
</tr>
<tr>
<td>Общая масса комплекта, не&nbsp;более</td>
<td>15&nbsp;кг</td>
</tr>
<tr>
<td>Система измерения перемещений</td>
<td>электро-механическая</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации</td>
<td>-30..+40&nbsp;°С</td>
</tr>
<tr>
<td>Диапазон температур хранения</td>
<td>-50..+50&nbsp;°С</td>
</tr>
<tr>
<td>Класс защиты</td>
<td>IP50</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>Блок ФО-5&nbsp;выполнен в&nbsp;алюминиевом корпусе. На&nbsp;верхней панели расположены кнопка включения, кнопки выбора режимов и&nbsp;светодиодные индикаторы. На&nbsp;передней панели расположены разъемы для под­ключения кабелей. Слева расположена опора для кон­троллера. По&nbsp;дополнительной заявке Блок ФО-5&nbsp;может быть дополнен минипринтером СВМ-910&nbsp;с&nbsp;кабелями и&nbsp;дополнительной опорой, которая устанавливается спра­ва от&nbsp;Блока ФО-5. </p>
<p>В&nbsp;рабочем положении Блок ФО-5&nbsp;устанавливается на&nbsp;геодезической треноге. </p>
<p>Блок ФО-5&nbsp;имеет три основных режима работы: </p>
<p>-&nbsp;АВТОМАТ&nbsp;&mdash; счет производится при любом движе­нии вращателя вниз. Этот режим применим на&nbsp;установ­ках статического зондирования, где нет холостого хода вращателя для смены штанги. </p>
<p>-&nbsp;АВТОМАТ С&nbsp;ВЫЧИТАНИЕМ&nbsp;&mdash; счет производится при движении вращателя вниз, при этом свободный ход для добавления штанги автоматически вычитается. Этот режим значительно упрощает проведение работ, но&nbsp;следует избегать кратковременных изменений на­правления движения вращателя. Этот режим применим только при использовании штанг длиной 1м. </p>
<p>-&nbsp;РУЧНОЙ&nbsp;&mdash; счет производится при движении ко­лонны вниз, если нажата выносная кнопка. Для начала счета оператор должен нажать выносную кнопку в&nbsp;момент начала движения колонны штанг вниз и&nbsp;выклю­чить счет повторным нажатием выносной кнопки перед подачей вращателя вверх. Этот режим применим на&nbsp;любых установках статического зондирования. </p>
<p>Для проведения испытания необходимо подать пита­ние на&nbsp;контроллер и&nbsp;настроить его согласно инструк­ции на&nbsp;соответствующий контроллер. </p>
<p>Далее, включить питание Блока ФО-5. Используя кнопки &laquo;РЕЖИМ&raquo; и&nbsp;&laquo;ШАГ&raquo; установить режим и&nbsp;ин­тервал снятия отсчетов. В&nbsp;момент начала движения ко­лонны вниз нажать кнопку &laquo;СТАРТ&raquo;. Начнется работа формирователя. </p>
<p>Индикатор &laquo;СЧЕТ&raquo; синего цвета загорается во&nbsp;всех режимах работы. </p>
<p>По&nbsp;окончании работы выключить Блок ФО-5&nbsp;пере­ключателем &laquo;ВКЛ&raquo;. </p>
<p>Далее, данные передаются в&nbsp;программу <a href="/complect/Geoexplorer">Geoexplorer</a> для последующей обработки.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szFO5.pdf" target="_blank">Формирователь отсчётов ФО-5&nbsp;(PDF)</a></p>
</div>