<div class="block"><div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/test-k2m.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-k2m_gs.jpg)" alt="Фото №1" title="Общий вид комплекта ТЕСТ-К2М"></div>
</a>
<div class="slide-text">Общий вид комплекта ТЕСТ-К2М</div>
</div>
<div class="slide">
<a href="/i/Certificate2017.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/Certificate2017_gs.jpg)" alt="Фото №2" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/Certificate2017b.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/Certificate2017b_gs.jpg)" alt="Фото №3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/CertificateTEST.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/CertificateTEST_gs.jpg)" alt="Фото №4" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
<div class="video">
<div class="video-container"><iframe width="560" height="315" src="http://www.youtube.com/embed/QDlTonwxLBI?wmode=opaque&wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<p>Основные параметры двухканальных электрических зондов регламентируются ГОСТ <nobr>19912&ndash;2012</nobr>, где приведены геометрические размеры зондов и требования к основной погрешности измерения показателей сопротивления грунта. Зонды А2/350&nbsp;относятся к&nbsp;аналоговым приборам. Допустимые диапазоны измерения усилий по конусу и муфте трения зонда определяются их конструктивными особенностями.</p>
<p><h4>Основные параметры зондов, используемых в&nbsp;комплекте ТЕСТ-К2М</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Тип зонда по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr></td>
<td>электрический</td>
</tr>
<tr>
<td>Диаметр основания конуса, мм</td>
<td>35,7</td>
</tr>
<tr>
<td>Угол при вершине, град</td>
<td>60</td>
</tr>
<tr>
<td>Диаметр муфты трения, мм</td>
<td>35,7</td>
</tr>
<tr>
<td>Длина муфты трения, мм</td>
<td>310</td>
</tr>
<tr>
<td>Площадь муфты трения, cм²</td>
<td>350</td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;конусу (исполнение 1), МПа</td>
<td>0,<nobr>2&ndash;50</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;конусу (исполнение 2), МПа</td>
<td>0,<nobr>1&ndash;25</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;муфте трения, кПа</td>
<td><nobr>3&ndash;571</nobr></td>
</tr>
<tr>
<td>Основная погрешность измерения удельного сопротивления грунта</td>
<td>не&nbsp;более 5%</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>Регистрирующий двухканальный измерительный прибор ТЕСТ-К2М, предназначен для измерения дебаланса тензометрических полумостов, усиления и&nbsp;оцифровки сигнала, индикации результатов измерений, их&nbsp;сохранение в&nbsp;памяти и&nbsp;передачу в&nbsp;компьютер для обработки.</p>
<p><h4>Измерительный прибор (контроллер) ТЕСТ-К2М</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, Вольт</td>
<td><nobr>11&ndash;18</nobr></td>
</tr>
<tr>
<td>Потребляемый ток, А</td>
<td>0,5</td>
</tr>
<tr>
<td>Количество измерительных каналов</td>
<td>2</td>
</tr>
<tr>
<td>Время выхода в&nbsp;раб. режим, мин</td>
<td>2</td>
</tr>
<tr>
<td>емкость памяти, кБайт</td>
<td>32</td>
</tr>
<tr>
<td>Интерфейс передачи данных</td>
<td>RS-232&nbsp;(USB 2.0)</td>
</tr>
<tr>
<td>Время хранения результатов, год</td>
<td>1</td>
</tr>
<tr>
<td>Диапазон рабочих температур, С°</td>
<td>-20..+40</td>
</tr>
<tr>
<td>Габаритные размеры, мм</td>
<td>200x100x40</td>
</tr>
<tr>
<td>Масса прибора, кг</td>
<td>0,5</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>При вдавливании тензометрического зонда в грунт, механическое воздействие грунта на конус и муфту трения приводит к изменению электрического сопротивления тензодатчиков, и электрический сигнал, по кабелю, проходящему внутри зондировочных штанг, передается в измерительный прибор (контроллер). Показания на&nbsp;цифровом дисплее контроллера изменяются пропорционально усилиям, действующим на&nbsp;конус и&nbsp;муфту трения зонда.</p>
<p>Контроллер ТЕСТ-К2М имеет четыре основных режима работы:</p>
<ul>
<li>РЕЖИМ КАЛИБРОВКИ тензометрических зондов;</li>
<li>РАБОЧИЙ РЕЖИМ (запись данных зондирования в&nbsp;ОЗУ);</li>
<li>режим ПЕРЕДАЧИ ДАННЫХ зондирования в&nbsp;компьютер;</li>
<li>режим ОЧИСТКИ ПАМЯТИ;</li>
</ul>
<p>На передней панели измерительного прибора расположены: ЖК-дисплей и пять кнопок управления. На боковых стенках контроллера расположены разъемы для подключения прибора к бортовой сети, подключения тензометрического зонда, подключения кабеля связи и USB разъемы.</p>
<p>После подключения зонда и&nbsp;включения прибора, контроллер переходит в &laquo;РАБОЧИЙ РЕЖИМ&raquo;. Оператор вводит номер опыта и&nbsp;начинает вдавливание зонда, отсчёты сохраняются в&nbsp;памяти контроллера при нажатии кнопки &laquo;ПУСК&raquo; или дистанционной кнопки.</p>
<p>Для передачи данных в&nbsp;компьютер, к&nbsp;контроллеру подключают интерфейсный какбель и&nbsp;контроллер автоматически переходит в&nbsp;режим &laquo;ПЕРЕДАЧИ ДАННЫХ&raquo; и&nbsp;результаты зондирования передаются в&nbsp;базу данных программы обработки Geoexplorer.</p>
<p>Помимо последовательного порта RS-232, контроллер ТЕСТ К2М оснащен двумя USB-портами для записи данных на&nbsp;флэш-диск и передачи на персональный компьютер.</p>
<p>Разъем А используется для записи данных на флеш-диск.</p>
<p>Разъем В используется для передачи данных с помощью USB кабеля на ПК.</p>
<p>32&nbsp;кБ&nbsp;внутренней памяти контроллера ТЕСТ К2М позволяют сохранять результаты 2000&nbsp;метров зондирования.</p>
<p>Зондировочные штанги служат для вдавливания зонда в грунт. Наголовник служит для вдавливания и извлечения зонда. Вилка используется при извлечении зонда и фиксации штанг в наголовнике.Образцовый динамометр ДОСМ <nobr>3&ndash;50</nobr>У и Устройство Т служат для тарировки и проверке аппаратуры при эксплуатации.</p>
<p>Тарировка проводится при подготовке аппаратуры ТЕСТ-К2М к работе, во время полевых работ, при замене тензометрического зонда, либо измерительного прибора. Проверка проводится не реже одного раза в месяц. В случае, если комплект не использовалась более, чем один месяц, то тарировку проводят перед началом полевых работ.</p>
<p>В комплект входит Измерительный прибор ТЕСТ-АМ который используется в качестве резервного прибора при выходе из&nbsp;строя контроллера.</p>
<p>Для обработки результатов используется программа <a href="/row/36fed9043c61c0cc475f47971ca6479e">GeoExplorer</a>.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szTEST-K2M.pdf" target="_blank">Комплект ТЕСТ-К2M (PDF)</a></p>
</div><div class="block"><p><b>Ниже указана базовая комплектация, которую вы&nbsp;можете заказать в&nbsp;соответствии с&nbsp;вашими пожеланиями, изменив количество и&nbsp;вид штанг, тип наголовника, количество кабелей и&nbsp;зондов</b>.</p>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>