<div class="block">
<p>Комплект ТЕСТ-АМ&nbsp;предназначен для зондирования немерзлых песчаных и&nbsp;глинистых грунтов по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr> (&laquo;Грунты. Методы полевых испытаний статическим и&nbsp;динамическим зондированием&raquo;)&nbsp;для комплексной оценки физико-механических свойств грунтов в&nbsp;соответствии c&nbsp;СП&nbsp;47.13330.2012&nbsp;&laquo;СНиП <nobr>11&ndash;02&ndash;96</nobr> Инженерные изыскания для строительства. Основные положения&raquo; Приложение И, и&nbsp;несущей способности свай по&nbsp;СП&nbsp;24.13330.2011&nbsp;&laquo;СНиП 2.02.<nobr>03&ndash;85</nobr> Свайные фундаменты&raquo;, СП-<nobr>50&ndash;102&ndash;2003</nobr> &laquo;Проектирование и&nbsp;устройство свайных фундаментов&raquo; и&nbsp;по&nbsp;МГСН 2.<nobr>07&ndash;01</nobr> &laquo;Московские городские строительные нормы. Основания, фундаменты и&nbsp;подземные сооружения&raquo;.</p>
<p>Комплект ТЕСТ-АМ&nbsp;может использоваться в&nbsp;качестве дополнительного оборудования к&nbsp;геологическим буровым
установкам, обеспечивающим усилие на&nbsp;забой не&nbsp;менее 30&nbsp;кН, или в&nbsp;составе специальных <a href="/complect/&#x423;&#x421;&#x417;">зондировочных установок</a> (в&nbsp;т.ч. производства ОАО &laquo;<a href="http://www.kurganavtoremont.ru/production/geotools/burovaya/nusz/">Курганавторемонт</a>&raquo;).</p>
<p>Комплекты аппаратуры для статического зондирования грунтов ТЕСТ имеют свидетельство об&nbsp;утверждении типа
средств измерений Федерального Агентства по&nbsp;техническому регулированию и&nbsp;метрологии RU.C.30.058.A &#8470;&nbsp;45332, регистрационный номер <nobr>48929&ndash;12</nobr> и&nbsp;сертификат об&nbsp;утверждении типа средств измерений &#8470;&nbsp;8013&nbsp;Госкомитета по&nbsp;стандартизации республики Беларусь.</p>
<div class="gallery">
<h3>Фотографии</h3>
<div id="photoAlbumPhotosList">
<a href="/i/test-am.jpg" class="img" data-action="showBigPhoto" id="test-amjpg"><img src="/i/test-am_g.jpg" alt="Общий вид комплекта ТЕСТ-АМ"></a>
<a href="/i/test-am1.jpg" class="img" data-action="showBigPhoto" id="test-am1jpg"><img src="/i/test-am1_g.jpg" alt="Измерительный прибор ТЕСТ-АМ"></a>
<a href="/i/test-am2.jpg" class="img" data-action="showBigPhoto" id="test-am2jpg"><img src="/i/test-am2_g.jpg" alt="Измерительный прибор ТЕСТ-АМ, шнуры, розетка"></a>
<a href="/i/Certificate.jpg" class="img" data-action="showBigPhoto" id="Certificatejpg"><img src="/i/Certificate_g.jpg" alt="Скачать"></a>
<a href="/i/Certificate2.jpg" class="img" data-action="showBigPhoto" id="Certificate2jpg"><img src="/i/Certificate2_g.jpg" ></a>
<div class="clearfix"></div>
</div>
</div>
<div class="video">
<div class="video-container"><iframe width="560" height="315" src="http://www.youtube.com/embed/QDlTonwxLBI?wmode=opaque&wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div>
</div>
<div class="block">
<h2><span>Публикации</span></h2>
<p><a href="/docs/ii03_test.pdf" target="_blank">Комплекты оборудования для статического зондирования грунтов серии ТЕСТ.</a> Инженерные изыскания. Апрель 2008.</p>
</div>
<div class="block">
<h2><span>Технические характеристики</span></h2>
<p>Основные параметры электрических зондов регламентируются ГОСТ <nobr>19912&ndash;2012</nobr>, где приведены геометрические размеры зондов и&nbsp;требования к&nbsp;основной погрешности измерения показателей сопротивления грунта. Допустимые диапазоны измерения усилий по&nbsp;конусу и&nbsp;муфте трения зонда определяются их&nbsp;конструктивными особенностями. Зонды А2/350&nbsp;являются аналоговыми, т.е. сигнал из&nbsp;зонда передается в&nbsp;регистрирующий прибор где обрабатывается.</p>
<p><h4>Основные параметры зондов, используемых в&nbsp;комплекте ТЕСТ-АM.</h4></p>
<table cellspacing="0" cellpadding="0" class="table spec">
<tr>
<td class="col57">Тип зонда по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr></td>
<td class="col43">электрический</td>
</tr>
<tr>
<td class="col57">Диаметр основания конуса, мм</td>
<td class="col43">35,7</td>
</tr>
<tr>
<td class="col57">Угол при вершине, град</td>
<td class="col43">60</td>
</tr>
<tr>
<td class="col57">Диаметр муфты трения, мм</td>
<td class="col43">35,7</td>
</tr>
<tr>
<td class="col57">Длина муфты трения, мм</td>
<td class="col43">310</td>
</tr>
<tr>
<td class="col57">Площадь муфты трения, cм²</td>
<td class="col43">150; 250; 350</td>
</tr>
<tr>
<td class="col57">Диапазон измерения удельного сопротивления грунта по&nbsp;конусу (исполнение 1), МПа</td>
<td class="col43">0,<nobr>2&ndash;50</nobr></td>
</tr>
<tr>
<td class="col57">Диапазон измерения удельного сопротивления грунта по&nbsp;конусу (исполнение 2), МПа</td>
<td class="col43">0,<nobr>025&ndash;25</nobr></td>
</tr>
<tr>
<td class="col57">Диапазон измерения удельного сопротивления грунта по&nbsp;муфте трения, кПа</td>
<td class="col43"><nobr>3&ndash;571</nobr></td>
</tr>
<tr>
<td class="col57">Основная погрешность измерения удельного сопротивления грунта</td>
<td class="col43">не&nbsp;более 5%</td>
</tr>
</table>
<p>Регистрирующий двухканальный измерительный прибор ТЕСТ-АМ&nbsp;предназначен для усиления и&nbsp;преобразования
дебаланса тензометрических полумостов зонда и&nbsp;их&nbsp;вывод на&nbsp;ЖК-дисплей.</p>
<p><h4>Технические характеристики измерительного прибора ТЕСТ-АМ.</h4></p>
<table cellspacing="0" cellpadding="0" class="table spec">
<tr>
<td class="col57">Напряжение питания, Вольт</td>
<td class="col43"><nobr>11&ndash;18</nobr></td>
</tr>
<tr>
<td class="col57">Потребляемый ток, А</td>
<td class="col43">0,5</td>
</tr>
<tr>
<td class="col57">Количество измерительных каналов</td>
<td class="col43">2</td>
</tr>
<tr>
<td class="col57">Время выхода в&nbsp;раб. режим, мин</td>
<td class="col43">1</td>
</tr>
<tr>
<td class="col57">Диапазон рабочих температур, С°</td>
<td class="col43">&mdash;&nbsp;10..+40</td>
</tr>
<tr>
<td class="col57">Габаритные размеры, мм</td>
<td class="col43">200x100x40</td>
</tr>
<tr>
<td class="col57">Масса прибора, кг</td>
<td class="col43">0,5</td>
</tr>
</table>
</div>
<div class="block">
<h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>При вдавливании тензометрического зонда с&nbsp;кабелем в&nbsp;грунт, механическое воздействие грунта на&nbsp;конус
и&nbsp;муфту трения, приводит к&nbsp;изменению электрического сопротивления тензодатчиков, и&nbsp;электрический сигнал, по&nbsp;кабелю, проходящему внутри зондировочных штанг, передается на&nbsp;измерительный прибор ТЕСТ-АМ.</p>
<p>На&nbsp;дисплее, расположенном на&nbsp;лицевой панели прибора, показания меняются пропорционально усилиям, действующим
на&nbsp;конус и&nbsp;муфту трения зонда.</p>
<p>Регистрирующий прибор ТЕСТ-АМ&nbsp;выполнен в&nbsp;виде двухканального усилителя с&nbsp;цифровым выходом.</p>
<p>Прибор имеет функции:</p>
<ul>
<li>автобалансировки зондов;</li>
<li>сохранения тарировочных параметров зондов и&nbsp;диагностики измерительных каналов;</li>
</ul>
<p>Прибор работает в&nbsp;двух основных режимах:</p>
<ul>
<li>калибровка каналов и&nbsp;сохранение тарировочных параметров конкретного зонда;</li>
<li>рабочий режим (измерение сопротивлений грунта по&nbsp;конусу и&nbsp;муфте).</li>
</ul>
<p>На&nbsp;передней панели измерительного прибора расположен ЖК-дисплей и&nbsp;две кнопки: кнопка &laquo;Сброс&raquo; и&nbsp;кнопка
&laquo;F&raquo;.</p>
<p>Для подключения тензометрического зонда и&nbsp;прибора ТЕСТ-АМ&nbsp;к&nbsp;бортовой сети, используются разъемы, расположенные
на&nbsp;задней стенке прибора.</p>
<p>Цена деления по&nbsp;каждому каналу определяется, в&nbsp;зависимости от&nbsp;настройки аппаратуры ТЕСТ-АМ.</p>
<p>Зондировочные штанги служат для вдавливания зонда в&nbsp;грунт с&nbsp;помощью буровой, либо зондировочной установки.
Наголовник служит для вдавливания и&nbsp;извлечения зонда. Вилка используется при извлечении зонда и&nbsp;фиксации
штанг в&nbsp;наголовнике.</p>
<p>Настройка комплекта проводится при подготовке аппаратуры ТЕСТ-АМ&nbsp;к&nbsp;работе, либо при замене зонда или
измерительного прибора, но&nbsp;не&nbsp;реже одного раза в&nbsp;месяц.</p>
<p>Образцовый динамометр ДОСМ <nobr>3&ndash;50</nobr>У&nbsp;и&nbsp;Устройство Т&nbsp;служат для тарировки и&nbsp;проверке аппаратуры
при эксплуатации.</p>
<p>Тарировка проводится при подготовке аппаратуры к&nbsp;работе, во&nbsp;время полевых работ, при замене
тензометрического зонда, либо измерительного прибора. Проверка проводится не&nbsp;реже одного раза в&nbsp;месяц.
В&nbsp;случае, если комплект не&nbsp;использовалась более, чем один месяц, то&nbsp;тарировку проводят перед началом
полевых работ.</p>
<p>Для обработки результатов используется программа <a href="/row/22">GeoExplorer</a>.</p>
</div>
<div class="block">
<h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szTEST-AM.pdf" target="_blank">Комплект ТЕСТ-АM&nbsp;(PDF)</a></p>
</div>
<div class="block">
<?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>
