<div class="block"><div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/test-k4cptu.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-k4cptu_gs.jpg)" alt="Фото №1" title="Общий вид комплекта ТЕСТ-К4 CPTU"></div>
</a>
<div class="slide-text">Общий вид комплекта ТЕСТ-К4&nbsp;CPTU</div>
</div>
<div class="slide">
<a href="/i/test-k4u2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-k4u2_gs.jpg)" alt="Фото №2" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/test-k4u3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-k4u3_gs.jpg)" alt="Фото №3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/test-k4u4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-k4u4_gs.jpg)" alt="Фото №4" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<p>В&nbsp;комплекте ТЕСТ-К4&nbsp;CPTU используются цифровые зонды А3/350&nbsp;и&nbsp;А4/350. Они имеют широкий диапазон термокомпенсации, цифровой выход и&nbsp;нормированные параметры для всех каналов, поэтому настройка оборудования при замене зонда не&nbsp;требуется. Геометрические размеры зондов соответствуют ГОСТ <nobr>19912&ndash;2012</nobr>.</p>
<p>Зонды А3/350&nbsp;имеют три канала измерения: канал конуса <b>qc</b>, канал муфты <b>fs</b> и&nbsp;канал инклинометра <b>a</b>. Цифровой инклинометр, установленный в&nbsp;электронном узле зонда при зондировании фиксирует отклонение зонда от&nbsp;вертикального положения. Зонды А4/350&nbsp;имеют четыре цифровых канала: каналы <b>qc</b>, <b>fs</b>, <b>a</b> и&nbsp;канал <b>U2</b>&nbsp;&mdash; поровое давление.</p>
<p><h4>Основные параметры зондов А3/350&nbsp;и&nbsp;А4/350</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Диаметр основания конуса, мм</td>
<td>35,7</td>
</tr>
<tr>
<td>Угол при вершине, град</td>
<td>60</td>
</tr>
<tr>
<td>Диаметр муфты трения, мм</td>
<td>35,7</td>
</tr>
<tr>
<td>Длина муфты трения, мм</td>
<td>310</td>
</tr>
<tr>
<td>Площадь муфты трения, cм²</td>
<td>350</td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;конусу qc, МПа</td>
<td>0,<nobr>05&ndash;50</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопр. грунта по&nbsp;муфте трения fs, кПа</td>
<td>0,<nobr>6&ndash;571</nobr></td>
</tr>
<tr>
<td>Диапазон измерения угла отклонения от&nbsp;вертикали a, °</td>
<td><nobr>1&ndash;20</nobr></td>
</tr>
<tr>
<td>Диапазон измерения порового давления, кПа</td>
<td>-85..2000</td>
</tr>
<tr>
<td>Основная погрешность измерения удельного сопротивления грунта</td>
<td>не&nbsp;более 5%</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>В&nbsp;состав комплекта ТЕСТ-К4&nbsp;CPTU входят два зонда А4/З50&nbsp;и&nbsp;один зонд А3/350. В&nbsp;качестве регистрирующего прибора используется цифровой контроллер ТЕСТ-К4&nbsp;или Блок Связи БС-3.</p>
<p>Регистрирующий прибор (<a href="/row/f825a4e5f6bedad0c6c2a97d84a00e63">контроллер ТЕСТ-К4М</a>)&nbsp;предназначен для индикации, сохранения и передачи результатов зондирования на персональный компьютер для последующей обработки. Контроллер оснащен USB интерфейсом для передачи данных в ПК и USB разъемом для записи данных на USB-флеш-диск.</p>
<p><h4>Технические характеристики контроллера ТЕСТ-К4М и&nbsp;Блока Связи БС-3</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, Вольт</td>
<td><nobr>11&ndash;18</nobr></td>
</tr>
<tr>
<td>Потребляемый ток, А</td>
<td>0,5</td>
</tr>
<tr>
<td>Время выхода в&nbsp;раб. режим (контроллер ТЕСТ-К4), мин</td>
<td>2</td>
</tr>
<tr>
<td>Ёмкость памяти (контроллер ТЕСТ-К4), кБайт</td>
<td>32</td>
</tr>
<tr>
<td>Интерфейс передачи данных</td>
<td>USB</td>
</tr>
<tr>
<td>Время хранения результатов (контроллер ТЕСТ-К4), год</td>
<td>1</td>
</tr>
<tr>
<td>Диапазон рабочих температур, С°</td>
<td>-20..+40</td>
</tr>
<tr>
<td>Габаритные размеры (контроллер ТЕСТ-К4), мм</td>
<td>200x100x40</td>
</tr>
<tr>
<td>Габаритные размеры (Блок Связи БС-3), мм</td>
<td>195х190х55</td>
</tr>
<tr>
<td>Масса прибора ТЕСТ-К4, кг</td>
<td>0,5</td>
</tr>
<tr>
<td>Масса Блока Связи БС-3, кг</td>
<td>0,7</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<br/>
<p>Прибор защищен от&nbsp;недопустимой полярности питающего напряжения.</p>
<p>Датчик порового давления, установленный в&nbsp;конусе зонда А4/350, предназначен для измерения избыточного давления в&nbsp;поровой воде, возникающего при внедрении зонда в&nbsp;грунт.</p>
<p>При интерпретации результатов зондирования поровое давление является важным дополнительным параметром для идентификации грунтов, оценки их&nbsp;консолидационных характеристик и&nbsp;корректировки показателей сопротивления конуса qc&nbsp;и&nbsp;трения зонда fs&nbsp;для перехода к&nbsp;эффективным напряжениям.</p>
<p>В&nbsp;качестве датчиков порового давления в&nbsp;зондах А4/350&nbsp;используются щелевые датчики, разработанные на&nbsp;предприятии Геотест.</p>
<p><h4>Основные характеристики датчиков</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Площадь конуса зонда, см²</td>
<td>10</td>
</tr>
<tr>
<td>Высота щели h, мм</td>
<td>0,30±0,05</td>
</tr>
<tr>
<td>Объём внутренней полости, см³</td>
<td>1,15</td>
</tr>
<tr>
<td>Материал заполнения внутренней полости (&laquo;Среда1&raquo;)</td>
<td>ЦИАТИМ-201&nbsp;ГОСТ <nobr>6267&ndash;74</nobr></td>
</tr>
<tr>
<td>Комплиментарная жидкость (&laquo;Среда2&raquo;)</td>
<td>Масло И-12А ГОСТ <nobr>20799&ndash;88</nobr></td>
</tr>
<tr>
<td>Рабочее давление Р, кПа</td>
<td>от&nbsp;-85&nbsp;до&nbsp;2000</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации, С°</td>
<td>0..+60</td>
</tr>
<tr>
<td>Диапазон температур хранения, С°</td>
<td>-60..+90</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p><h4>Характеристики вспомогательного оборудования</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Шприц (служит для заполнения внутренней полости Пьезоконуса из&nbsp;Картриджа З&nbsp;&laquo;Средой 1&raquo;), кг</td>
<td>2,77</td>
</tr>
<tr>
<td>Картридж З, кг</td>
<td>0,35</td>
</tr>
<tr>
<td>Самофиксирующиеся сантехнические клещи (служат для захвата Пьезоконуса и&nbsp;его вращения по&nbsp;резьбе), кг</td>
<td>0,48</td>
</tr>
<tr>
<td>Картридж З&nbsp;(запасной картридж 310&nbsp;мл, готовый к&nbsp;применению, является расходным материалом), кг</td>
<td>0,35</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p> При вдавливании зонда, механическое воздействие грунта на&nbsp;тензодинамометры вызывает дебаланс полумостов. Электронный блок, расположенный внутри зонда, усиливает, оцифровывает и&nbsp;кондиционирует сигналы датчиков, которые в&nbsp;цифровом формате по&nbsp;кабелю передаются к&nbsp;измерительному прибору (контроллеру ТЕСТ-К4М). На&nbsp;дисплее, расположенном на&nbsp;лицевой панели прибора, показания изменяются пропорционально воздействиям на&nbsp;датчики зонда. Результаты зондирования сохраняются в&nbsp;памяти контроллера.</p>
<p>Полный комплект имеет в&nbsp;своём составе четырёхканальный контроллер ТЕСТ-К4М и&nbsp;Блок Связи БС-3, которые являются друг для друга резервными приборами.</p>
<p>Комплект ТЕСТ-К4&nbsp;CPTU может работать в двух вариантах.</p>
<p><b>Вариант 1. ЦИФРОВОЙ ЗОНД&nbsp;&mdash; КОНТРОЛЛЕР ТЕСТ-К4М</b></p>
<p>Контроллер ТЕСТ-К4М имеет четыре основных режима работы:</p>
<ul>
<li>РАБОЧИЙ РЕЖИМ (запись данных зондирования в&nbsp;ОЗУ);</li>
<li>РЕЖИМ ПЕРЕДАЧИ ДАННЫХ зондирования в&nbsp;компьютер;</li>
<li>РЕЖИМ ЗАПИСИ ДАННЫХ на&nbsp;USB-ФЛЕШ-ДИСК;</li>
<li>СЕРВИСНЫЙ РЕЖИМ.</li>
</ul>
<p>На передней панели контроллера расположены: дисплей и клавиатура с цифрами и вспомогательными символами. На верхней стенке контроллера расположены разъемы для подключения питания, зонда и радиокнопки. На боковой стенке прибора расположены разъёмы для подключения USB-кабеля и Флеш-диска. После включения, контроллер переходит в меню выбора режима работы. При выборе меню пункта РАБОЧИЙ РЕЖИМ контроллер проводит диагностику измерительного тракта и зонда. После ввода параметров опыта (номер, шаг отсчетов и глубина зондирования), текущие отсчеты сохраняются в контроллере при нажатии любой цифровой клавиши на панели прибора (<nobr>1&ndash;9</nobr>) или дистанционно посредством <a href="/row/18fd8fcdd92e1904173a627f59ed3286">Радиокнопки РК-11</a>.</p>
<p>При выборе режима ПЕРЕДАЧИ ДАННЫХ, данные передаются в компьютер для последующей обработки.</p>
<p>В СЕРВИСНОМ РЕЖИМЕ контроллера можно выполнить:</p>
<ul>
<li>замену шрифта отображаемой информации на экране;</li>
<li>установку времени и даты;</li>
<li>удаление из контроллера обработанных данных зондирования;</li> <li>регистрацию термозонда.</li>
</ul>
<p><b>Вариант 2. ЦИФРОВОЙ ЗОНД&nbsp;&mdash; БЛОК СВЯЗИ&nbsp;&mdash; ПК</b></p>
<p>В таком варианте, данные зондирования передаются в&nbsp;программу обработки на&nbsp;ПК&nbsp;и&nbsp;транслируются на&nbsp;мониторе в&nbsp;цифровом и&nbsp;графическом формате. Такой вариант предпочтителен при работе на&nbsp;специализированных зондировочных установках, где отсчёты снимаются автоматически с&nbsp;заданным шагом, но&nbsp;возможна и&nbsp;запись отсчётов посредством дистанцинной кнопки.</p>
<p>В процессе работы калибровка (настройка) зондов при замене не требуется, т.к. все зонды имеют нормированные параметры. При работе на&nbsp;зондировочных установках, предусмотрено подключение <a href="/row/500c420bced17fee546be72d13167872">Формирователя Отсчетов</a>. В этом случае, сохранение отсчетов происходит автоматически по командам формирователя отсчетов с любым шагом из ряда: 2.5,  5,  10&nbsp;и 20&nbsp;см.</p>
<p>При работе с&nbsp;комплектом ТЕСТ-К4М мы&nbsp;рекомендуем использовать <a href="/complect/&#x411;&#x41F;&#x414;">комплект бескабельной передачи данных зондирования БПД1</a>.</p>
<p>Для обработки результатов используется программа <a href="/row/36fed9043c61c0cc475f47971ca6479e">GeoExplorer</a>.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szTEST-K4_CPTU.pdf" target="_blank">Комплект ТЕСТ-К4&nbsp;CPTU (PDF)</a></p>
</div><div class="block"><p><b>Ниже указана базовая комплектация, которую вы&nbsp;можете заказать в&nbsp;соответствии с&nbsp;вашими пожеланиями, изменив количество и&nbsp;вид штанг, тип наголовника, количество кабелей и&nbsp;зондов</b>.</p>
</div>
</div>