<div class="block"><div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/test-k4all.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-k4all_gs.jpg)" alt="Фото &#8470;1" title="Общий вид комплекта ТЕСТ-К4М"></div>
</a>
<div class="slide-text">Общий вид комплекта ТЕСТ-К4М</div>
</div>
<div class="slide">
<a href="/i/Certificate2021.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/Certificate2021_gs.jpg)" alt="Фото &#8470;2" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/CertificateBel2022.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/CertificateBel2022_gs.jpg)" alt="Фото &#8470;3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<p>В&nbsp;комплекте ТЕСТ-К4М используются цифровые тензометрические зонды А3/350&nbsp;и&nbsp;Т4/350.</p>
<p>Зонды А3/350&nbsp;имеют три канала измерения: сопротивление конуса <b>qc</b> (МПа), сопротивление грунта по&nbsp;муфте трения <b>fs</b> (кПа) и&nbsp;инклинометр <b>a</b> (°).</p>
<p>В&nbsp;соответствии с&nbsp;ГОСТ <nobr>19912&ndash;2021</nobr> п. 5.2.4: при испытании грунтов на&nbsp;глубину более 10&nbsp;м&nbsp;следует применять зонды оснащённые инклинометром, показания которого необходимо использовать для определения фактической глубины зондирования и&nbsp;предотвращения поломки зонда.</p>
<p>Зонды Т4/350&nbsp;имеют четыре канала измерения: сопротивление конуса <b>qc</b> (МПа), сопротивление грунта по&nbsp;муфте трения <b>fs</b> (кПа), инклинометр <b>a</b> (°) и&nbsp;температура грунта <b>t2</b> (конуса зонда °С).</p>
<p>Цифровые зонды А3/350&nbsp;и&nbsp;Т4/350&nbsp;имеют высокую точность измерений, термокомпенсацию и&nbsp;нормированные параметры для всех каналов. Передача данных в&nbsp;процессе работы осуществляется в&nbsp;цифровом виде.</p>
<p>В&nbsp;комплект ТЕСТ-К4М входят зонды исполнения 1&nbsp;-&nbsp;А<nobr>3&ndash;350&ndash;50</nobr>/20. Настройка зондов выполняется на&nbsp;предприятии-изготовителе: конус&nbsp;&mdash; 50&nbsp;МПа, муфта&nbsp;&mdash; 571&nbsp;кПа. Для работы в&nbsp;слабых грунтах поставляются зонды исполнения 2&nbsp;-&nbsp;А<nobr>3&ndash;350&ndash;25</nobr>/20, которые настраиваются по&nbsp;каналу &laquo;Конус&raquo;&nbsp;&mdash; 25&nbsp;МПа, по&nbsp;каналу &laquo;Муфта&raquo;&nbsp;&mdash; 571&nbsp;кПа. Каждый зонд имеет паспорт, в&nbsp;котором указаны номер зонда, значения настройки по&nbsp;каналу &laquo;Конус&raquo; и&nbsp;&laquo;Муфта&raquo;.</p>
<p><h4>Основные параметры цифровых зондов</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Тип зонда по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr></td>
<td>электрический</td>
</tr>
<tr>
<td>Диаметр основания конуса, мм</td>
<td>35,7</td>
</tr>
<tr>
<td>Угол при вершине, град</td>
<td>60</td>
</tr>
<tr>
<td>Диаметр муфты трения, мм</td>
<td>35,7</td>
</tr>
<tr>
<td>Длина муфты трения, мм</td>
<td>310</td>
</tr>
<tr>
<td>Площадь муфты трения, cм²</td>
<td>350</td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;конусу (исполнение 1), МПа</td>
<td>0,<nobr>05&ndash;50</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;конусу (исполнение 2), МПа</td>
<td>0,<nobr>025&ndash;25</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопр. грунта по&nbsp;муфте трения (исполнение 1), кПа</td>
<td>0,<nobr>6&ndash;571</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопр. грунта по&nbsp;муфте трения (исполнение 2), кПа</td>
<td>0,<nobr>6&ndash;571</nobr></td>
</tr>
<tr>
<td>Основная погрешность измерения удельного сопротивления грунта</td>
<td>не&nbsp;более 5%</td>
</tr>
<tr>
<td>Угол отклонения от&nbsp;вертикали, град</td>
<td><nobr>1&ndash;20</nobr></td>
</tr>
<tr>
<td>Диапазон измерения температуры грунта, °С</td>
<td>&mdash;&nbsp;20..+40</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p/>
<p>Регистрирующий прибор (<a href="/row/f825a4e5f6bedad0c6c2a97d84a00e63">контроллер ТЕСТ-К4М</a>)&nbsp;предназначен для индикации, сохранения и&nbsp;передачи результатов зондирования на&nbsp;персональный компьютер для последующей обработки. Контроллер оснащен USB интерфейсом для передачи данных в&nbsp;ПК&nbsp;и&nbsp;USB разъемом для записи данных на&nbsp;USB-флеш-диск.</p>
<p><h4>Технические характеристики контроллера ТЕСТ-К4М</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, Вольт</td>
<td><nobr>11&ndash;18</nobr></td>
</tr>
<tr>
<td>Потребляемый ток, А</td>
<td>0,5</td>
</tr>
<tr>
<td>Время выхода в&nbsp;раб. режим, мин</td>
<td>2</td>
</tr>
<tr>
<td>Ёмкость памяти, кБайт</td>
<td>64</td>
</tr>
<tr>
<td>Время хранения результатов, год</td>
<td>1</td>
</tr>
<tr>
<td>Диапазон рабочих температур, С°</td>
<td>&mdash;&nbsp;20..+40</td>
</tr>
<tr>
<td>Габаритные размеры, мм</td>
<td>200x100x40</td>
</tr>
<tr>
<td>Масса прибора, кг</td>
<td>0,5</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p/>
<p>Прибор защищен от&nbsp;недопустимой полярности питающего напряжения.</p>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>При вдавливании зонда, механическое воздействие грунта на&nbsp;тензодинамометры вызывает дебаланс полумостов. Электронный блок, расположенный внутри зонда, усиливает, оцифровывает и&nbsp;кондиционирует сигналы датчиков, которые в&nbsp;цифровом формате по&nbsp;кабелю передаются к&nbsp;измерительному прибору (контроллеру ТЕСТ-К4М). На&nbsp;дисплее, расположенном на&nbsp;лицевой панели прибора, показания изменяются пропорционально воздействиям на&nbsp;датчики зонда. Результаты зондирования сохраняются в&nbsp;памяти контроллера.</p>
<p>Полный комплект имеет в&nbsp;своём составе четырёхканальный контроллер ТЕСТ-К4М и&nbsp;Блок Связи БС-3, которые являются друг для друга резервными приборами.</p>
<p>Комплект ТЕСТ-К4М может работать в&nbsp;двух вариантах.</p>
<p><b>Вариант 1. ЦИФРОВОЙ ЗОНД&nbsp;&mdash; КОНТРОЛЛЕР ТЕСТ-К4М</b></p>
<p>Контроллер ТЕСТ-К4М имеет четыре основных режима работы:</p>
<ul>
<li>РАБОЧИЙ РЕЖИМ (запись данных зондирования в&nbsp;ОЗУ);</li>
<li>РЕЖИМ ПЕРЕДАЧИ ДАННЫХ зондирования в&nbsp;компьютер;</li>
<li>РЕЖИМ ЗАПИСИ ДАННЫХ на&nbsp;USB-ФЛЕШ-ДИСК;</li>
<li>СЕРВИСНЫЙ РЕЖИМ.</li>
</ul>
<p>На&nbsp;передней панели контроллера расположены: дисплей и&nbsp;клавиатура с&nbsp;цифрами и&nbsp;вспомогательными символами. На&nbsp;верхней стенке контроллера расположены разъемы для подключения питания, зонда и&nbsp;радиокнопки. На&nbsp;боковой стенке прибора расположены разъёмы для подключения USB-кабеля и&nbsp;Флеш-диска. После включения, контроллер переходит в&nbsp;меню выбора режима работы. При выборе меню пункта РАБОЧИЙ РЕЖИМ контроллер проводит диагностику измерительного тракта и&nbsp;зонда. После ввода параметров опыта (номер, шаг отсчетов и&nbsp;глубина зондирования), текущие отсчеты сохраняются в&nbsp;контроллере при нажатии любой цифровой клавиши на&nbsp;панели прибора (<nobr>1&ndash;9</nobr>)&nbsp;или дистанционно посредством <a href="/row/18fd8fcdd92e1904173a627f59ed3286">Радиокнопки РК-11</a>.</p>
<p>При выборе режима ПЕРЕДАЧИ ДАННЫХ, данные передаются в&nbsp;компьютер для последующей обработки.</p>
<p>В&nbsp;СЕРВИСНОМ РЕЖИМЕ контроллера можно выполнить:</p>
<ul>
<li>замену шрифта отображаемой информации на&nbsp;экране;</li>
<li>установку времени и&nbsp;даты;</li>
<li>удаление из&nbsp;контроллера обработанных данных зондирования;</li>
<li>регистрацию термозонда.</li>
</ul>
<p><b>Вариант 2. ЦИФРОВОЙ ЗОНД&nbsp;&mdash; БЛОК СВЯЗИ&nbsp;&mdash; ПК</b></p>
<p>В&nbsp;таком варианте, данные зондирования передаются в&nbsp;программу обработки на&nbsp;ПК&nbsp;и&nbsp;транслируются на&nbsp;мониторе в&nbsp;цифровом и&nbsp;графическом формате. Такой вариант предпочтителен при работе на&nbsp;специализированных зондировочных установках, где отсчёты снимаются автоматически с&nbsp;заданным шагом, но&nbsp;возможна и&nbsp;запись отсчётов посредством дистанционной кнопки.</p>
<p>В&nbsp;процессе работы настройка зондов при замене не&nbsp;требуется, т.к. все зонды имеют нормированные параметры. При работе на&nbsp;зондировочных установках, предусмотрено подключение <a href="/row/e03afb3ae07c913bf025d5f287635775">Формирователя Отсчетов</a>. В&nbsp;этом случае, сохранение отсчетов происходит автоматически по&nbsp;командам формирователя отсчетов с&nbsp;любым шагом из&nbsp;ряда: 2.5,  5,  10&nbsp;и&nbsp;20&nbsp;см.</p>
<p>При работе с&nbsp;комплектом ТЕСТ-К4М мы&nbsp;рекомендуем использовать <a href="/complect/&#x411;&#x41F;&#x414;">комплект бескабельной передачи данных зондирования БПД1</a>.</p>
<p>Для обработки результатов используется программа <a href="/row/36fed9043c61c0cc475f47971ca6479e">GeoExplorer</a>.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szTEST-K4M.pdf" target="_blank">Комплект ТЕСТ-К4М (PDF)</a></p>
</div><div class="block"><h2><span>Публикации</span></h2>
<p><a href="/docs/ii03_test.pdf" target="_blank">Комплекты оборудования для статического зондирования грунтов серии ТЕСТ</a>. Инженерные изыскания. Апрель 2008.</p>
</div><div class="block"><p><b>Ниже указана базовая комплектация, которую вы&nbsp;можете заказать в&nbsp;соответствии с&nbsp;вашими пожеланиями, изменив количество и&nbsp;вид штанг, тип наголовника, количество кабелей и&nbsp;зондов</b>.</p>
</div><div class="block"><order/>
</div>