<div class="block"><p>Комплект ТЕСТ-12&nbsp;является модификацией <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;2&#x41C;">комплекта ТЕСТ-К2М</a>.</p>
<p>В&nbsp;его состав, входит <a href="/row/86b0a23d2f0b1fbd8d160f3963440ba5">Контроллер ТЕСТ-12</a>, который обладает всеми основными функциями <a href="/row/08f86d3e493e1eb35766d016632147b5">контроллера ТЕСТ-К2М</a>, но&nbsp;контроллер ТЕСТ-12&nbsp;имеет более удобный пользовательский интерфейс и дополнительные полезные опции.</p>
<p>Во-первых, расширенный рабочий температурный диапазон (-30&nbsp;до&nbsp;+40&nbsp;градусов), что позволяет работать при отрицательных температурах до&nbsp;минус 25&nbsp;градусов и&nbsp;более высокое разрешение шкалы прибора&nbsp;&mdash; 1000&nbsp;единиц.</p>
<p><b>Во-вторых</b>, он&nbsp;имеет возможность сохранения в памяти тарировочных параметров пяти зондов, что позволяет при работе менять зонды по номеру без настройки комплекта.</p>
<p>И&nbsp;в-третьих, на&nbsp;дисплее контроллера результаты зондирования могут быть представлены в&nbsp;графическом виде.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/test-12.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-12_gs.jpg)" alt="Фото №1" title="Общий вид комплекта ТЕСТ-12"></div>
</a>
<div class="slide-text">Общий вид комплекта ТЕСТ-12</div>
</div>
<div class="slide">
<a href="/i/szkK12_2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szkK12_2_gs.jpg)" alt="Фото №2" title="Общий вид комплекта контроллера ТЕСТ-12"></div>
</a>
<div class="slide-text">Общий вид комплекта контроллера ТЕСТ-12</div>
</div>
<div class="slide">
<a href="/i/Certificate2017.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/Certificate2017_gs.jpg)" alt="Фото №3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/Certificate2017b.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/Certificate2017b_gs.jpg)" alt="Фото №4" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/CertificateTEST.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/CertificateTEST_gs.jpg)" alt="Фото №5" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики и&nbsp;работа с&nbsp;комплектом ТЕСТ-12</span></h2>
<p>В&nbsp;комплекте ТЕСТ-12&nbsp;используются аналоговые зонды А2/350, как и&nbsp;в&nbsp;комплекте ТЕСТ-К2М. В&nbsp;Техническом описании к&nbsp;комплекту ТЕСТ-К2М, приведены их&nbsp;основные параметры. Зонды А2/350&nbsp;калибруются на&nbsp;предприятии&nbsp;&mdash; изготовителе. В&nbsp;Паспорте зонда указаны номер и&nbsp;значения калибровки по&nbsp;каналам конус и&nbsp;муфта, которые до&nbsp;работы, вносятся в&nbsp;память контроллера ТЕСТ-12. Прибор может хранить данные калибровки пяти зондов и&nbsp;при замене зонда, следует выбрать лишь его номер.</p>
<p><a href="/row/86b0a23d2f0b1fbd8d160f3963440ba5">Контроллер ТЕСТ-12</a> имеет технические характеристики, аналогичые контроллеру ТЕСТ-К2М, за&nbsp;исключением диапазона рабочих температур. Пользовательский интерфейс, как и&nbsp;СПО контроллера ТЕСТ-12, в&nbsp;основном, совпадают с&nbsp;контроллером ТЕСТ-К2М, а&nbsp;особенности работы, описаны в&nbsp;Руководстве Пользователя к&nbsp;комплекту ТЕСТ-12. При работе Оператор имеет возможность наблюдать за показаниями по каналам в виде условных единиц (шкала <nobr>0&ndash;999</nobr>), или в виде физических величин. Помимо цифровых значений, на экране, для наглядности, высвечиваются горизонтальные аналоговые шкалы показаний по&nbsp;конусу и&nbsp;муфте зонда.</p>
<p>В комплект ТЕСТ-12&nbsp;входит резервный прибор ТЕСТ-АМ, который используется при выходе из&nbsp;строя основного прибора ТЕСТ-12. Для обработки результатов используется программа <a href="/row/36fed9043c61c0cc475f47971ca6479e">GeoExplorer</a>.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szTEST-12.pdf" target="_blank">Комплект ТЕСТ-12&nbsp;(PDF)</a></p>
</div><div class="block"><p><b>Ниже указана базовая комплектация, которую вы&nbsp;можете заказать в&nbsp;соответствии с&nbsp;вашими пожеланиями, изменив количество и&nbsp;вид штанг, тип наголовника, количество кабелей и&nbsp;зондов</b>.</p>
</div>
</div>