<div class="block"><p>Комплект ТЕСТ-12&nbsp;является модификацией <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&nbsp;&#x41A;2&#x41C;">комплекта ТЕСТ-К2М</a>.</p>
<p>В&nbsp;его состав, входит <a href="/row/86b0a23d2f0b1fbd8d160f3963440ba5">Контроллер ТЕСТ-12</a>, который обладает всеми основными функциями <a href="/row/08f86d3e493e1eb35766d016632147b5">контроллера ТЕСТ-К2М</a>, но&nbsp;контроллер ТЕСТ-12&nbsp;имеет более удобный пользовательский интерфейс и&nbsp;дополнительные полезные опции.</p>
<p>Во-первых, расширенный рабочий температурный диапазон (-&nbsp;30&nbsp;до&nbsp;+40&nbsp;градусов), что позволяет работать при отрицательных температурах до&nbsp;минус 25&nbsp;градусов и&nbsp;более высокое разрешение шкалы прибора&nbsp;&mdash; 1000&nbsp;единиц.</p>
<p>Во-вторых, он&nbsp;имеет возможность сохранения в&nbsp;памяти тарировочных параметров пяти зондов, что позволяет при работе менять зонды по&nbsp;номеру без настройки комплекта.</p>
<p>И&nbsp;в-третьих, на&nbsp;дисплее контроллера результаты зондирования могут быть представлены в&nbsp;графическом виде.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/test-12.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-12_gs.jpg)" alt="Фото &#8470;1" title="Общий вид комплекта ТЕСТ-12"></div>
</a>
<div class="slide-text">Общий вид комплекта ТЕСТ-12</div>
</div>
<div class="slide">
<a href="/i/szkK12_2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szkK12_2_gs.jpg)" alt="Фото &#8470;2" title="Общий вид комплекта контроллера ТЕСТ-12"></div>
</a>
<div class="slide-text">Общий вид комплекта контроллера ТЕСТ-12</div>
</div>
<div class="slide">
<a href="/i/Certificate2021.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/Certificate2021_gs.jpg)" alt="Фото &#8470;3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/CertificateBel2022.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/CertificateBel2022_gs.jpg)" alt="Фото &#8470;4" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики и&nbsp;работа с&nbsp;комплектом ТЕСТ-12</span></h2>
<p>В&nbsp;зондах А2/350&nbsp;не&nbsp;установлен инклинометр. В&nbsp;соответствии с&nbsp;ГОСТ <nobr>19912&ndash;2021</nobr> п. 5.2.4: при испытании грунтов на&nbsp;глубину более 10&nbsp;м&nbsp;следует применять зонды оснащённые инклинометром, показания которого необходимо использовать для определения фактической глубины зондирования и&nbsp;предотвращения поломки зонда. При необходимости зондирования на&nbsp;глубину более 10&nbsp;м&nbsp;рекомендуем использовать <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&nbsp;&#x41A;4&#x41C;">комплект К4М</a>.</p>
<p>В&nbsp;комплекте ТЕСТ-12&nbsp;используются аналоговые зонды А2/350, как и&nbsp;в&nbsp;комплекте ТЕСТ-К2М. В&nbsp;Техническом описании к&nbsp;комплекту ТЕСТ-К2М, приведены их&nbsp;основные параметры. Зонды А2/350&nbsp;настраиваются на&nbsp;предприятии&nbsp;&mdash; изготовителе. В&nbsp;Паспорте зонда указаны номер и&nbsp;значения настроек по&nbsp;каналам конус и&nbsp;муфта, которые до&nbsp;работы, вносятся в&nbsp;память контроллера ТЕСТ-12. Прибор может хранить данные настройки пяти зондов и&nbsp;при замене зонда, следует выбрать лишь его номер.</p>
<p><a href="/row/86b0a23d2f0b1fbd8d160f3963440ba5">Контроллер ТЕСТ-12</a> имеет технические характеристики, аналогичые контроллеру ТЕСТ-К2М, за&nbsp;исключением диапазона рабочих температур. Пользовательский интерфейс, как и&nbsp;СПО контроллера ТЕСТ-12, в&nbsp;основном, совпадают с&nbsp;контроллером ТЕСТ-К2М, а&nbsp;особенности работы, описаны в&nbsp;Руководстве Пользователя к&nbsp;комплекту ТЕСТ-12. При работе Оператор имеет возможность наблюдать за&nbsp;показаниями по&nbsp;каналам в&nbsp;виде условных единиц (шкала <nobr>0&ndash;999</nobr>), или в&nbsp;виде физических величин. Помимо цифровых значений, на&nbsp;экране, для наглядности, высвечиваются горизонтальные аналоговые шкалы показаний по&nbsp;конусу и&nbsp;муфте зонда.</p>
<p>Для обработки результатов используется программа <a href="/row/36fed9043c61c0cc475f47971ca6479e">GeoExplorer</a>.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szTEST-12.pdf" target="_blank">Комплект ТЕСТ-12&nbsp;(PDF)</a></p>
</div><div class="block"><p><b>Ниже указана базовая комплектация, которую вы&nbsp;можете заказать в&nbsp;соответствии с&nbsp;вашими пожеланиями, изменив количество и&nbsp;вид штанг, тип наголовника, количество кабелей и&nbsp;зондов</b>.</p>
</div><div class="block"><order/>
</div>