<div class="block"><p>Универсальный Блок УБ1&nbsp;является универсальным устройством, используется вместо контроллеров ТЕСТ-ПРК и&nbsp;ТЕСТ-ШВК при проведении испытаний грунтов прессиометрами ПЭВ-89МК и&nbsp;штампами ШВ60, ШП20&nbsp;в&nbsp;соответствии с&nbsp;ГОСТ 20276.1&nbsp;и&nbsp;ГОСТ 20276.2. Испытания проводятся в&nbsp;полуавтоматическом режиме.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/UB1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/UB1_gs.jpg)" alt="Фото &#8470;1" title="Внешний вид Универсального Блока УБ1"></div>
</a>
<div class="slide-text">Внешний вид Универсального Блока УБ1</div>
</div>
<div class="slide">
<a href="/i/UB2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/UB2_gs.jpg)" alt="Фото &#8470;2" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/UB3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/UB3_gs.jpg)" alt="Фото &#8470;3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/UB4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/UB4_gs.jpg)" alt="Фото &#8470;4" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/UB5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/UB5_gs.jpg)" alt="Фото &#8470;5" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания</td>
<td>12±1,0&nbsp;В</td>
</tr>
<tr>
<td>Ток потребления, не&nbsp;более </td>
<td>0,12&nbsp;А</td>
</tr>
<tr>
<td>Параметры совместимых преобразователей физических величин: </td>
<td></td>
</tr>
<tr>
<td>два электронных преобразователя напряжение питания</td>
<td>5,00±0,20&nbsp;В</td>
</tr>
<tr>
<td>ток потребления, не&nbsp;более </td>
<td>10&nbsp;А</td>
</tr>
<tr>
<td>тип выхода</td>
<td>ратиометрический </td>
</tr>
<tr>
<td>один дифференциальный дроссель напряжение питания</td>
<td>3,3±0,1&nbsp;В&nbsp;(RMS)</td>
</tr>
<tr>
<td>частота питания</td>
<td>10,0±1,0&nbsp;кГц</td>
</tr>
<tr>
<td>индуктивность, не&nbsp;менее</td>
<td>5&nbsp;мГн</td>
</tr>
<tr>
<td>один термометр сопротивления, подключение</td>
<td>четырёхпроводное</td>
</tr>
<tr>
<td>измерительный ток</td>
<td>250±7&nbsp;мкА</td>
</tr>
<tr>
<td>НХС </td>
<td>Pt100</td>
</tr>
<tr>
<td>Параметры последовательного канала: </td>
<td></td>
</tr>
<tr>
<td>спецификация</td>
<td>EIA/TIA-232E</td>
</tr>
<tr>
<td>скорость</td>
<td>115200&nbsp;бод</td>
</tr>
<tr>
<td>тип соединителя</td>
<td>DB9F </td>
</tr>
<tr>
<td>Диапазон рабочих температур</td>
<td>&mdash;&nbsp;20..+40&nbsp;°С</td>
</tr>
<tr>
<td>Габаритные размеры</td>
<td>173х107х42&nbsp;мм</td>
</tr>
<tr>
<td>Масса комплекта, не&nbsp;более </td>
<td>0,58&nbsp;кг</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>Устройство Универсальный Блок УБ1&nbsp;имеет метал­лический корпус, три разъёма РС7&nbsp;(А, В, С), разъём внешнего питания JX16&nbsp;(12V), разъём RS-232&nbsp;для подключения Bluetooth адаптера. </p>
<p>Так же&nbsp;на&nbsp;задней панели прибора имеется световой индикатор, который в&nbsp;штатной работе устройства выполняет редкое переключение с&nbsp;красного цвета на&nbsp;жёлтый. </p>
<p>Устройство Универсальный Блок осуществляет при­ём и&nbsp;усиление аналоговых сигналов от&nbsp;Измерителей Э, и&nbsp;датчика пневматического давления, расположенного в&nbsp;пневмомагистрали (в&nbsp;случае работы с&nbsp;комплектами ШВ60+КРП1&nbsp;и&nbsp;ШП20+КРП1/ВД), приём и&nbsp;усиление аналоговых сигналов от&nbsp;датчиков перемещений, распо­ложенных в&nbsp;зонде прессиометра, и&nbsp;датчика пневмати­ческого давления, расположенного в&nbsp;пневмомагистра­ли прессиометра (в&nbsp;случае работы с&nbsp;прессиометром электровоздушным ПЭВ-89МК). </p>
<p>Выполняет оцифровку сигналов и&nbsp;транслирует результаты измерений по&nbsp;бескабельному каналу в&nbsp;программу Pneumator для представления, сохранения и&nbsp;последующей обработки опытных данных.</p>
<p>Взаимодействие Универсального Блока УБ1&nbsp;и&nbsp;ПК&nbsp;осуществляется по&nbsp;двустороннему радиоканалу Bluetooth. </p>
<p>Для корректной работы комплекта, совместно с&nbsp;ап­паратурой, поставляется файл тарировочных пара­метров для конкретного оборудования. Данный файл изначально установлен на&nbsp;ноутбук, который входит в&nbsp;состав комплекта. </p>
<p>При испытаниях Универсальный Блок УБ1, через разъём B, подключается к&nbsp;Измерителям Э&nbsp;(в&nbsp;слу­чае работы с&nbsp;комплектами ШВ60+КРП1&nbsp;и&nbsp;ШП20+ КРП1/ВД), либо через разъём А&nbsp;к&nbsp;зонду прессиометра (в&nbsp;случае работы с&nbsp;прессиометром электровоздуш­ным ПЭВ-89МК). </p>
<p>В&nbsp;процессе испытаний, в&nbsp;режиме реального времени, Универсальный Блок УБ1&nbsp;транслирует результаты из­мерений по&nbsp;радиоканалу Bluetooth на&nbsp;удалённый ПК&nbsp;для сохранения и&nbsp;последующей обработки. </p>
<p>Наблюдение за&nbsp;ходом испытания в&nbsp;режиме реально­го времени позволяет внести изменения в&nbsp;параметры испытания, например: увеличить количество ступеней нагрузки, скорректировать предельное давление или незамедлительно перейти к&nbsp;режиму разгрузки, а&nbsp;так же&nbsp;экстренно завершить испытание в&nbsp;случае нештатной ситуации. </p>
<p>После завершения опыта программа Pneumator позво­ляет обработать результаты испытаний в&nbsp;соответствии с&nbsp;ГОСТ 20276.<nobr>1&ndash;2020</nobr> и&nbsp;ГОСТ 20276.<nobr>2&ndash;2020</nobr> и&nbsp;сформиро­вать отчёты по&nbsp;результатам испытаний.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/UB.pdf" target="_blank">Универсальный Блок УБ1&nbsp;(PDF)</a></p>
</div>