<div class="expand">
    <div class="expand-title">
        <i></i>
        <span>Согласие на&nbsp;обработку персональных данных</span>
    </div>
    <div class="expand-text">
        <div class="block">
            <p>Настоящим в&nbsp;соответствии с&nbsp;Федеральным законом &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных
                данных&raquo; от&nbsp;27.07.2006 года свободно, своей волей и&nbsp;в&nbsp;своем интересе выражаю свое
                безусловное согласие на&nbsp;обработку моих персональных данных АО&nbsp;&laquo;Геотест&raquo; (далее по&nbsp;тексту&nbsp;&mdash;
                Оператор), зарегистрированным в&nbsp;соответствии с&nbsp;законодательством&nbsp;РФ по&nbsp;адресу:<br/>
                620137, г. Екатеринбург, ул. Шефская, 2Г.</p>

            <p>Персональные данные&nbsp;&mdash; любая информация, относящаяся к&nbsp;определенному или определяемому на&nbsp;основании
                такой информации физическому лицу.</p>
            <p>Настоящее Согласие выдано мною на&nbsp;обработку следующих персональных данных:</p>
            <ul>
                <li>Телефон;</li>
                <li>Фамилия, имя, отчество;</li>
                <li>Название организации;</li>
                <li>Email;</li>
                <li>Почтовый индекс;</li>
                <li>Адрес доставки или место получения;</li>
            </ul>
        </div>

        <div class="block">
            <p>Согласие дано Оператору для совершения следующих действий с&nbsp;моими персональными данными с&nbsp;использованием
                средств автоматизации и/или без использования таких средств: сбор, систематизация, накопление, хранение,
                уточнение (обновление, изменение), использование, обезличивание, а&nbsp;также осуществление любых иных
                действий, предусмотренных действующим законодательством&nbsp;РФ как неавтоматизированными, так и&nbsp;автоматизированными
                способами.</p>

            <p>Данное согласие дается Оператору для обработки моих персональных данных в&nbsp;следующих целях:</p>
            <ul>
                <li>поставка товара;</li>
                <li>направление в&nbsp;мой адрес уведомлений, касающихся поставки товара;</li>
                <li>подготовка и&nbsp;направление ответов на&nbsp;мои запросы;</li>
                <li>направление в&nbsp;мой адрес информации, в&nbsp;том числе рекламной, о&nbsp;мероприятиях/товарах/услугах/работах
                    Оператора.
                </li>
            </ul>
        </div>

        <div class="block">
            <p>Настоящее согласие действует до&nbsp;момента его отзыва путем направления соответствующего уведомления на&nbsp;электронный
                адрес 1@geotest.ru. В&nbsp;случае отзыва мною согласия на&nbsp;обработку персональных данных Оператор
                вправе продолжить обработку персональных данных без моего согласия при наличии оснований, указанных в&nbsp;пунктах
                2&nbsp;&mdash; 11&nbsp;части 1&nbsp;статьи&nbsp;6, части 2&nbsp;статьи 10&nbsp;и&nbsp;части 2&nbsp;статьи
                11&nbsp;Федерального закона &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных данных&raquo; от&nbsp;27.06.2006&nbsp;г.</p>
        </div>
    </div>
</div>
