{% extends 'base.html.twig' %}
{% block content %}
<div class="content-row">
    <div class="content-column-left"></div>
    <div class="content-column-center">
        <h1>Уважаемые коллеги!</h1>

        <p>Основной профиль АО &laquo;Геотест&raquo;&nbsp;&mdash; разработка и&nbsp;выпуск оборудования и&nbsp;аппаратуры для полевых исследований грунтов при иженерно-геологических изысканиях.</p>

        <p>В&nbsp;номенклатуру продукции входят:</p>

        <ul>
            <li>оборудование для статического и динамического зондирования грунтов,</li>
            <li>оборудование для прессиометрических и штамповых испытаний,</li>
            <li>ручное буровое оборудование,</li>
            <li>программное обеспечение для хранения и обработки результатов испытаний.</li>
        </ul>

        <p>Выпускаемая аппаратура соответствует ГОСТ <span class="text-nowrap">19912-2012</span> (с изм. №1 от 01.09.2019) и&nbsp;ГОСТ <span class="text-nowrap">20276-2020,</span> имеет <a href="/i/Certificate2021.jpg"
                                                                                                                                                                                             target="_blank">сертификат</a> об&nbsp;утверждении типа средств измерений Федерального Агентства по&nbsp;техническому регулированию и&nbsp;метрологии и&nbsp;допущена к&nbsp;применению в&nbsp;Российской Федерации.</p>

        <p>С&nbsp;уважением и&nbsp;наилучшими пожеланиями<br>
            Главный Специалист АО &laquo;Геотест&raquo;<br>
            к.т.н. Е. Л. Пылаев.</p>

        <h3>Контактная информация</h3>

        <table cellpadding="0" cellspacing="0" width="100%" id="about">
            <colgroup>
                <col width="50%">
                <col width="50%">
            </colgroup>
            <tr>
                <td>
                    <div><strong>Адрес</strong></div>
                    <p>620137, г.Екатеринбург, ул.Шефская, 2г</p>
                </td>
                <td>
                    <div><strong>Телефоны</strong></div>
                    <p><span class="phone text-nowrap">+7 343 368-75-77</span><br>
                        <span class="phone text-nowrap">+7 343 383-64-73</span><br>
                        <span class="phone text-nowrap">+7 343 385-77-53</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <div><strong>Почтовый адрес</strong></div>
                    <p>620137, Екатеринбург, а/я 80</p>
                </td>
                <td>
                    <div><strong>E-mail</strong></div>
                    <p><a href="mailto:1@geotest.ru">1@geotest.ru</a></p>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}