<div class="block"><p>Предназначена для обеспечения требуемой глубины погружения при проведении динамического зондирования грунтов.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/dzSht.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzSht_gs.jpg)" alt="Фото №1" title="Штанга для динамического зондирования Ø42х9, ст.40Х, длина 1м"></div>
</a>
<div class="slide-text">Штанга для динамического зондирования Ø42х9, ст.40Х, длина 1м</div>
</div>
<div class="slide">
<a href="/i/dzSht1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/dzSht1_gs.jpg)" alt="Фото №2" title="Штанга для динамического зондирования"></div>
</a>
<div class="slide-text">Штанга для динамического зондирования</div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/АДЗ">Адаптер динамического зондирования АДЗ-2</a></li></ul>
</div>