<div class="block"><p>Грунтоотборник предназначен для отбора проб грунтов ненарушенной структуры при ручном бурении геологических скважин. Внешний вид грунтоотборника показан на&nbsp;рисунке.</p>
<p>Грунтоотборник состоит из&nbsp;корпуса, длиной 145&nbsp;мм&nbsp;с&nbsp;внешним диаметром 65&nbsp;мм, и&nbsp;крышки с&nbsp;резьбой для соединения со&nbsp;штангами ручного бурового комплекта геолога. В&nbsp;грунтоотборнике размещаются пять <a href="/row/e1516bad74c667ec958680dda071ac9a">колец</a> (приобретаются отдельно) с&nbsp;внутренним диаметром 53&nbsp;мм, высотой 24&nbsp;мм, объёмом 53&nbsp;см³.</p>
<p>Для отбора проб грунтоотборник вдавливается (забивается) в&nbsp;забой скважины, затем извлекается на&nbsp;поверхность и&nbsp;разбирается.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/hGrunt2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hGrunt2_gs.jpg)" alt="Фото №1" title="Грунтоотборник Ø65мм, дл. 146мм в сборе"></div>
</a>
<div class="slide-text">Грунтоотборник Ø65мм, дл. 146мм в&nbsp;сборе</div>
</div>
<div class="slide">
<a href="/i/hGrunt1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hGrunt1_gs.jpg)" alt="Фото №2" title="Составные части Грунтоотборника Ø65мм, дл. 146мм"></div>
</a>
<div class="slide-text">Составные части Грунтоотборника Ø65мм, дл. 146мм</div>
</div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/КР">Сдвигомер-крыльчатка</a></li>
<li><a href="/complect/ПН">Ручной пенетрометр РП-1</a></li>
<li><a href="/complect/РБК">Ручной буровой комплект геолога</a></li></ul>
</div>