<div class="block"><p><a href="/row/c44b8b93157a668a9d22c4787ed1621f">Грунтоотборник Ø65x146</a>.</p>
<img src="/i/hKolc.jpg" alt="&#x41E;&#x431;&#x449;&#x438;&#x439; &#x432;&#x438;&#x434;."/>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/КР">Сдвигомер-крыльчатка</a></li>
<li><a href="/complect/ПН">Ручной пенетрометр РП-1</a></li>
<li><a href="/complect/РБК">Ручной буровой комплект геолога</a></li></ul>
</div>