<div class="block"><div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/hMet.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hMet_gs.jpg)" alt="Фото №1" title="Металлический ящик"></div>
</a>
<div class="slide-text">Металлический ящик</div>
</div>
<div class="slide">
<a href="/i/hMet1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hMet1_gs.jpg)" alt="Фото №2" title="Металлический ящик"></div>
</a>
<div class="slide-text">Металлический ящик</div>
</div>
</div>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/РБК">Ручной буровой комплект геолога</a></li></ul>
</div>