<div class="block"><div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/hSht.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hSht_gs.jpg)" alt="Фото №1" title="Ленточная резьба"></div>
</a>
<div class="slide-text">Ленточная резьба</div>
</div>
<div class="slide">
<a href="/i/hShtk.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hShtk_gs.jpg)" alt="Фото №2" title="Коническая резьба"></div>
</a>
<div class="slide-text">Коническая резьба</div>
</div>
<div class="slide">
<a href="/i/hKR1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hKR1_gs.jpg)" alt="Фото №3" title="Коническая резьба"></div>
</a>
<div class="slide-text">Коническая резьба</div>
</div>
<div class="slide">
<a href="/i/hKR2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hKR2_gs.jpg)" alt="Фото №4" title="Ленточная резьба"></div>
</a>
<div class="slide-text">Ленточная резьба</div>
</div>
</div>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/КР">Сдвигомер-крыльчатка</a></li>
<li><a href="/complect/ПН">Ручной пенетрометр РП-1</a></li>
<li><a href="/complect/РБК">Ручной буровой комплект геолога</a></li></ul>
</div>