<div class="block"><div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/hStak.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hStak_gs.jpg)" alt="Фото №1" title="Буровой стакан Ø73 мм, резьба коническая"></div>
</a>
<div class="slide-text">Буровой стакан Ø73&nbsp;мм, резьба коническая</div>
</div>
<div class="slide">
<a href="/i/hStak1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/hStak1_gs.jpg)" alt="Фото №2" title="Буровой стакан Ø73 мм, резьба ленточная"></div>
</a>
<div class="slide-text">Буровой стакан Ø73&nbsp;мм, резьба ленточная</div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/КР">Сдвигомер-крыльчатка</a></li>
<li><a href="/complect/ПН">Ручной пенетрометр РП-1</a></li>
<li><a href="/complect/РБК">Ручной буровой комплект геолога</a></li></ul>
</div>