<div class="block"><p>Комплект автоматизации пневматический КАП2&nbsp;предназначен для использования с&nbsp;прессиометрами
<a href="/complect/&#x41F;&#x42D;&#x412;">ПЭВ-89МК</a> и&nbsp;штампами
<a href="/complect/&#x428;&#x412;">ШВ60</a>. Комплект КАП2&nbsp;позволяет полностью автоматизировать процесс выполнения полевых испытаний грунтов прессиометрами
или штампами, сохранить и&nbsp;обработать результаты испытаний. Использование комплекта КАП2&nbsp;позволяет существенно снизить
трудоемкость, при проведении опытных полевых работ, и&nbsp;повысить достоверность результатов испытаний, за&nbsp;счет исключения
ошибок исполнителей при назначении параметров опыта и&nbsp;протоколировании результатов.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/KAP.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/KAP_gs.jpg)" alt="Фото №1" title="Общий вид комплекта"></div>
</a>
<div class="slide-text">Общий вид комплекта</div>
</div>
<div class="slide">
<a href="/i/KAP2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/KAP2_gs.jpg)" alt="Фото №2" title="Общий вид комплекта КАП2 с прессиометром ПЭВ-89МК"></div>
</a>
<div class="slide-text">Общий вид комплекта КАП2&nbsp;с&nbsp;прессиометром ПЭВ-89МК</div>
</div>
<div class="slide">
<a href="/i/SHW+KAP1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/SHW+KAP1_gs.jpg)" alt="Фото №3" title="Общий вид комплекта КАП2 со Штампом ШВ-60"></div>
</a>
<div class="slide-text">Общий вид комплекта КАП2&nbsp;со&nbsp;Штампом ШВ-60</div>
</div>
<div class="slide">
<a href="/i/KAP5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/KAP5_gs.jpg)" alt="Фото №4" title="Общий вид пневмоблока КАП2"></div>
</a>
<div class="slide-text">Общий вид пневмоблока КАП2</div>
</div>
<div class="slide">
<a href="/i/KAP1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/KAP1_gs.jpg)" alt="Фото №5" title="Рабочее окно программы обработки результатов испытаний Pneumator"></div>
</a>
<div class="slide-text">Рабочее окно программы обработки результатов испытаний Pneumator</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, В</td>
<td><nobr>10&ndash;15</nobr></td>
</tr>
<tr>
<td>Ток потребления, мА</td>
<td>300</td>
</tr>
<tr>
<td>Давление, кПа, не&nbsp;более</td>
<td>1000</td>
</tr>
<tr>
<td>Максимальное давление, кПа</td>
<td>1600</td>
</tr>
<tr>
<td>Температурный диапазон, °C</td>
<td>-20..+40</td>
</tr>
<tr>
<td>Интерфейс RS-232</td>
<td>1</td>
</tr>
<tr>
<td>Радиоинтерфейс Bluetooth 1.1&nbsp;(Class 2)</td>
<td>1</td>
</tr>
<tr>
<td>Общая масса комплекта, кг</td>
<td>10</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Пневмоблок</td>
<td>1</td>
</tr>
<tr>
<td>Нетбук с&nbsp;ПО&nbsp;&laquo;Рneumator&raquo;</td>
<td>1</td>
</tr>
<tr>
<td>Аккумуляторная батарея (12V/12Ah)</td>
<td>1</td>
</tr>
<tr>
<td>Зарядное устройство для аккумулятора (220/12V)</td>
<td>1</td>
</tr>
<tr>
<td>Автоадаптер питания для ноутбука</td>
<td>1</td>
</tr>
<tr>
<td>Комплект кабелей</td>
<td>4</td>
</tr>
<tr>
<td>Техническое описание и&nbsp;инструкция по&nbsp;эксплуатации</td>
<td>1</td>
</tr>
<tr>
<td>Программа Pneumator для обработки результатов испытаний</td>
<td>1</td>
</tr>
<tr>
<td>Тара для переноски и&nbsp;хранения комплекта</td>
<td>1</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Работа с&nbsp;прессиометром ПЭВ-89МК</span></h2>
<p>Для проведения испытания грунтов прессиометром <a href="/complect/&#x41F;&#x42D;&#x412;">ПЭВ-89МК</a> с&nbsp;комплектом КАП2, зонд прессиометра устанавливают в&nbsp;скважину на&nbsp;отметку испытания. В&nbsp;ресивер закачивают воздух до&nbsp;давления <nobr>600&ndash;1000</nobr> кПа. В&nbsp;соответствии с&nbsp;Руководством по&nbsp;эксплуатации, выполняют соединение пневмомагистрали прессиометра и&nbsp;ресивера с&nbsp;Пневмоблоком. Пневмоблок подключают к&nbsp;аккумуляторной батарее и&nbsp;устанавливают на&nbsp;стенд, вблизи точки испытания.</p>
<p>Нетбук, через адаптер, подключают к&nbsp;бортовой сети автомобиля или сети 220&nbsp;вольт. К&nbsp;USB-порту нетбука подключают модуль Bluetooth (либо используется проводной интерфейс RS&nbsp;232) и&nbsp;запускают ПО&nbsp;<a href="/complect/Pneumator">Рneumator</a>. Перед началом испытания, настраивают канал связи с&nbsp;КАП2, используя ПО&nbsp;для обеспечения стека беспроводной связи Bluetooth.</p>
<p>Нетбук можно располагать в&nbsp;пределах прямой видимости, на&nbsp;расстоянии не&nbsp;более 40&nbsp;метров от&nbsp;пневмоблока КАП2.</p>
<p>После установления соединения, в&nbsp;ПО&nbsp;<a href="/complect/Pneumator">Рneumator</a> задаются исходные данные для выполнения опыта, и&nbsp;запускается процедура его выполнения. В&nbsp;процессе проведения испытания, на&nbsp;мониторе, в&nbsp;режиме реального времени, в&nbsp;графическом и&nbsp;численном виде, отображаются результаты испытания, которые одновременно сохраняются в&nbsp;базе данных программы. После завершения опыта программа позволяет обработать опытные данные в&nbsp;соответствии с&nbsp;ГОСТ 20276.<nobr>2&ndash;2020</nobr> и&nbsp;подготовить отчёты по&nbsp;результатам испытаний.</p>
<p>В&nbsp;качестве резервного прибора, для выполнения прессиометрических испытаний, используется контроллер ТЕСТ-ПРК, который позволяет проводить опыты в&nbsp;полуавтоматическом режиме и&nbsp;передавать данные в&nbsp;программу <a href="/complect/Pneumator">Рneumator</a> для сохранения и&nbsp;последующей обработки.</p>
</div><div class="block"><h2><span>Работа в&nbsp;составе штампа ШВ60</span></h2>
<p>Комплект КАП2&nbsp;используется со&nbsp;штампом ШВ60&nbsp;только совместно с&nbsp;комплектом регистрации <a href="/row/2790f9c039db6d3e53b24911ae776c3c">КРП1</a>.</p>
<p>Для выполнения штампового опыта (штампы III и&nbsp;IV&nbsp;типов, площадью 600&nbsp;см.кв) с&nbsp;комплектом КАП2, выполняют установку штампа на&nbsp;отметку испытания, в&nbsp;соответствии с&nbsp;требованиями ГОСТ 20276.<nobr>2&ndash;2020</nobr>. Далее, выполняют монтаж анкерной и&nbsp;реперной систем, нагрузочного стола и&nbsp;пневмоцилиндра.</p>
<p>В&nbsp;ресивер закачивают воздух до&nbsp;давления <nobr>600&ndash;1000</nobr> кПа. На&nbsp;нагрузочном столе закрепляют измерители перемещений комплекта регистрации <a href="/row/2790f9c039db6d3e53b24911ae776c3c">КРП1</a> и&nbsp;соединяют их&nbsp;с&nbsp;пневмомагистралью. В&nbsp;соответствии с&nbsp;Руководством по&nbsp;эксплуатации, выполняют соединение пневмомагистрали и&nbsp;ресивера с&nbsp;Пневмоблоком. Пневмоблок подключают к&nbsp;аккумуляторной батарее и&nbsp;устанавливают на&nbsp;стенд вблизи точки испытания.</p>
<p>Нетбук, через адаптер, подключают к&nbsp;бортовой сети автомобиля или сети 220&nbsp;вольт. К&nbsp;USB-порту нетбука подключают модуль Bluetooth (либо используется проводной интерфейс RS&nbsp;232) и&nbsp;запускают ПО&nbsp;<a href="/complect/Pneumator">Рneumator</a>. Перед началом испытания настраивают канал связи с&nbsp;КАП2, используя ПО&nbsp;для обеспечения стека беспроводной связи Bluetooth.</p>
<p>Нетбук можно располагать в&nbsp;пределах прямой видимости, на&nbsp;расстоянии не&nbsp;более 40&nbsp;метров от&nbsp;пневмоблока КАП2.</p>
<p>После установления соединения, в&nbsp;ПО&nbsp;<a href="/complect/Pneumator">Рneumator</a> задаются исходные данные для выполнения опыта, и&nbsp;запускается процедура его выполнения. В&nbsp;процессе проведения испытания, на&nbsp;мониторе, в&nbsp;режиме реального времени, в&nbsp;графическом и&nbsp;численном виде отображаются результаты испытания, которые одновременно сохраняются в&nbsp;базе данных программы.</p>
<p>После завершения опыта, программа позволяет обработать опытные данные, в&nbsp;соответствии с&nbsp;ГОСТ 20276.<nobr>2&ndash;2020</nobr>, и&nbsp;подготовить отчёты по&nbsp;результатам испытаний. В&nbsp;качестве резервного прибора, для выполнения штамповых испытаний, используется контроллер ТЕСТ-ШВК, который позволяет проводить опыты в&nbsp;полуавтоматическом режиме и&nbsp;передавать данные в&nbsp;программу <a href="/complect/Pneumator">Рneumator</a> для сохранения и&nbsp;последующей обработки.</p>
<p>В&nbsp;период эксплуатации комплекта КАП2, не&nbsp;реже одного раза в&nbsp;месяц, требуется проведение контрольных испытаний, для проверки исправности измерительного тракта и&nbsp;герметичности нагрузочной системы. Контрольные испытания выполняются средствами комплекта КАП2.</p>
<p>Результаты испытаний обрабатываются по&nbsp;программе <a href="/complect/Pneumator">Pneumator</a> (входит в&nbsp;состав комплекта) в&nbsp;соответствии с&nbsp;ГОСТ 20276.<nobr>2&ndash;2020</nobr> и&nbsp;оформляются для прессиометра в&nbsp;виде Паспорта прессиометрическогоопыта, Графиков развития деформаций во&nbsp;времени и&nbsp;Протокола прессиометрического опыта. Для штампа: Паспорта штампового опыта, Графиков развития деформаций во&nbsp;времени и&nbsp;Протокола штампового опыта.</p>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ПЭВ">Электровоздушный радиальный прессиометр ПЭВ-89МК</a></li>
<li><a href="/complect/ПЭВ_КАП">Прессиометр ПЭВ-89МК с&nbsp;комплектом автоматизации КАП2</a></li>
<li><a href="/complect/ШВ">Штамп ШВ60</a></li>
<li><a href="/complect/ШВ_КАП">Штамп ШВ60&nbsp;с&nbsp;комплектом автоматизации КАП2</a></li></ul>
</div>