<div class="block"><p>Комплект КРП1&nbsp;используется в&nbsp;составе винтового штампа <a href="/complect/&#x428;&#x412;">ШВ60</a> и&nbsp;предназначен для проведения штамповых испытаний в&nbsp;полуавтоматическом режиме, в&nbsp;соответствии с&nbsp;требованиями ГОСТ 20276.<nobr>1&ndash;2020</nobr>.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/KRP.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/KRP_gs.jpg)" alt="Фото №1" title="Общий вид комплекта регистрации результатов штампового опыта КРП1"></div>
</a>
<div class="slide-text">Общий вид комплекта регистрации результатов штампового опыта КРП1</div>
</div>
<div class="slide">
<a href="/i/CertificateKRP.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/CertificateKRP_gs.jpg)" alt="Фото №2" title="Сертификат соответствия"></div>
</a>
<div class="slide-text">Сертификат соответствия</div>
</div>
<div class="slide">
<a href="/i/KRP1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/KRP1_gs.jpg)" alt="Фото №3" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
<div class="slide">
<a href="/i/KRP8.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/KRP8_gs.jpg)" alt="Фото №4" title="Прибор ТЕСТ-ШВК, шнуры, розетка"></div>
</a>
<div class="slide-text">Прибор ТЕСТ-ШВК, шнуры, розетка</div>
</div>
<div class="slide">
<a href="/i/KRP2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/KRP2_gs.jpg)" alt="Фото №5" title="Исходное положение измерителя Э с элементами крепления на нагрузочном столе штампа ШВ60"></div>
</a>
<div class="slide-text">Исходное положение измерителя Э&nbsp;с&nbsp;элементами крепления на&nbsp;нагрузочном столе штампа ШВ60</div>
</div>
<div class="slide">
<a href="/i/KRP3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/KRP3_gs.jpg)" alt="Фото №6" title="Общий вид комплекта регистрации результатов штампового опыта КРП1"></div>
</a>
<div class="slide-text">Общий вид комплекта регистрации результатов штампового опыта КРП1</div>
</div>
<div class="slide">
<a href="/i/KRP5.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/KRP5_gs.jpg)" alt="Фото №7" title="Исходное положение комплекта регистрации на нагрузочном столе штампа ШВ60"></div>
</a>
<div class="slide-text">Исходное положение комплекта регистрации на&nbsp;нагрузочном столе штампа ШВ60</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Максимальная осадка штампа, мм</td>
<td>80</td>
</tr>
<tr>
<td>Разрешение измерения осадки штампа, мм</td>
<td>0,01</td>
</tr>
<tr>
<td>Относительная погрешность измерения осадки штампа, %(не более)</td>
<td>2</td>
</tr>
<tr>
<td>Погрешность измерения давления, кПа</td>
<td>±2</td>
</tr>
<tr>
<td>Напряжение питания, В</td>
<td>12</td>
</tr>
<tr>
<td>Время непрерывной работы, час (не менее)</td>
<td>72</td>
</tr>
<tr>
<td>Интерфейс с&nbsp;ПК</td>
<td>RS-232, USB</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации, °С</td>
<td>-10..+40</td>
</tr>
<tr>
<td>Масса комплекта, кг</td>
<td>14</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Программа для обработки результатов испытаний Pneumator</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Контроллер ТЕСТ-ШВК</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Пневмомагистраль с&nbsp;датчиком давления</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Измерители перемещений с&nbsp;футляром</td>
<td>3&nbsp;шт</td>
</tr>
<tr>
<td>Аккумулятор с&nbsp;зарядным устройством</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Упаковочный ящик</td>
<td>3&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>Перед проведением испытания выполняют монтаж штампа винтового <a href="/complect/&#x428;&#x412;">ШВ60</a>, комплекта анкерного и&nbsp;КРП1&nbsp;в&nbsp;следующей последовательности:</p>
<ol>
<li>Посредством буровой установки, с&nbsp;забоя скважины завинчивают штамп на&nbsp;отметку испытания, используя в&nbsp;качестве ствола
обсадные трубы диаметром 127&nbsp;мм;</li>
<li>С&nbsp;помощью буровой установки, либо вручную, устанавливают винтовые анкеры и&nbsp;закрепляют основание комплекта анкерного;</li>
<li>Систему реперную со&nbsp;стойками, подвижными ригелями и&nbsp;столом размещают вокруг ствола штампа. На&nbsp;ствол штампа устанавливают
стол нагрузочный с&nbsp;пневмоцилиндром. Шток пневмоцилиндра упирают в&nbsp;балку комплекта анкерного;</li>
<li>Стол реперной системы позиционируют относительно пневмоцилиндра и&nbsp;устанавливают измерители перемещений</li>
<li>Пневмоцилиндр, контроллер, измерители перемещений и&nbsp;манометрическую головку соединяют между собой пневмомагистралью</li>
<li>В&nbsp;ресивер закачивают воздух до&nbsp;давления 0.<nobr>6&ndash;1</nobr>.0&nbsp;МПа и&nbsp;подключают контроллер к&nbsp;аккумулятору;</li>
<li>Размещают контроллер, аккумулятор и&nbsp;манометрическую головку в&nbsp;удобном для оператора месте, на&nbsp;расстоянии до&nbsp;10&nbsp;м&nbsp;от&nbsp;штампа.</li>
</ol>
<p>В&nbsp;начале испытания, в&nbsp;контроллер, вводят исходные данные опыта: номер опыта, глубину установки штампа, схему нагружения, вид грунта и&nbsp;его состояние.</p>
<p>На&nbsp;основании исходных данных, контроллер предлагает нагрузочные и&nbsp;временные параметры данного опыта, в&nbsp;соответствии
с&nbsp;ГОСТ 20276.<nobr>1&ndash;2020</nobr>. Оператор, при помощи редуктора манометрической головки, задает первую предложенную ступень нагрузки
и&nbsp;запускает программу выполнения опыта. При выдержке на&nbsp;ступени, давление поддерживается на&nbsp;заданном уровне манометрической
головкой, а&nbsp;контроллер проверяет выполнение критерия стабилизации и&nbsp;сохраняет необходимые данные, для последующей
передачи в&nbsp;ПК.&nbsp;После выполнения критерия стабилизации, оператор задает следующую, предложенную контроллером, ступень
нагрузки и&nbsp;продолжает опыт до&nbsp;его завершения.</p>
<p>Если предусмотрен режим разгрузки, то&nbsp;опыт продолжается и&nbsp;при снижении давления под штампом.</p>
<p>В&nbsp;процессе проведения опыта, давление в&nbsp;ресивере можно увеличить путем подкачки воздуха автомобильным насосом
или другим способом.</p>
<p>В&nbsp;период эксплуатации комплекта, не&nbsp;реже 1&nbsp;раза в&nbsp;месяц, требуется проведение контрольных испытаний, для проверки
исправности измерительного тракта и&nbsp;герметичности нагрузочной системы. Контрольные испытания не&nbsp;требуют наличия
дополнительного оборудования и&nbsp;могут проводиться в&nbsp;полевых условиях, с&nbsp;помощью составных элементов КРП1.</p>
<p>Для обработки результатов, используется программа <a href="/complect/Pneumator">Pneumator</a> (входит в&nbsp;состав комплекта).</p>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ШВ">Штамп ШВ60</a></li>
<li><a href="/complect/ШВ_КАП">Штамп ШВ60&nbsp;с&nbsp;комплектом автоматизации КАП2</a></li>
<li><a href="/complect/ШВ_КРП">Штамп ШВ60&nbsp;с&nbsp;комплектом регистрации КРП1</a></li>
<li><a href="/complect/ШВ_КРП#ШВ_КРП_БД">Штамп ШВ60&nbsp;+&nbsp;КРП1&nbsp;+&nbsp;Блок Давления БД-1</a></li>
<li><a href="/complect/ШП_КРП">Штамп ШП20&nbsp;с&nbsp;комплектом регистрации КРП1/ВД</a></li></ul>
</div>