<div class="block">
<div class="right">
<a href="/i/sA1.jpg" class="img"><img src="/i/sA1_r.jpg"  alt="Общий вид." title="Комплект A1"></a><div class="img-caption">Комплект A1</div><a href="/i/sA2.jpg" class="img"><img src="/i/sA2_r.jpg"  alt="Общий вид." title="Комплект A2"></a><div class="img-caption">Комплект A2</div><a href="/i/sA3.jpg" class="img"><img src="/i/sA3_r.jpg"  alt="Общий вид." title="Комплект A3"></a><div class="img-caption">Комплект A3</div>

</div>
<div class="center">
<p>Комплекты анкерные А1 , А2 и А3 предназначены для передачи на грунт реактивных усилий при проведении штамповых
			испытаний, они применяются совместно с винтовыми штампами
			<a href="/complect/&#x428;&#x412;">ШВ60</a>.</p>
<h4>Состав комплекта</h4>
<table cellspacing="0" cellpadding="0" border="0" class="spec"><tr><td class="col1"><div><span>Рама</span></div></td><td class="col2"></td></tr><tr><td class="col1"><div><span>Винтовые анкеры Ø 200 мм</span></div></td><td class="col2"></td></tr><tr><td class="col1"><div><span>Упоры</span></div></td><td class="col2"></td></tr><tr><td class="col1"><div><span>Замки</span></div></td><td class="col2"></td></tr><tr><td class="col1"><div><span>Переводники</span></div></td><td class="col2"></td></tr></table>
<h4>Общий вес комплекта</h4>
<table cellspacing="0" cellpadding="0" border="0" class="spec"><tr><td class="col1"><div><span>Комплект A1</span></div></td><td class="col2">140 кг</td></tr><tr><td class="col1"><div><span>Комплект A2</span></div></td><td class="col2">195 кг</td></tr><tr><td class="col1"><div><span>Комплект A3</span></div></td><td class="col2">252 кг</td></tr></table>
<p>Максимальное расчетное реактивное усилие 60 кН.</p>
<p>Расположение комплектов А1 , А2 и А3 относительно винтового штампа показано на рисунках. Максимальная величина
			реактивного усилия, передаваемого на грунт, винтовыми анкерами, определяется видом и состоянием грунта на месте
			испытаний, а также глубиной и способом установки анкеров.</p>
<p>Комплекты можно дополнить ручным устройством для завинчивания винтовых анкеров (ворот) и удлинителями ствола анкеров
			(
			<a href="/row/49">удлинитель А</a>).</p>
<p>Анкерный комплект монтируют, после установки винтового штампа, на отметку испытания. При монтаже комплекта выполняют
			планировку площадки, разметку точек погружения анкеров, завинчивание анкеров, с помощью буровой установки, либо
			вручную, и крепление рамы к анкерам, с помощью упоров и замков.</p>
<p>После монтажа комплекта анкерного, приступают к установке нагрузочного оборудования и реперной системы, для выполнения
			штампового опыта.</p>

</div>
</div>
<div class="clear"></div>
<h3 class="block-title">Добавить в&nbsp;заявку</h3>
<div class="block">
<?php include_partial('order', array('row' => $row, 'curr_group' => $curr_group, 'carving' => $carving)) ?>
</div>
<div class="block">
<div class="right">

</div>
<div class="center">
<order/>

</div>
</div>
<div class="clear"></div>
<h3 class="block-title">Применимость</h3>
<div class="block">
<div class="right">

</div>
<div class="center">
<div><a href="/complect/ШВ">Штамп ШВ60&nbsp;с&nbsp;пневматической нагрузочной системой</a></div>

</div>
</div>
<div class="clear"></div>
