<div class="block">
<p>Комплект анкерный А2&nbsp;предназначен для передачи на&nbsp;грунт реактивных усилий при проведении штамповых испытаний, они применяются совместно с&nbsp;винтовыми штампами
<a href="/complect/&#x428;&#x412;">ШВ60</a>.</p>
<img src="/i/sA2.jpg" alt="&#x41E;&#x431;&#x449;&#x438;&#x439; &#x432;&#x438;&#x434;."/>
</div>
<div class="block">
<h2><span>Состав комплекта</span></h2>
<table cellspacing="0" cellpadding="0" class="table spec">
<tr>
<td class="col57">Рама</td>
<td class="col43">1&nbsp;шт.</td>
</tr>
<tr>
<td class="col57">Балка Н</td>
<td class="col43">1&nbsp;шт.</td>
</tr>
<tr>
<td class="col57">Анкер Ø&nbsp;200x1500</td>
<td class="col43">3&nbsp;шт.</td>
</tr>
<tr>
<td class="col57">Упор</td>
<td class="col43">3&nbsp;шт.</td>
</tr>
<tr>
<td class="col57">Замки</td>
<td class="col43">3&nbsp;шт.</td>
</tr>
<tr>
<td class="col57">Переводники</td>
<td class="col43">2&nbsp;шт.</td>
</tr>
<tr>
<td class="col57">Удлинитель А</td>
<td class="col43">3&nbsp;шт.</td>
</tr>
<tr>
<td class="col57">Общий вес комплекта</td>
<td class="col43">210&nbsp;кг</td>
</tr>
</table>
</div>
<div class="block">
<p>Максимальное расчетное реактивное усилие 60&nbsp;кН.</p>
<p>Максимальная величина реактивного усилия, передаваемого на&nbsp;грунт, винтовыми анкерами, определяется видом и&nbsp;состоянием
грунта на&nbsp;месте испытаний, а&nbsp;также глубиной и&nbsp;способом установки анкеров.</p>
<p>Комплект можно дополнить ручным устройством для завинчивания винтовых анкеров (ворот) и&nbsp;удлинителями ствола анкеров
(<a href="/row/50">удлинитель А</a>).</p>
<p>Анкерный комплект монтируют, после установки винтового штампа, на&nbsp;отметку испытания. При монтаже комплекта выполняют
планировку площадки, разметку точек погружения анкеров, завинчивание анкеров, с&nbsp;помощью буровой установки, либо
вручную, и&nbsp;крепление рамы к&nbsp;анкерам, с&nbsp;помощью упоров и&nbsp;замков.</p>
<p>После монтажа комплекта анкерного, приступают к&nbsp;установке нагрузочного оборудования и&nbsp;реперной системы, для выполнения
штампового опыта.</p>
</div>
<div class="block">
<h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/sA123.pdf" target="_blank">Комплект анкерный А2&nbsp;(PDF)</a></p>
</div>
<div class="block">
<?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>
<div class="block">
<h2><span>Применимость</span></h2>
<ul class="usage">
<li><a href="/complect/ШВ">Штамп ШВ60</a></li>
</ul>
</div>
