<div class="block"><p>Комплект анкерный А4&nbsp;(далее комплект) предназначен для замыкания реактивных усилий на&nbsp;грузовые платформы с&nbsp;бетонными блоками при проведении штамповых испытаний согласно ГОСТ 20276.<nobr>1&ndash;2020</nobr>. Комплект может применяться совместно со&nbsp;штампами <a href="/complect/&#x428;&#x412;">ШВ-60</a> (III, IV&nbsp;типа), <a href="/complect/&#x428;&#x41F;">ШП-20</a> (I&nbsp;тип) производства АО&nbsp;&laquo;Геотест&raquo;. Для уточнения состава оборудования для выполнения испытаний необходимо связаться с&nbsp;АО&nbsp;&laquo;Геотест&raquo;.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/sA41.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sA41_gs.jpg)" alt="Фото №1" title="Внешний вид комплекта"></div>
</a>
<div class="slide-text">Внешний вид комплекта</div>
</div>
<div class="slide">
<a href="/i/sA42.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sA42_gs.jpg)" alt="Фото №2" title="Рекомендуемое расположение блоков"></div>
</a>
<div class="slide-text">Рекомендуемое расположение блоков</div>
</div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Рама ШП-20</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Платформа 100</td>
<td>2&nbsp;шт</td>
</tr>
<tr>
<td>Вспомогательное оборудование</td>
<td></td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Габаритные размеры, мм</td>
<td>4175х1620х1795</td>
</tr>
<tr>
<td>Общая масса комплекта, кг</td>
<td>1378</td>
</tr>
<tr>
<td>Маскимальное расчётное реактивное усилие 'вверх', кН</td>
<td>200</td>
</tr>
<tr>
<td>Маскимальное расчётное реактивное усилие 'вниз', кН</td>
<td>16</td>
</tr>
<tr>
<td>Механическая жёсткость вдоль оси ствола штампа, кН/мм</td>
<td>7±1</td>
</tr>
<tr>
<td>Коэффициент использования массы бетонных блоков</td>
<td>0,92</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><p>Конструкция комплекта анкерного А4&nbsp;предусматривает возможность непосредственного (без выполнения дополнительного настила по&nbsp;Раме) размещения на&nbsp;Платформах 100&nbsp;следующих типоразмеров сплошных блоков из&nbsp;тяжёлого бетона для стен и&nbsp;подвалов:</p>
<ul>
<li>ФБС24.6.<nobr>6-Т</nobr>&nbsp;ГОСТ <nobr>13579&ndash;78</nobr>; масса блока 1,96&nbsp;т; 12&nbsp;штук на&nbsp;комплект, не&nbsp;более;</li>
<li>ФБС24.4.<nobr>6-Т</nobr>&nbsp;ГОСТ <nobr>13579&ndash;78</nobr>; масса блока 1,30&nbsp;т; 18&nbsp;штук на&nbsp;комплект, не&nbsp;более;</li>
</ul>
<p>Комплект анкерный А4&nbsp;не&nbsp;требует специального ухода и&nbsp;может транспортироваться любым видом транспорта. Платформы 100&nbsp;могут транспортироваться в&nbsp;собранном виде, Рама ШП-20&nbsp;-&nbsp;только в&nbsp;разобранном виде.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/sA4.pdf" target="_blank">Комплект анкерный А4&nbsp;(PDF)</a></p>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ШГ">Штамп горячий ШП5000Т (ШП2500Т)</a></li>
<li><a href="/complect/ШП">Штамп ШП20</a></li>
<li><a href="/complect/ШП_КРП">Штамп ШП20&nbsp;с&nbsp;комплектом регистрации КРП1/ВД</a></li></ul>
</div>