<div class="block"><p>Комплект анкерный А5&nbsp;(далее комплект, платформа) предназначен для замыкания реактивных усилий на&nbsp;грузовую платформу с&nbsp;бетонными блоками при проведении штамповых испытаний согласно ГОСТ 20276.<nobr>1&ndash;2020</nobr> и&nbsp;ГОСТ <nobr>5686&ndash;94</nobr> (в&nbsp;части испытаний статическим вдавливанием сваи). Комплект может применяться совместно со&nbsp;штампами <a href="/complect/&#x428;&#x412;">ШВ-60</a> (III, IV&nbsp;типа), <a href="/complect/&#x428;&#x41F;">ШП-20</a> (I&nbsp;тип) производства АО&nbsp;&laquo;Геотест&raquo;. Для уточнения состава оборудования для выполнения испытаний необходимо связаться c&nbsp;АО&nbsp;&laquo;Геотест&raquo;.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/sA51.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sA51_gs.jpg)" alt="Фото №1" title="Внешний вид комплекта"></div>
</a>
<div class="slide-text">Внешний вид комплекта</div>
</div>
<div class="slide">
<a href="/i/sA52.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sA52_gs.jpg)" alt="Фото №2" title="Рекомендуемое расположение блоков"></div>
</a>
<div class="slide-text">Рекомендуемое расположение блоков</div>
</div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Платформа 400</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Комплект крепёжных изделий</td>
<td></td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Габаритные размеры, мм</td>
<td>5000х2030х1800</td>
</tr>
<tr>
<td>Общая масса комплекта, кг</td>
<td>1133</td>
</tr>
<tr>
<td>Маскимальные расчётные реактивное усилие, кН</td>
<td>400</td>
</tr>
<tr>
<td>Механическая жёсткость вдоль оси ствола штампа, кН/мм</td>
<td>27±2</td>
</tr>
<tr>
<td>Количество фланцевых соединений</td>
<td>12</td>
</tr>
<tr>
<td>Общее количество болтовых соединений</td>
<td>68</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><p>Конструкция комплекта анкерного А5&nbsp;предусматривает возможность непосредственного (без выполнения дополнительного настила) размещения на&nbsp;Платформе 400&nbsp;следующих типо-размеров сплошных блоков из&nbsp;тяжёлого бетона для стен и&nbsp;подвалов:</p>
<ul>
<li>ФБС24.6.<nobr>6-Т</nobr>&nbsp;ГОСТ <nobr>13579&ndash;78</nobr>; масса блока 1,96&nbsp;т; 24&nbsp;штуки на&nbsp;комплект, не&nbsp;более;</li>
<li>ФБС24.4.<nobr>6-Т</nobr>&nbsp;ГОСТ <nobr>13579&ndash;78</nobr>; масса блока 1,30&nbsp;т; 32&nbsp;штуки на&nbsp;комплект, не&nbsp;более;</li>
</ul>
<p>Комплект анкерный А5&nbsp;не&nbsp;требует специального ухода и&nbsp;может транспортироваться любым видом транспорта. Платформа 400&nbsp;может транспортироваться в&nbsp;собранном виде (без бетонных блоков) волочением на&nbsp;незначительные расстояния.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/sA5.pdf" target="_blank">Комплект анкерный А5&nbsp;(PDF)</a></p>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ШГ">Штамп горячий ШП5000Т (ШП2500Т)</a></li>
<li><a href="/complect/ШП">Штамп ШП20</a></li>
<li><a href="/complect/ШП_КРП">Штамп ШП20&nbsp;с&nbsp;комплектом регистрации КРП1/ВД</a></li></ul>
</div>