<div class="block"><p>Адаптер ВД&nbsp;используется в&nbsp;комплекте <a href="/complect/&#x428;&#x41F;_&#x41A;&#x420;&#x41F;">Штамп ШП20</a> совместно с&nbsp;комплектом регистрации КРП.&nbsp;Адаптер ВД&nbsp;предназначен для преобразования гидравлического давления в&nbsp;электрический сигнал.</p>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Габаритные размеры, мм</td>
<td>90х130х150</td>
</tr>
<tr>
<td>Масса, кг</td>
<td>1,07&nbsp;</td>
</tr>
<tr>
<td>Тип гидравлических соединителей</td>
<td>БРСК 6, БРСМ 6</td>
</tr>
<tr>
<td>Преобразователь давления:</td>
<td></td>
</tr>
<tr>
<td>•&nbsp;диапазон полной шкалы, МПа</td>
<td>55</td>
</tr>
<tr>
<td>•&nbsp;напряжение питания, В</td>
<td>5,0</td>
</tr>
<tr>
<td>•&nbsp;диапазон выходного напряжения, В</td>
<td>0,5&#133;4,5</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа</span></h2>
<p>Для подключения к&nbsp;гидролинии Адаптер снаряжен быстроразъемными соединителями (БРС). Электрический соединитель Преобразователя давления расположен под Крышкой.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/sAdapVD.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sAdapVD_gs.jpg)" alt="Фото №1" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ШП_КРП">Штамп ШП20&nbsp;с&nbsp;комплектом регистрации КРП1/ВД</a></li></ul>
</div>