<div class="block"><p>Переводник 127/146&nbsp;состоит из&nbsp;двух частей, которые служат для сопряжения штампа с&nbsp;обсадной трубой Ø146&nbsp;и&nbsp;обсадной трубы Ø146&nbsp;с&nbsp;нагрузочным столом. Общий вес комплекта 15&nbsp;кг.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/sPerev.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sPerev_gs.jpg)" alt="Фото №1" title="Переводники 127/146 (комплект)"></div>
</a>
<div class="slide-text">Переводники 127/146&nbsp;(комплект)</div>
</div>
<div class="slide">
<a href="/i/sPerev2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sPerev2_gs.jpg)" alt="Фото №2" title="Переводник, соединяющий штамп (тип III или IV) с трубой Ø146"></div>
</a>
<div class="slide-text">Переводник, соединяющий штамп (тип III или IV) с&nbsp;трубой Ø146</div>
</div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ШВ">Штамп ШВ60</a></li></ul>
</div>