<div class="block"><p>Удлинитель А&nbsp;предназначен для увеличения глубины погружения анкера Ø&nbsp;200&nbsp;(см. комплект анкерный <a href="/row/b2ab6a097c122600c7a16a2f2a18f15d">А1</a>, А2, <a href="/row/3dfb78393acb77782db985b987ce8744">А3</a>).</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/sUdl.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sUdl_gs.jpg)" alt="Фото №1" title="Общий вид."></div>
</a>
<div class="slide-text">Общий вид.</div>
</div>
<div class="slide">
<a href="/i/sUdl1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sUdl1_gs.jpg)" alt="Фото №2" title="Общий вид."></div>
</a>
<div class="slide-text">Общий вид.</div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ШВ">Штамп ШВ60</a></li></ul>
</div>