<div class="block"><p>Используется при работе с&nbsp;буровыми установками типа УРБ-2А2. Предназначена для исключения возможности искривления и&nbsp;излома колонны зондировочных штанг. Длина анкерной сваи 2,8&nbsp;м.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szAnkSv2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szAnkSv2_gs.jpg)" alt="Фото №1" title="Анкерная свая Ø350мм"></div>
</a>
<div class="slide-text">Анкерная свая Ø350мм</div>
</div>
<div class="slide">
<a href="/i/szAnkSv.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szAnkSv_gs.jpg)" alt="Фото №2" title="Вилка анкерной сваи"></div>
</a>
<div class="slide-text">Вилка анкерной сваи</div>
</div>
</div>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-12">Комплект ТЕСТ-12</a></li>
<li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li>
<li><a href="/complect/ТЕСТ-К4U">Комплект ТЕСТ-К4&nbsp;CPTU</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4Б">Комплект ТЕСТ-К4&nbsp;Б</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4БПД">Комплект ТЕСТ-К4+БПД1</a></li>
<li><a href="/complect/ТЕСТ-К4М">Комплект ТЕСТ-К4М</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4У">Комплект ТЕСТ-К4&nbsp;У</a></li></ul>
</div>