<div class="block"><p>Предназначен для трансляции данных от&nbsp;зонда в&nbsp;ПК&nbsp;для сохранения и&nbsp;обработки. При этом, все параметры
процесса зондирования отображаются на&nbsp;мониторе ПК.</p>
<p>В&nbsp;Блок Связи БС-3&nbsp;встроена дистанционная кнопка. Поэтому данные можно ввести нажатием кнопки &laquo;ПУСК&raquo;
на&nbsp;панели прибора, или нажатием на&nbsp;кнопку брелока.</p>
<p>К&nbsp;Блоку Связи БС-3&nbsp;возможно подключение <a href="/row/500c420bced17fee546be72d13167872">Формирователя Отсчетов</a>. В
этом случае, сохранение отсчетов происходит автоматически по&nbsp;командам формирователя отсчетов
с&nbsp;любым шагом из&nbsp;ряда: 2.5,  5,  10&nbsp;и&nbsp;20&nbsp;см.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szBlokS2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szBlokS2_gs.jpg)" alt="Фото №1" title="Общий вид"></div>
</a>
<div class="slide-text">Общий вид</div>
</div>
<div class="slide">
<a href="/i/szBlokS3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szBlokS3_gs.jpg)" alt="Фото №2" title="Ориентация крышки для настольной работы"></div>
</a>
<div class="slide-text">Ориентация крышки для настольной работы</div>
</div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-К4U">Комплект ТЕСТ-К4&nbsp;CPTU</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4БПД">Комплект ТЕСТ-К4+БПД1</a></li>
<li><a href="/complect/ТЕСТ-К4М">Комплект ТЕСТ-К4М</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4У">Комплект ТЕСТ-К4&nbsp;У</a></li></ul>
</div>