<div class="block"><p>Желонка Т&nbsp;(далее изделие, Желонка) предназначена для зачистки забоя скважины, обсаженной трубами
диаметром 325&nbsp;мм, перед постановкой <a href="/complect/&#x428;&#x412;">штампа</a> типа III ГОСТ 20276.<nobr>1&ndash;2020</nobr>.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/sZelonka1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sZelonka1_gs.jpg)" alt="Фото №1" title="Общий вид."></div>
</a>
<div class="slide-text">Общий вид.</div>
</div>
<div class="slide">
<a href="/i/sZelonka2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/sZelonka2_gs.jpg)" alt="Фото №2" title="Общий вид."></div>
</a>
<div class="slide-text">Общий вид.</div>
</div>
</div>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Внешний диаметр, мм</td>
<td>299</td>
</tr>
<tr>
<td>Масса, кг</td>
<td>30,9</td>
</tr>
<tr>
<td>Полезный объем, л</td>
<td>15,5</td>
</tr>
<tr>
<td>Диапазон температур эксплуатации и&nbsp;хранения, °C</td>
<td>−40..+80</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа</span></h2>
<p>Желонка представляет собой полый сварной корпус, снаряженный скребками и&nbsp;соединительным терминалом.
При вращении Желонки скребки обеспечивают забор грунта, а&nbsp;резино-тканевые клапаны удерживают
его во&nbsp;внутренней полости.</p>
<p>Для сопряжения изделия с&nbsp;колонной буровых труб рекомендуется применять Переводники (входят в&nbsp;<a href="/complect/&#x428;&#x412;">комплект ШВ60</a>).</p>
<p>Зачистка забоя происходит при поступательно-вращательном внедрении изделия в&nbsp;грунт.</p>
<p>Для погружения Желонки до&nbsp;забоя и&nbsp;её&nbsp;подъема на&nbsp;поверхность используется колонна буровых труб.</p>
<p>Зачистка выполняется в&nbsp;несколько приемов периодическим извлечением Желонки на&nbsp;поверхность для
очистки внутренней полости изделия от&nbsp;срезанного грунта.</p>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ШВ">Штамп ШВ60</a></li></ul>
</div>