<div class="block">
<p>Регистрирующий прибор (контроллер ТЕСТ-К4) предназначен для индикации, сохранения и&nbsp;передачи результатов зондирования
на&nbsp;персональный компьютер для последующей обработки.</p>
<p>Контроллер имеет функции самодиагностики измерительного тракта.</p>
<div class="pslider__wrapper">
<!--<div class="pslider__title"><span class="pslider__title__txt"></span><span class="pslider__title__counter"></span></div>-->
<div class="pslider__photos__wrapper"><div class="navi_left" style="display: none;"></div><div class="navi_right"></div>
<!--<div class="navi_left"></div><div class="navi_right"></div>-->
<div class="pslider__photos__list"><div class="item active" data-pslider-pos="1"><i class="exp"><a href="/i/test-k42.jpg" target="_blank"></a></i><a href="/i/test-k42.jpg" target="_blank"><img src="/i/test-k42_gs.jpg" alt="Фото №1" title="Контроллер ТЕСТ-К4, шнуры, розетка"></a></div><div class="item" data-pslider-pos="2"><i class="exp"><a href="/i/test-k41.jpg" target="_blank"></a></i><a href="/i/test-k41.jpg" target="_blank"><img src="/i/test-k41_gs.jpg" alt="Фото №2" title="Контроллер ТЕСТ-К4"></a></div><div class="item" data-pslider-pos="3"><i class="exp"><a href="/i/szBlokP.jpg" target="_blank"></a></i><a href="/i/szBlokP.jpg" target="_blank"><img src="/i/szBlokP_gs.jpg" alt="Фото №3" title="Блок питания 220/12В"></a></div><div class="item" data-pslider-pos="4"><i class="exp"><a href="/i/szRoz.jpg" target="_blank"></a></i><a href="/i/szRoz.jpg" target="_blank"><img src="/i/szRoz_gs.jpg" alt="Фото №4" title="Розетка специальная 12В"></a></div></div>
</div>
<!--<div class="pslider__photoDesc"></div>--></div>
<table cellspacing="0" cellpadding="0" class="table spec">
<tr>
<td class="col57">Напряжение питания, Вольт</td>
<td class="col43"><nobr>11&ndash;18</nobr></td>
</tr>
<tr>
<td class="col57">Потребляемый ток, А</td>
<td class="col43">0,5</td>
</tr>
<tr>
<td class="col57">Время выхода в&nbsp;раб. режим, мин</td>
<td class="col43">2</td>
</tr>
<tr>
<td class="col57">емкость памяти, кБайт</td>
<td class="col43">32</td>
</tr>
<tr>
<td class="col57">Время хранения результатов, год</td>
<td class="col43">1</td>
</tr>
<tr>
<td class="col57">Диапазон рабочих температур, С°</td>
<td class="col43">-20..+40</td>
</tr>
<tr>
<td class="col57">Габаритные размеры, мм</td>
<td class="col43">200x100x40</td>
</tr>
<tr>
<td class="col57">Масса прибора, кг</td>
<td class="col43">0,5</td>
</tr>
</table>
<p>Прибор защищен от&nbsp;недопустимой полярности питающего напряжения.</p>
</div>
<div class="block">
<h2><span>Устройство и&nbsp;работа</span></h2>
<p>Контроллер ТЕСТ-К4&nbsp;имеет четыре основных режима работы:</p>
<ul>
<li>рабочий режим (запись данных зондирования в&nbsp;ОЗУ);</li>
<li>режим передачи данных зондирования в&nbsp;компьютер;</li>
<li>режим записи данных на&nbsp;USB-ФЛЕШ-ДИСК;</li>
<li>режим очистки памяти.</li>
</ul>
<p>На&nbsp;передней панели измерительного прибора расположены: дисплей и&nbsp;пять кнопок управления. На&nbsp;верхней
стенке контроллера расположены разъемы для подключения питания, зонда и&nbsp;радиокнопки.</p>
<p>После подачи питания, контроллер проводит самодиагностику, и&nbsp;автоматически переходит в&nbsp;РАБОЧИЙ
РЕЖИМ.
</p>
<p>В&nbsp;РАБОЧЕМ РЕЖИМЕ, после ввода параметров опыта (номер, шаг отсчетов и&nbsp;глубина зондирования), текущие
отсчеты сохраняются в&nbsp;контроллере при нажатии кнопки &laquo;ПУСК&raquo;. Одновременно, они распечатываются
на&nbsp;минипринтере. Управлять контроллером для записи данных зондирования можно при помощи
<a href="/row/18fd8fcdd92e1904173a627f59ed3286">Радиокнопки РК-11</a>.</p>
<p>При выборе оператором, режима ПЕРЕДАЧИ ДАННЫХ, данные передаются в&nbsp;компьютер для последующей обработки.</p>
<p>Режим ОЧИСТКИ ПАМЯТИ предусмотрен для удаления из&nbsp;контроллера обработанных данных зондирования.</p>
<p>К&nbsp;контроллеру предусмотрено подключение <a href="/row/500c420bced17fee546be72d13167872">Формирователя Отсчетов</a>.
В&nbsp;этом случае, сохранение отсчетов происходит автоматически по&nbsp;командам формирователя отсчетов
с&nbsp;любым шагом из&nbsp;ряда: 2.5,  5,  10&nbsp;и&nbsp;20&nbsp;см.</p>
</div>
<div class="block">
<?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>
<div class="block">
<h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-К4U">Комплект ТЕСТ-К4&nbsp;CPTU</a></li>
<li><a href="/complect/ТЕСТ-К4Б">Комплект ТЕСТ-К4&nbsp;Б</a></li>
<li><a href="/complect/ТЕСТ-К4БПД">Комплект ТЕСТ-К4+БПД1</a></li>
<li><a href="/complect/ТЕСТ-К4М">Комплект ТЕСТ-К4М</a></li></ul>
</div>
