<div class="block"><p>Контроллер ТЕСТ-12&nbsp;(в&nbsp;дальнейшем контроллер) предназначен для измерения сигнала с&nbsp;зондов типа А<nobr>2&ndash;350</nobr> в&nbsp;процессе статического зондирования грунтов, в&nbsp;соответствии с&nbsp;требованиями ГОСТ <nobr>19912&ndash;2012</nobr>, и&nbsp;передачи данных на&nbsp;персональный компьютер для последующей обработки.</p>
<p>Контроллер выполнен в&nbsp;виде двухканального усилителя с&nbsp;цифровым выходом, блока хранения и&nbsp;передачи данных на&nbsp;ПК.&nbsp;Прибор обеспечивает измерение нагрузок тензодатчиков зондов с&nbsp;разрешающей способностью 1000&nbsp;единиц, что соответствует цене деления 0,05&nbsp;МПа по&nbsp;каналу &laquo;Конус&raquo; и&nbsp;0,57&nbsp;кПа по&nbsp;каналу &laquo;Муфта&raquo; для зондов исполнения 1&nbsp;(для зондов исполнения 2&nbsp;соответственно 0,025&nbsp;МПа по&nbsp;каналу &laquo;конус&raquo; и&nbsp;0,57&nbsp;кПа по&nbsp;каналу &laquo;муфта&raquo;).</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szkK12_2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szkK12_2_gs.jpg)" alt="Фото №1" title="Общий вид комплекта контроллера ТЕСТ-12"></div>
</a>
<div class="slide-text">Общий вид комплекта контроллера ТЕСТ-12</div>
</div>
<div class="slide">
<a href="/i/szkK12_1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szkK12_1_gs.jpg)" alt="Фото №2" title="Порты контроллера ТЕСТ-12"></div>
</a>
<div class="slide-text">Порты контроллера ТЕСТ-12</div>
</div>
<div class="slide">
<a href="/i/szkK12_3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szkK12_3_gs.jpg)" alt="Фото №3" title="Дисплей контроллера ТЕСТ-12"></div>
</a>
<div class="slide-text">Дисплей контроллера ТЕСТ-12</div>
</div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа</span></h2>
<p>На&nbsp;передней панели контроллера расположен дисплей и&nbsp;плёночная клавиатура с&nbsp;цифрами и&nbsp;вспомогательными символами. На&nbsp;верхней и&nbsp;боковой стенке контроллера расположены разъемы для внешнего питания, для подключения минипринтера и&nbsp;радиокнопки, для подключения зонда, кабеля USB и&nbsp;флеш-диска.</p>
<p>Для подключения прибора к&nbsp;бортовой сети при работе в&nbsp;полевых условиях служит кабель питания (напряжение питания должно находиться в&nbsp;пределах <nobr>11&ndash;18</nobr> вольт). При работе в&nbsp;лабораторных условиях (режим передачи данных на&nbsp;персональный компьютер) питание прибора осуществляется от&nbsp;сети 220&nbsp;Вольт через блок питания, который так же
подключается к&nbsp;прибору через разъём внешнего питания.</p>
<p>При вдавливании зонда в&nbsp;грунт изменение сопротивления тензодатчиков фиксируется измерительным прибором, показания которого пропорциональны усилиям, действующим на&nbsp;зонд. Оператор имеет возможность наблюдать за&nbsp;показаниями по&nbsp;каналам в&nbsp;виде условных единиц (шкала <nobr>0&ndash;999</nobr>), или в&nbsp;виде физических величин. Помимо цифровых обозначений, на&nbsp;экране, для наглядности, высвечиваются горизонтальные аналоговые шкалы.</p>
<p>Контроллер ТЕСТ-12&nbsp;имеет четыре основных режима работы:</p>
<ul>
<li>рабочий режим (запись данных зондирования в&nbsp;ОЗУ);</li>
<li>вывод данных (передача данных зондирования в&nbsp;ПК&nbsp;через USB интерфейс);</li>
<li>режим сохранения данных зондирования на&nbsp;USB-флеш-диск;</li>
<li>сервисный режим.</li>
</ul>
<p><h4>Технические характеристики контроллера ТЕСТ-12.</h4></p>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, Вольт</td>
<td><nobr>11&ndash;18</nobr></td>
</tr>
<tr>
<td>Потребляемый ток, А</td>
<td>2,5</td>
</tr>
<tr>
<td>Количество измерительных каналов</td>
<td>2</td>
</tr>
<tr>
<td>Время выхода в&nbsp;раб. режим, мин</td>
<td>2</td>
</tr>
<tr>
<td>емкость памяти, кБайт</td>
<td>32*</td>
</tr>
<tr>
<td>Интерфейс передачи данных</td>
<td>USB 2.0</td>
</tr>
<tr>
<td>Время хранения результатов, год</td>
<td>1</td>
</tr>
<tr>
<td>Цена деления канала Конус (исполнение 1), МПа </td>
<td>0,05</td>
</tr>
<tr>
<td>Цена деления канала Конус (исполнение 2), МПа </td>
<td>0,025</td>
</tr>
<tr>
<td>Цена деления канала Муфта, кПа </td>
<td>0,57</td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;конусу, МПа</td>
<td>0,<nobr>05&ndash;50</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопр. грунта по&nbsp;муфте трения, кПа</td>
<td>0,<nobr>6&ndash;571</nobr></td>
</tr>
<tr>
<td>Диапазон рабочих температур, С°</td>
<td>-30..+50</td>
</tr>
<tr>
<td>Габаритные размеры, мм</td>
<td>200x100x40</td>
</tr>
<tr>
<td>Масса прибора, кг</td>
<td>0,5</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>*&nbsp;Памяти прибора достаточно для регистрации 10000&nbsp;нажатий на&nbsp;клавишу &laquo;Пуск&raquo;. Это соответствует 100&nbsp;точкам зондирования (глубиной 20&nbsp;метров, с&nbsp;шагом 10&nbsp;см), или 200&nbsp;точкам (глубиной 20&nbsp;метров, с&nbsp;шагом 20&nbsp;см).</p>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-12">Комплект ТЕСТ-12</a></li></ul>
</div>