<div class="block"><p>Регистрирующий прибор (контроллер ТЕСТ-К4М) предназначен для индикации, сохранения и&nbsp;передачи результатов зондирования на&nbsp;персональный компьютер для последующей обработки.</p>
<p>Контроллер имеет функции самодиагностики измерительного тракта, контроля временных параметров процесса зондирования и&nbsp;дистанционного управления.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/kontr-k4m.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/kontr-k4m_gs.jpg)" alt="Фото №1" title="Контроллер ТЕСТ-К4М"></div>
</a>
<div class="slide-text">Контроллер ТЕСТ-К4М</div>
</div>
<div class="slide">
<a href="/i/kontr-k4m-cab.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/kontr-k4m-cab_gs.jpg)" alt="Фото №2" title=&raquo;&raquo;></div>
</a>
<div class="slide-text"></div>
</div>
</div>
<br/>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, Вольт</td>
<td><nobr>11&ndash;18</nobr></td>
</tr>
<tr>
<td>Потребляемый ток, А</td>
<td>0,5</td>
</tr>
<tr>
<td>Время выхода в&nbsp;раб. режим, мин</td>
<td>2</td>
</tr>
<tr>
<td>емкость памяти, кБайт</td>
<td>32</td>
</tr>
<tr>
<td>Время хранения результатов, год</td>
<td>1</td>
</tr>
<tr>
<td>Диапазон рабочих температур, С°</td>
<td>-20..+40</td>
</tr>
<tr>
<td>Габаритные размеры, мм</td>
<td>200x100x40</td>
</tr>
<tr>
<td>Масса прибора, кг</td>
<td>0,5</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
<p>Прибор защищен от&nbsp;недопустимой полярности питающего напряжения.</p>
</div><div class="block"><h2><span>Устройство и&nbsp;работа</span></h2>
<p>Контроллер ТЕСТ-К4М имеет четыре основных режима работы:</p>
<ul>
<li>рабочий режим (запись данных зондирования в&nbsp;ОЗУ);</li>
<li>режим передачи данных зондирования в&nbsp;компьютер;</li>
<li>режим сохранения данных на&nbsp;USB-диске;</li>
<li>сервисный режим.</li>
</ul>
<p>На&nbsp;передней панели измерительного прибора расположен дисплей и&nbsp;клавиатура с&nbsp;цифрами и&nbsp;вспомогательными символами. На&nbsp;верхней и&nbsp;боковых стенках контроллера расположены разъёмы:</p>
<ul>
<li>для питания прибора;</li>
<li>для подключения радиокнопки и&nbsp;минипринтера;</li>
<li>для подключения кабеля зонда;</li>
<li>разъёмы для кабеля USB и&nbsp;Флеш-диска.</li>
</ul>
<p>В&nbsp;тестовом режиме контроллер проводит диагностику зонда и, в&nbsp;случае обнаружения неисправностей, даёт рекомендации по&nbsp;их&nbsp;устранению.</p>
<p>В&nbsp;рабочем режиме после ввода параметров опыта (номер, шаг отсчётов и&nbsp;начальная глубина зондирования), текущие отсчёты сохраняются в&nbsp;контроллере при нажатии любой цифровой клавиши (<nobr>1&ndash;9</nobr>)&nbsp;на&nbsp;панели прибора (или <a href="/row/18fd8fcdd92e1904173a627f59ed3286">Радиокнопки РК-11</a>).</p>
<p>В&nbsp;процессе зондирования опытные данных сохраняются в&nbsp;контроллере Тест-К4М.</p>
<p>Объём памяти 32&nbsp;кБайта позволяет сохранять результаты до&nbsp;3000&nbsp;метров зондирования.</p>
<p>После выхода контроллера в&nbsp;режим &laquo;Передача данных&raquo;, и&nbsp;по&nbsp;запросу программы <a href="/row/36fed9043c61c0cc475f47971ca6479e">GeoExplorer</a> данные передаются в&nbsp;компьютер для последующей обработки.</p>
<p>Так же&nbsp;данные могут быть переданы на&nbsp;флеш-диск. Процедура передачи информации происходит автоматически, после перехода в&nbsp;соответствующий режим контроллера.</p>
<p>В&nbsp;&laquo;Сервисном режиме&raquo; контроллера можно выполнить:</p>
<ul>
<li>замену шрифта отображаемой информации на&nbsp;экране;</li>
<li>установку времени и&nbsp;даты;</li>
<li>удаление из&nbsp;контроллера обработанных данных зондирования;</li>
<li>регистрацию термозонда.</li>
</ul>
<p>При работе аппаратуры в&nbsp;составе специализированной зондировочной установки сохранение отсчётов происходит автоматически, по&nbsp;командам <a href="/row/500c420bced17fee546be72d13167872">Формирователя Отсчетов</a>, с&nbsp;любым шагом из&nbsp;ряда: 2,5,  5,  10&nbsp;и&nbsp;20&nbsp;см.</p>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-К4U">Комплект ТЕСТ-К4&nbsp;CPTU</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4Б">Комплект ТЕСТ-К4&nbsp;Б</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4БПД">Комплект ТЕСТ-К4+БПД1</a></li>
<li><a href="/complect/ТЕСТ-К4М">Комплект ТЕСТ-К4М</a></li></ul>
</div>