<div class="block"><p>Регистрирующий, двухканальный измерительный прибор ТЕСТ-К2М, предназначен для преобразования дебаланса тензометрических
полумостов зонда в&nbsp;цифровые значения, хранения результатов зондирования и&nbsp;передачи на&nbsp;персональный компьютер для
последующей обработки.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/test-k2m2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-k2m2_gs.jpg)" alt="Фото №1" title="Измерительный прибор ТЕСТ-К2М"></div>
</a>
<div class="slide-text">Измерительный прибор ТЕСТ-К2М</div>
</div>
<div class="slide">
<a href="/i/test-k2m4.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-k2m4_gs.jpg)" alt="Фото №2" title="Измерительный прибор ТЕСТ-К2М, шнуры, розетка"></div>
</a>
<div class="slide-text">Измерительный прибор ТЕСТ-К2М, шнуры, розетка</div>
</div>
</div>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, Вольт</td>
<td><nobr>11&ndash;18</nobr></td>
</tr>
<tr>
<td>Потребляемый ток, А</td>
<td>0,5</td>
</tr>
<tr>
<td>Количество измерительных каналов</td>
<td>2</td>
</tr>
<tr>
<td>Время выхода в&nbsp;раб. режим, мин</td>
<td>2</td>
</tr>
<tr>
<td>Емкость памяти, кБайт</td>
<td>32</td>
</tr>
<tr>
<td>Интерфейс передачи данных</td>
<td>RS-232&nbsp;(USB 2.0)</td>
</tr>
<tr>
<td>Время хранения результатов, год</td>
<td>1</td>
</tr>
<tr>
<td>Диапазон рабочих температур, С°</td>
<td>-10..+40</td>
</tr>
<tr>
<td>Габаритные размеры, мм</td>
<td>200x100x40</td>
</tr>
<tr>
<td>Масса прибора, кг</td>
<td>0,5</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа</span></h2>
<p>Показания цифровых индикаторов, расположенных на&nbsp;лицевой панели прибора, изменяются пропорционально
усилию, действующему на&nbsp;конус и&nbsp;муфту трения зонда.</p>
<p>Регистрирующий прибор (контроллер ТЕСТ-К2М) выполнен в&nbsp;виде двухканального усилителя с&nbsp;цифровым выходом, блоком хранения и&nbsp;передачи данных в&nbsp;компьютер (RS-232, USB 2.0).</p>
<p>Контроллер ТЕСТ-К2М имеет четыре основных режима работы:</p>
<ul>
<li>режим калибровки тензометрических зондов;</li>
<li>рабочий режим (запись данных зондирования в&nbsp;ОЗУ);</li>
<li>режим передачи данных зондирования в&nbsp;компьютер;</li>
<li>режим очистки памяти;</li>
</ul>
<p>На&nbsp;передней панели измерительного прибора расположены: ЖК-дисплей и&nbsp;пять кнопок управления. На&nbsp;боковых
стенках контроллера расположены разъемы для подключения прибора к&nbsp;бортовой сети, подключения тензометрического
зонда, подключения кабеля связи и&nbsp;USB разъемы.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/test-k2m3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/test-k2m3_gs.jpg)" alt="Фото №1" title="Разъемы прибора ТЕСТ-К2М"></div>
</a>
<div class="slide-text">Разъемы прибора ТЕСТ-К2М</div>
</div>
</div>
<p>После включения прибора, контроллер переходит в&nbsp;&laquo;РАБОЧИЙ РЕЖИМ&raquo;.</p>
<p>В&nbsp;&laquo;РАБОЧЕМ РЕЖИМЕ&raquo;, после ввода номера опыта, текущие отсчеты сохраняются в&nbsp;памяти контроллера, при
нажатии кнопки &laquo;ПУСК&raquo;, либо при нажатии дистанционной кнопки (радиокнопки). Прибор ТЕСТ-К2М может быть подключен к&nbsp;переносному ПК&nbsp;(ноутбуку) и&nbsp;использоваться в&nbsp;режиме прямой передачи данных.</p>
<p>Одновременно, они распечатываются на&nbsp;минипринтере. При включенном интерфейсном кабеле, контроллер переходит
в&nbsp;режим &laquo;ПЕРЕДАЧИ ДАННЫХ&raquo;, данные передаются в&nbsp;компьютер для последующей обработки.</p>
<p>Помимо последовательного порта RS-232, прибор Тест-К2М оснащен двумя портами USB для записи данных на
флэш-диск и&nbsp;передачи на&nbsp;персональный компьютер.</p>
<p>Разъем А&nbsp;используется для передачи данных на&nbsp;флеш-диск.</p>
<p>Разъем В&nbsp;используется для передачи данных с&nbsp;помощью USB кабеля на&nbsp;ПК.</p>
<p>32&nbsp;кБайта памяти позволяют сохранять результаты до&nbsp;3000&nbsp;метров зондирования.</p>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li></ul>
</div>