<div class="block"><p>Предназначен для погружения зондировочных штанг буровыми установками типа УРБ-2А2, присоединительная резьба З-50</p>
<img src="/i/szNagol.jpg" alt="&#x41E;&#x431;&#x449;&#x438;&#x439; &#x432;&#x438;&#x434;."/>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-12">Комплект ТЕСТ-12</a></li>
<li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li>
<li><a href="/complect/ТЕСТ-К4U">Комплект ТЕСТ-К4&nbsp;CPTU</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4Б">Комплект ТЕСТ-К4&nbsp;Б</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4БПД">Комплект ТЕСТ-К4+БПД1</a></li>
<li><a href="/complect/ТЕСТ-К4М">Комплект ТЕСТ-К4М</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4У">Комплект ТЕСТ-К4&nbsp;У</a></li></ul>
</div>