<div class="block">
<p>Регистрирующий двухканальный измерительный прибор ТЕСТ-АМ&nbsp;предназначен для усиления и&nbsp;преобразования дебаланса
тензометрических полумостов зонда и&nbsp;их&nbsp;вывод на&nbsp;ЖК-дисплей.</p>
<p>Данный прибор может использоваться в&nbsp;<a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;2&#x41C;">комплекте ТЕСТ-К2М</a> как резервный.</p>
<div class="pslider__wrapper">
<!--<div class="pslider__title"><span class="pslider__title__txt">Фотографии</span><span class="pslider__title__counter"></span></div>-->
<div class="pslider__photos__wrapper"><div class="navi_left" style="display: none;"></div><div class="navi_right"></div>
<!--<div class="navi_left"></div><div class="navi_right"></div>-->
<div class="pslider__photos__list"><div class="item active" data-pslider-pos="1"><i class="exp"><a href="/i/test-am1.jpg" target="_blank"></a></i><a href="/i/test-am1.jpg" target="_blank"><img src="/i/test-am1_gs.jpg" alt="Фото №1" title="Измерительный прибор ТЕСТ-АМ"></a></div><div class="item" data-pslider-pos="2"><i class="exp"><a href="/i/test-am2.jpg" target="_blank"></a></i><a href="/i/test-am2.jpg" target="_blank"><img src="/i/test-am2_gs.jpg" alt="Фото №2" title="Измерительный прибор ТЕСТ-АМ, шнуры, розетка"></a></div></div>
</div>
<!--<div class="pslider__photoDesc"></div>--></div>
<table cellspacing="0" cellpadding="0" class="table spec">
<tr>
<td class="col57">Напряжение питания, Вольт</td>
<td class="col43"><nobr>11&ndash;18</nobr></td>
</tr>
<tr>
<td class="col57">Потребляемый ток, А</td>
<td class="col43">0,5</td>
</tr>
<tr>
<td class="col57">Количество измерительных каналов</td>
<td class="col43">2</td>
</tr>
<tr>
<td class="col57">Время выхода в&nbsp;раб. режим, мин</td>
<td class="col43">1</td>
</tr>
<tr>
<td class="col57">Диапазон рабочих температур, С°</td>
<td class="col43">-10..+40</td>
</tr>
<tr>
<td class="col57">Габаритные размеры, мм</td>
<td class="col43">200x100x40</td>
</tr>
<tr>
<td class="col57">Масса прибора, кг</td>
<td class="col43">0,5</td>
</tr>
</table>
</div>
<div class="block">
<h2><span>Устройство и&nbsp;работа</span></h2>
<p>На&nbsp;дисплее, расположенном на&nbsp;лицевой панели прибора, показания меняются пропорционально усилиям, действующим
на&nbsp;конус и&nbsp;муфту трения зонда.</p>
<p>Регистрирующий прибор ТЕСТ-АМ&nbsp;выполнен в&nbsp;виде двухканального усилителя с&nbsp;цифровым выходом.</p>
<p>Прибор имеет функции:</p>
<ul>
<li>автобалансировки зондов;</li>
<li>сохранения тарировочных параметров зондов и&nbsp;диагностики измерительных каналов;</li>
</ul>
<p>Прибор работает в&nbsp;двух основных режимах:</p>
<ul>
<li>калибровка каналов и&nbsp;сохранение тарировочных параметров конкретного зонда;</li>
<li>рабочий режим (измерение сопротивлений грунта по&nbsp;конусу и&nbsp;муфте).</li>
</ul>
<p>На&nbsp;передней панели измерительного прибора расположен ЖК-дисплей и&nbsp;две кнопки: кнопка &laquo;Сброс&raquo; и&nbsp;кнопка
&laquo;F&raquo;.</p>
<p>Для подключения тензометрического зонда и&nbsp;прибора ТЕСТ-АМ&nbsp;к&nbsp;бортовой сети, используются разъемы, расположенные
на&nbsp;задней стенке прибора.</p>
<p>Цена деления по&nbsp;каждому каналу определяется, в&nbsp;зависимости от&nbsp;настройки аппаратуры ТЕСТ-АМ.</p>
</div>
<div class="block">
<?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>
<div class="block">
<h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-12">Комплект ТЕСТ-12</a></li>
<li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li></ul>
</div>
