<div class="block"><p>Прибор Проверки Кабелей и Зондов (Далее ППКЗ-2) предназначен для оперативной проверки в полевых условиях целостности электрических цепей соединительных кабелей и зондов, входящих в оборудование серии <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;2&#x41C;">ТЕСТ-К2М</a> и&nbsp;<a href="/complect/&#x422;&#x415;&#x421;&#x422;-12">ТЕСТ-12</a>.</p>
<p>При проверке соединительного кабеля и зонда прибор может зафиксировать обрывы и замыкания электрических цепей, а так же падение сопротивления изоляции вследствие попадания влаги в электрические разъемы.</p>
<img src="/i/szPPKZ2.jpg" alt="&#x41E;&#x431;&#x449;&#x438;&#x439; &#x432;&#x438;&#x434;."/>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Температурный диапазон работы, °C</td>
<td>−10..+50</td>
</tr>
<tr>
<td>Вес прибора, кг</td>
<td>0,25</td>
</tr>
<tr>
<td>Габаритные размеры, мм</td>
<td>170×77×25</td>
</tr>
<tr>
<td>Источник питания</td>
<td>литиевая батарея CR2450</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Состав комплекта</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Прибор ППКЗ-2</td>
<td>1&nbsp;шт</td>
</tr>
<tr>
<td>Инструкция по&nbsp;эксплуатации</td>
<td>1&nbsp;шт</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Устройство и&nbsp;работа комплекта</span></h2>
<p>На&nbsp;лицевой панели прибора установлены три индикатора: </p>
<ul>
<li>&laquo;ИСПРАВЕН&raquo;&nbsp;&mdash; зеленого цвета, сигнализирует о&nbsp;исправности оборудования. </li>
<li>&laquo;НЕИСПРАВЕН&raquo;&nbsp;&mdash; оранжевого цвета, сигнализирует об&nbsp;неисправности оборудования. </li>
<li>&laquo;ВОДА&raquo;&nbsp;&mdash; синего цвета, сигнализирует о&nbsp;возможном попадании влаги в&nbsp;электрические соединения.</li>
</ul>
<p>Также на&nbsp;лицевой панели установлена кнопка &laquo;ПУСК&raquo; для запуска проверки.</p>
<p>На&nbsp;боковых стенках прибора размещены по&nbsp;два разъема РС-<nobr>7-вилки</nobr> для подключения кабеля зонда, и&nbsp;по&nbsp;два разъёма РС-<nobr>7-розетки,</nobr> для подключения зонда А2/350.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szPPKZ2.pdf" target="_blank">Прибор проверки кабелей и&nbsp;зондов ППКЗ-2&nbsp;(PDF)</a></p>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-12">Комплект ТЕСТ-12</a></li>
<li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li></ul>
</div>