<div class="block"><p>Пробоотборник Р&nbsp;45/100&nbsp;предназначен для отбора проб глинистых и&nbsp;песчаных грунтов, с&nbsp;помощью установок статического зондирования. Внешний вид пробоотборника показан на&nbsp;рисунке.</p>
<img src="/i/szProb3.jpg" alt="&#x41E;&#x431;&#x449;&#x438;&#x439; &#x432;&#x438;&#x434;."/>
</div><div class="block"><h2><span>Технические характеристики</span></h2>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Внешний диаметр, мм</td>
<td>45</td>
</tr>
<tr>
<td>Диаметр пробы, мм</td>
<td>36</td>
</tr>
<tr>
<td>Высота пробы, мм</td>
<td>100</td>
</tr>
<tr>
<td>Объем пробы, см³</td>
<td>100</td>
</tr>
<tr>
<td>Масса, кг</td>
<td>1,8</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div><div class="block"><h2><span>Работа с&nbsp;пробоотборником</span></h2>
<p>Пробоотборник вдавливают в&nbsp;грунт, с&nbsp;помощью зондировочной установки и&nbsp;штанг. На&nbsp;заданной глубине он&nbsp;открывается и&nbsp;вдавливается в&nbsp;грунт на&nbsp;100&nbsp;мм&nbsp;для отбора пробы. После извлечения пробоотборника из&nbsp;грунта, <a href="/row/8873413b37a6ae9a05b28e0221fe1a14">приемную гильзу</a> с&nbsp;грунтом помещают в&nbsp;герметичный <a href="/row/cc732f20b4c6d32546d1597cde79d02e">контейнер</a>. </p>
<p>В&nbsp;пробоотборник устанавливается новая гильза, и&nbsp;он&nbsp;погружается на&nbsp;следующую отметку, где все операции повторяются. При использовании пробоотборников, в&nbsp;процессе зондирования грунтов, можно выполнить идентификацию и&nbsp;описание грунтов по&nbsp;глубине скважины, а&nbsp;также определить основные физические показатели. </p>
<p>Пробоотборник не&nbsp;предназначен для отбора проб в&nbsp;глинистых грунтах текучей консистенции и&nbsp;в&nbsp;песчаных водонасыщенных грунтах.</p>
</div><div class="block"><h2><span>Версия для печати</span></h2>
<p><a href="/docs/print/szProb.pdf" target="_blank">Пробоотборник Р45/100&nbsp;(PDF)</a></p>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ПРОБ">Пробоотборник Р45/100</a></li>
<li><a href="/complect/УСЗ">Установка статического зондирования грунтов УСЗ 15/36А (15/36Г)</a></li></ul>
</div>