<div class="block"><p>Выносная радиокнопка РК-11&nbsp;предназначена для ввода отсчетов при зондировании грунтов в&nbsp;режиме сохранения результатов зондирования в&nbsp;контроллере <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;2&#x41C;">ТЕСТ-К2М</a>, <a href="/complect/&#x422;&#x415;&#x421;&#x422;-12">ТЕСТ-12</a>, <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;4&#x41C;">ТЕСТ-К4М</a> и&nbsp;<a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;4U">ТЕСТ К4&nbsp;CPTU</a>.</p>
<p>При использовании радиокнопки контроллер может находиться на&nbsp;расстоянии до&nbsp;<nobr>20-ти</nobr>&nbsp;метров от&nbsp;оператора (например в&nbsp;теплой кабине буровой установки), в&nbsp;то&nbsp;время как кнопка находится у&nbsp;оператора в&nbsp;руке. </p>
<p>Сохранение отсчетов происходит при нажатии кнопки.</p>
<img src="/i/szRBut.jpg" alt="&#x41E;&#x431;&#x449;&#x438;&#x439; &#x432;&#x438;&#x434;."/>
<h4>Технические характеристики:</h4>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Напряжение питания, Вольт</td>
<td>12</td>
</tr>
<tr>
<td>Радиус действия, м</td>
<td>25</td>
</tr>
<tr>
<td>Время работы, до&nbsp;замены батареи, мес.</td>
<td>12</td>
</tr>
<tr>
<td>Масса комплекта, кг</td>
<td>0,2</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-12">Комплект ТЕСТ-12</a></li>
<li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li>
<li><a href="/complect/ТЕСТ-К4U">Комплект ТЕСТ-К4&nbsp;CPTU</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4Б">Комплект ТЕСТ-К4&nbsp;Б</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4БПД">Комплект ТЕСТ-К4+БПД1</a></li>
<li><a href="/complect/ТЕСТ-К4М">Комплект ТЕСТ-К4М</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4У">Комплект ТЕСТ-К4&nbsp;У</a></li></ul>
</div>