<div class="block">
<p>Штанги КТ&nbsp;имеют коническую резьбу и&nbsp;проходят дополнительную термообработку (обладают повышенными
механическими свойствами). На&nbsp;штангах выполнены пазы для извлечения колонны штанг по&nbsp;окончании
опыта. Предназначены для погружения зонда при проведении статического зондирования грунтов. Внутри
зондировочных штанг проходит кабель зонда, который обеспечивает передачу сигнала с&nbsp;тензометрического
зонда на&nbsp;измерительный прибор.</p>
<div class="gallery">
<h3>Фотографии</h3>
<div id="photoAlbumPhotosList">
<a href="/i/szSht10.jpg" class="img" data-action="showBigPhoto" id="szSht10jpg"><img src="/i/szSht10_g.jpg" alt="Штанга К Ø36х10, длина 1м термоупрочненная"></a>
<a href="/i/szSht1.jpg" class="img" data-action="showBigPhoto" id="szSht1jpg"><img src="/i/szSht1_g.jpg" alt="Штанга К Ø36х10, длина 1м термоупрочненная"></a>
<div class="clearfix"></div>
</div>
</div>
</div>
<div class="block">
<?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>
<div class="block">
<h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-12">Комплект ТЕСТ-12</a></li>
<li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li>
<li><a href="/complect/ТЕСТ-К4">Комплект ТЕСТ-К4</a></li>
<li><a href="/complect/ТЕСТ-К4U">Комплект ТЕСТ-К4&nbsp;CPTU</a></li>
<li><a href="/complect/ТЕСТ-К4Б">Комплект ТЕСТ-К4&nbsp;Б</a></li>
<li><a href="/complect/ТЕСТ-К4БПД">Комплект ТЕСТ-К4+БПД1</a></li>
<li><a href="/complect/ТЕСТ-К4У">Комплект ТЕСТ-К4&nbsp;У</a></li></ul>
</div>
