<div class="block"><p>Предназначена для погружения тензометрического зонда при проведении статического зондирования грунтов. Имеет цилиндрическую (ленточную) резьбу и&nbsp;пазы для извлечения колонны штанг по&nbsp;окончании опыта. Внутри зондировочных штанг проходит кабель, который обеспечивает передачу сигнала с&nbsp;тензометрического зонда на&nbsp;измерительный прибор.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szSht.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szSht_gs.jpg)" alt="Фото №1" title="Штанга для статического зондирования Ø36х8, ст.40Х, длина 1м"></div>
</a>
<div class="slide-text">Штанга для статического зондирования Ø36х8, ст.40Х, длина 1м</div>
</div>
<div class="slide">
<a href="/i/szSht2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szSht2_gs.jpg)" alt="Фото №2" title="Штанга для статического зондирования Ø36х8, ст.40Х, длина 1м"></div>
</a>
<div class="slide-text">Штанга для статического зондирования Ø36х8, ст.40Х, длина 1м</div>
</div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-12">Комплект ТЕСТ-12</a></li>
<li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li></ul>
</div>