<div class="block"><p>Предназначено для настройки и&nbsp;проверки аппаратуры.</p>
<p>В&nbsp;комплект входит: тарировочное устройство, опора З, наконечник З&nbsp;(наконечник ЗД).</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/szTarU.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szTarU_gs.jpg)" alt="Фото №1" title="Общий вид"></div>
</a>
<div class="slide-text">Общий вид</div>
</div>
<div class="slide">
<a href="/i/szTarU1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szTarU1_gs.jpg)" alt="Фото №2" title="Опора З"></div>
</a>
<div class="slide-text">Опора З</div>
</div>
<div class="slide">
<a href="/i/szTarU3.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/szTarU3_gs.jpg)" alt="Фото №3" title="Наголовник З (для зондов А2/350)"></div>
</a>
<div class="slide-text">Наголовник З&nbsp;(для зондов А2/350)</div>
</div>
</div>
</div><div class="block"><?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-12">Комплект ТЕСТ-12</a></li>
<li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li>
<li><a href="/complect/ТЕСТ-К4U">Комплект ТЕСТ-К4&nbsp;CPTU</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4Б">Комплект ТЕСТ-К4&nbsp;Б</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4БПД">Комплект ТЕСТ-К4+БПД1</a></li>
<li><a href="/complect/ТЕСТ-К4М">Комплект ТЕСТ-К4М</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4У">Комплект ТЕСТ-К4&nbsp;У</a></li></ul>
</div>