<div class="block">
<p>Предназначен для измерения усилий действующих на&nbsp;зонд при его погружении в&nbsp;исследуемый грунт. Тензометрический зонд состоит корпуса, конуса и&nbsp;муфты трения. Внутри муфты трения установлен тензодинамометр, который при погружении зонда в&nbsp;грунт деформируется как от&nbsp;действия грунта на&nbsp;конус зонда, так и&nbsp;от&nbsp;силы трения, действующей на&nbsp;муфту трения. Сигнал с&nbsp;тензодинамометра по&nbsp;кабелю, проходящему внутри зондировочных штанг передаётся на&nbsp;измерительный прибор.</p>
<p>Основные параметры зондов <nobr>2-го</nobr>&nbsp;типа регламентируются ГОСТ <nobr>19912&ndash;2001</nobr>, где приведены геометрические размеры зондов
и&nbsp;требования к&nbsp;основной погрешности измерения показателей сопротивления грунта. Допустимые диапазоны измерения усилий по&nbsp;конусу и&nbsp;муфте трения зонда определяются их&nbsp;конструктивными особенностями.</p>
<img src="/i/szZA2-250.jpg" alt="&#x41E;&#x431;&#x449;&#x438;&#x439; &#x432;&#x438;&#x434;."/>
<table cellspacing="0" cellpadding="0" class="table spec">
<tr>
<td class="col57">Тип зонда по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr></td>
<td class="col43">электрический</td>
</tr>
<tr>
<td class="col57">Диаметр основания конуса, мм</td>
<td class="col43">35,7</td>
</tr>
<tr>
<td class="col57">Угол при вершине, град</td>
<td class="col43">60</td>
</tr>
<tr>
<td class="col57">Диаметр муфты трения, мм</td>
<td class="col43">35,7</td>
</tr>
<tr>
<td class="col57">Длина муфты трения, мм</td>
<td class="col43">310</td>
</tr>
<tr>
<td class="col57">Площадь муфты трения, cм²</td>
<td class="col43">250</td>
</tr>
<tr>
<td class="col57">Диапазон измерения удельного сопротивления грунта по&nbsp;конусу, МПа</td>
<td class="col43">0,<nobr>2&ndash;50</nobr></td>
</tr>
<tr>
<td class="col57">Диапазон измерения удельного сопротивления грунта по&nbsp;муфте трения, кПа</td>
<td class="col43"><nobr>3&ndash;600</nobr></td>
</tr>
<tr>
<td class="col57">Основная погрешность измерения удельного сопротивления грунта</td>
<td class="col43">не&nbsp;более 5%</td>
</tr>
</table>
</div>
<div class="block">
<?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>
<div class="block">
<h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li></ul>
</div>
