<div class="block"><p>Зонды А4/350&nbsp;имеют четыре канала измерения: сопротивление конуса <b>qc</b> (МПа), сопротивление грунта по муфте трения <b>fs</b> (кПа), инклинометр <b>a</b> (°) и&nbsp;поровое давление <b>u2</b> (кПа).</p>
<p>Область применения зондов А4/350&nbsp;ограничена песчаными и&nbsp;глинистыми водонасыщенными грунтами, в&nbsp;основном слабыми, характерными для морских отложений, которые распространены в&nbsp;прибрежной зоне.</p>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-К4U">Комплект ТЕСТ-К4&nbsp;CPTU</a></li></ul>
</div>