<div class="block"><p>Основные параметры цифровых тензометрических зондов регламентируются ГОСТ <nobr>19912&ndash;2012</nobr>, где приведены
геометрические размеры зондов и&nbsp;требования к&nbsp;основной погрешности измерения показателей сопротивления
грунта.</p>
<p>Зонды А3/350&nbsp;имеют три канала измерения: сопротивление конуса <b>qc</b> (МПа), сопротивление грунта
по&nbsp;муфте трения <b>fs</b> (кПа) и&nbsp;инклинометр&nbsp;&mdash; угол отклонения зонда от&nbsp;вертикали
<b>a</b> (°).</p>
<p>Основным типом зонда, предназначенного для работы с&nbsp;комплектом ТЕСТ-К4, являются зонды исполнения
1&nbsp;-&nbsp;А<nobr>3&ndash;350&ndash;50</nobr>/20. Эти зонды калибруются на&nbsp;предприятии-изготовителе на&nbsp;диапазоны измерения 50&nbsp;МПа по&nbsp;каналу &laquo;Конус&raquo; и&nbsp;571&nbsp;кПа по&nbsp;каналу &laquo;Муфта&raquo;. Для работы со&nbsp;слабыми грунтами поставляются
зонды исполнения 2&nbsp;-&nbsp;А<nobr>3&ndash;350&ndash;25</nobr>/20, которые калибруются на&nbsp;диапазоны измерения по&nbsp;каналу &laquo;Конус&raquo;&nbsp;&mdash; 25&nbsp;МПа, а&nbsp;по&nbsp;каналу &laquo;Муфта&raquo;&nbsp;&mdash; 571&nbsp;кПа.</p>
<p>Каждый зонд имеет паспорт, в&nbsp;котором указаны номер зонда, значения калибровки по&nbsp;каналу &laquo;Конус&raquo;
и&nbsp;&laquo;Муфта&raquo;. </p>
<img src="/i/szZA3-350.jpg" alt="&#x41E;&#x431;&#x449;&#x438;&#x439; &#x432;&#x438;&#x434;."/>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Тип зонда по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr></td>
<td>электрический</td>
</tr>
<tr>
<td>Диаметр основания конуса, мм</td>
<td>35,7</td>
</tr>
<tr>
<td>Угол при вершине, град</td>
<td>60</td>
</tr>
<tr>
<td>Диаметр муфты трения, мм</td>
<td>35,7</td>
</tr>
<tr>
<td>Длина муфты трения, мм</td>
<td>310</td>
</tr>
<tr>
<td>Площадь муфты трения, cм²</td>
<td>350</td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;конусу (исполнение 1), МПа</td>
<td>0,<nobr>2&ndash;50</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;конусу (исполнение 2), МПа</td>
<td>0,<nobr>025&ndash;25</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопр. грунта по&nbsp;муфте трения (исполнение 1), кПа</td>
<td>0,<nobr>6&ndash;571</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопр. грунта по&nbsp;муфте трения (исполнение 2), кПа</td>
<td>0,<nobr>6&ndash;571</nobr></td>
</tr>
<tr>
<td>Основная погрешность измерения удельного сопротивления грунта</td>
<td>не&nbsp;более 2,5%</td>
</tr>
<tr>
<td>Угол отклонения от&nbsp;вертикали, град</td>
<td><nobr>1&ndash;20</nobr></td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-К4U">Комплект ТЕСТ-К4&nbsp;CPTU</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4Б">Комплект ТЕСТ-К4&nbsp;Б</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4БПД">Комплект ТЕСТ-К4+БПД1</a></li>
<li><a href="/complect/ТЕСТ-К4М">Комплект ТЕСТ-К4М</a></li>
<li><a href="/complect/ТЕСТ-К4М#ТЕСТ-К4У">Комплект ТЕСТ-К4&nbsp;У</a></li></ul>
</div>