<div class="block"><p>Предназначен для измерения усилий действующих на&nbsp;зонд при его погружении в&nbsp;исследуемый грунт. Тензометрический зонд состоит корпуса, конуса и&nbsp;муфты трения. Внутри муфты трения установлен тензодинамометр, который при погружении зонда в&nbsp;грунт деформируется как от&nbsp;действия грунта на&nbsp;конус зонда, так и&nbsp;от&nbsp;силы трения, действующей на&nbsp;муфту трения. Сигнал с&nbsp;тензодинамометра по&nbsp;кабелю, проходящему внутри зондировочных штанг передаётся на&nbsp;измерительный прибор.</p>
<p>Основные параметры зондов <nobr>2-го</nobr>&nbsp;типа регламентируются ГОСТ <nobr>19912&ndash;2012</nobr>, где приведены геометрические размеры зондов
и&nbsp;требования к&nbsp;основной погрешности измерения показателей сопротивления грунта. Допустимые диапазоны измерения усилий по&nbsp;конусу и&nbsp;муфте трения зонда определяются их&nbsp;конструктивными особенностями.</p>
<p>Основным типом зонда, предназначенного для работы с&nbsp;комплектом ТЕСТ, являются зонды исполнения 1&nbsp;-&nbsp;А<nobr>2&ndash;350&ndash;50</nobr>/20. Эти зонды калибруются на&nbsp;предприятии-изготовителе на&nbsp;диапазоны измерения 50&nbsp;МПа по&nbsp;каналу &laquo;Конус&raquo; и&nbsp;571&nbsp;кПа по&nbsp;каналу &laquo;Муфта&raquo;. Для работы со&nbsp;слабыми грунтами поставляются зонды исполнения 2&nbsp;-&nbsp;А<nobr>2&ndash;350&ndash;25</nobr>/20, которые калибруются на&nbsp;диапазоны измерения по&nbsp;каналу &laquo;Конус&raquo;&nbsp;&mdash; 25&nbsp;МПа, а&nbsp;по&nbsp;каналу &laquo;Муфта&raquo;&nbsp;&mdash; 571&nbsp;кПа.</p>
<img src="/i/szZA2-350.jpg" alt="&#x41E;&#x431;&#x449;&#x438;&#x439; &#x432;&#x438;&#x434;."/>
<div class="block-row">
<div class="block-column">
<table class="table spec">
<tr>
<td>Тип зонда по&nbsp;ГОСТ <nobr>19912&ndash;2012</nobr></td>
<td>электрический</td>
</tr>
<tr>
<td>Диаметр основания конуса, мм</td>
<td>35,7</td>
</tr>
<tr>
<td>Угол при вершине, град</td>
<td>60</td>
</tr>
<tr>
<td>Диаметр муфты трения, мм</td>
<td>35,7</td>
</tr>
<tr>
<td>Длина муфты трения, мм</td>
<td>310</td>
</tr>
<tr>
<td>Площадь муфты трения, cм²</td>
<td>350</td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;конусу (исполнение 1), МПа</td>
<td>0,<nobr>2&ndash;50</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопротивления грунта по&nbsp;конусу (исполнение 2), МПа</td>
<td>0,<nobr>1&ndash;25</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопр. грунта по&nbsp;муфте трения (исполнение 1), кПа</td>
<td><nobr>3&ndash;571</nobr></td>
</tr>
<tr>
<td>Диапазон измерения удельного сопр. грунта по&nbsp;муфте трения (исполнение 2), кПа</td>
<td><nobr>3&ndash;571</nobr></td>
</tr>
<tr>
<td>Основная погрешность измерения удельного сопротивления грунта</td>
<td>не&nbsp;более 5%</td>
</tr></table>
</div>
<div class="block-column"></div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/ТЕСТ-12">Комплект ТЕСТ-12</a></li>
<li><a href="/complect/ТЕСТ-К2М">Комплект ТЕСТ-К2M</a></li></ul>
</div>