<div class="block"><p>Формирователь отсчетов предназначен для работы в&nbsp;составе комплексов статического зондирования, совместно с&nbsp;комплектами оборудования <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;2&#x41C;">ТЕСТ-К2М</a>, <a href="/complect/&#x422;&#x415;&#x421;&#x422;-12">ТЕСТ-12</a>, <a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;4&#x41C;">ТЕСТ-К4М</a> и&nbsp;<a href="/complect/&#x422;&#x415;&#x421;&#x422;-&#x41A;4U">ТЕСТ К4&nbsp;CPTU</a>.</p>
<p>Формирователи измеряют глубину погружения колонны штанг, выдавая сигнал на&nbsp;запись данных с&nbsp;шагом 2.5,  5,  10&nbsp;или
20&nbsp;см.</p>
<p>Формирователь отсчетов типа ФО&nbsp;(далее&nbsp;&mdash; формирователь) предназначен для формирования и&nbsp;выдачи в&nbsp;автоматическом режиме
сигнала &laquo;ПУСК&raquo; на&nbsp;контроллеры серий ТЕСТ при производстве инженерно-геологических изысканий методом статического
зондирования. Формирователь должен эксплуатироваться с&nbsp;установками статического зондирования производства АО&nbsp;ГЕОТЕСТ.</p>
<div class="owl-carousel owl-theme slider slider-phone">
<div class="slide">
<a href="/i/uszFO.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/uszFO_gs.jpg)" alt="Фото №1" title="ФО2Р"></div>
</a>
<div class="slide-text">ФО2Р</div>
</div>
<div class="slide">
<a href="/i/uszFO0.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/uszFO0_gs.jpg)" alt="Фото №2" title="ФО2Р"></div>
</a>
<div class="slide-text">ФО2Р</div>
</div>
<div class="slide">
<a href="/i/uszFO1.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/uszFO1_gs.jpg)" alt="Фото №3" title="ФО-III"></div>
</a>
<div class="slide-text">ФО-III</div>
</div>
<div class="slide">
<a href="/i/uszFO2.jpg" target="_blank" class="slide-img">
<div style="background-image: url(/i/uszFO2_gs.jpg)" alt="Фото №4" title="ФО-III"></div>
</a>
<div class="slide-text">ФО-III</div>
</div>
</div>
</div>
</div><div class="block"><h2><span>Применимость</span></h2><ul class="usage"><li><a href="/complect/УСЗ">Установка статического зондирования грунтов УСЗ 15/36А (15/36Г)</a></li></ul>
</div>