<div class="block">
<p>Устройство предназначено для лидерного бурения скважин перед проведением испытаний методом статического зондирования. Изделие должно эксплуатироваться только в&nbsp;составе <a href="/complect/&#x423;&#x421;&#x417;">установок статического зондирования</a> производства АО&nbsp;&laquo;ГЕОТЕСТ&raquo;, снаряженных направляющим устройством для шнеков.</p>
<div class="pslider__wrapper">
<!--<div class="pslider__title"><span class="pslider__title__txt">Фотографии</span><span class="pslider__title__counter"></span></div>-->
<div class="pslider__photos__wrapper"><div class="navi_left" style="display: none;"></div><div class="navi_right"></div>
<!--<div class="navi_left"></div><div class="navi_right"></div>-->
<div class="pslider__photos__list"><div class="item active" data-pslider-pos="1"><i class="exp"><a href="/i/uszUstrB.jpg" target="_blank"></a></i><a href="/i/uszUstrB.jpg" target="_blank"><img src="/i/uszUstrB_gs.jpg" alt="Фото №1" title="Общий вид"></a></div></div>
</div>
<!--<div class="pslider__photoDesc"></div>--></div>
</div>
<div class="block">
<h2><span>Технические характеристики</span></h2>
<table cellspacing="0" cellpadding="0" class="table spec">
<tr>
<td class="col57">Диаметр шнека, мм</td>
<td class="col43">62</td>
</tr>
<tr>
<td class="col57">Присоединительный размер Муфты</td>
<td class="col43">Ш-19</td>
</tr>
<tr>
<td class="col57">Диапазон температур эксплуатации и&nbsp;хранения, °С</td>
<td class="col43">-30..+50</td>
</tr>
<tr>
<td class="col57">Масса, кг</td>
<td class="col43">22,5</td>
</tr>
</table>
</div>
<div class="block">
<?php include_partial("order", array("form" => $form, "params" => $params)) ?>
</div>
